<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.print.mapper.PrintTaskMapper">
	<select id="getTimestamp" resultType="java.lang.Long">
		SELECT
		UNIX_TIMESTAMP(now())
		FROM DUAL
	</select>
	<insert id="printTaskMigrate" parameterType="java.lang.Long">
		INSERT INTO printtaskhistory (
		PrintTaskID,
		PrintRecordID,
		CardNo,
		DocumentID,
		SchoolID,
		ClusterID,
		PrinterID,
		TaskStatus,
		PrintedPageCount,
		PrintedStartPage,
		PrintedEndPage,
		PrintPageCount,
		PrintStartPage,
		PrintEndPage,
		TaskCreateDateTime,
		TaskUpdateDateTime,
		Message,
		RetryCount,
		CreateDatetime)
		SELECT
		PrintTaskID,
		PrintRecordID,
		CardNo,
		DocumentID,
		SchoolID,
		ClusterID,
		PrinterID,
		TaskStatus,
		PrintedPageCount,
		PrintedStartPage,
		PrintedEndPage,
		PrintPageCount,
		PrintStartPage,
		PrintEndPage,
		CreateDateTime,
		UpdateDateTime,
		FailedMessage,
		RetryCount,
		SYSDATE()
		FROM printtask WHERE TaskStatus IN (3,4) AND
		UNIX_TIMESTAMP(UpdateDateTime)<![CDATA[ <]]>#{timestamp}
	</insert>
	<delete id="removeMigratedPrintTask" parameterType="java.lang.Long">
		DELETE FROM printtask WHERE TaskStatus IN (3,4) AND
		UNIX_TIMESTAMP(UpdateDateTime)<![CDATA[ <]]>#{timestamp}
	</delete>
</mapper>