<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.xk.main.mapper.PartnerMapper">

	<!--通过partnerId获取单条记录-->
	<select id="get" parameterType="java.lang.Integer" resultType="com.ry.xk.main.bo.Partner">
		select p.partnerId,p.partnerKey,p.partnerSecret,p.partnerToken,p.partnerTypeId,p.startDateTime,p.endDateTime,p.statusFlag,
		 p.partnerCode,p.partnerName,p.parentId,p.weChatAppId,p.weChatAppSecret,p.sourcePlantCode,p.partnerExtension from partner p where p.statusFlag = 1 and p.partnerId = #{partnerId}
	</select>

	<!--通过partnerId获取学科映射-->
	<select id="getPartnerCourseMapping" parameterType="java.lang.Integer" resultType="com.ry.xk.main.bo.PartnerCourseMapping">
		select partnerId,courseId,courseTypeId,statusFlag,createDateTime,updateDateTime,packagePrice from partnercoursemapping where statusFlag = 1 and partnerId = #{partnerId}
	</select>

	<!--通过CourseTypeId获取学段-->
	<select id="getCourseType" parameterType="java.lang.Integer" resultType="com.ry.xk.common.bo.CommonDictionary">
		select commonDictionaryId,itemGroup,itemKey,itemValue,orderIndex from commondictionary
		where ItemGroup = '学段'
		and statusflag = 1
		and ItemKey = #{courseTypeId}
	</select>

</mapper>