<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.xk.main.mapper.ProductRelationMapper">

	<!-- 通过主键获取一条数据 -->
	<select id="getByPrimary" resultType="com.ry.xk.main.bo.ProductRelation">
		select productId,referenceId,productSourceTypeId,statusFlag,createDateTime,updateDateTime from productRelation
		where statusFlag = 1 and productId = #{productId}
			<if test="referenceId != 0">
				and referenceId = #{referenceId}
			</if>
		 and productSourceTypeId = #{productSourceTypeId}
	</select>
</mapper>