<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.xk.main.mapper.UserOrderMapper">

	<!-- 更新userorder表数据 -->
	<update id="update"
		parameterType="com.ry.xk.common.bo.UserOrder">
		update userorder set StatusFlag =
		#{statusFlag,jdbcType=TINYINT}
		where
		OrderNumber =
		#{orderNumber,jdbcType=VARCHAR}
	</update>

	<select id="getByOrderNumber" parameterType="java.lang.String"
		resultType="com.ry.xk.common.bo.UserOrder">
		select
		userId,orderNumber,statusFlag,createDateTime,updateDateTime,price,productId
		from userorder
		where orderNumber = #{orderNumber,jdbcType=VARCHAR} and
		statusFlag = 1
	</select>

	<insert id="insert"
		parameterType="com.ry.xk.common.bo.UserOrder">
		INSERT INTO `userorder` (
		UserID,
		OrderNumber,
		StatusFlag,
		CreateDateTime,
		UpdateDateTime,
		Price,
		ProductID
		)
		VALUE
		(
		#{userId,jdbcType=INTEGER},
		#{orderNumber,jdbcType=VARCHAR},
		0,
		now(),
		now(),
		#{price,jdbcType=DECIMAL},
		#{productId,jdbcType=INTEGER})
	</insert>

</mapper>