<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.xk.main.mapper.UserBindDetailMapper">
	<select id="getUserIdByOpenId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select IF(COUNT(userID)>0,userID,0) from userbinddetail
		where statusFlag = 1
		and
		bindContent = #{bindContent,jdbcType=VARCHAR}
	</select>
	<insert id="insert"
		parameterType="com.ry.xk.main.bo.UserBindDetail">
		insert into userbinddetail
		(UserID,BindContent,CreateDateTime,UpdateDateTime)
		value
		(#{userId,jdbcType=INTEGER},#{bindContent,jdbcType=VARCHAR},SYSDATE(),SYSDATE())
	</insert>

	<select id="getByUserId" parameterType="java.lang.Integer"
		resultType="com.ry.xk.main.bo.UserBindDetail">
		select
		userId,bindContent,bindTypeId,statusFlag,createDateTime,updateDateTime
		from userbinddetail
		where userid = #{userId,jdbcType=INTEGER} and
		bindTypeId = 1 and
		statusFlag = 1
	</select>
</mapper>