<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="'媒体管理-添加媒体-'+${AppName}"></title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/need/laydate.css"/>
    <link type="text/css" rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css"
          id="LayDateSkin"/>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <!--<script src="/js/media/media.js"></script>-->
    <script src="/js/media/addMedia.js"></script>
    <script src="/js/media/common.js"></script>

    <style type="text/css">
        #mediaType {
            padding: 10px;
            display: table;
        }

        /*#mediaType span{*/
        /*border: 1px solid red;*/
        /*padding: 5px 8px;*/
        /*cursor: pointer;*/
        /*border-radius: 5px;*/
        /*}*/
        /*#mediaType span:hover{*/
        /*background-color: #e1e1e8;*/

        /*}*/
    </style>


</head>
<body>
<!--<span class="layui-breadcrumb" style="visibility: visible;">-->
  <!--<a href="/">首页</a><span lay-separator="">/</span>-->
  <!--<a href="/demo/">媒介管理</a><span lay-separator="">/</span>-->
  <!--<a><cite>媒体录入</cite></a>-->
<!--</span>-->
<div class="ibox col-md-12">
    <div class="ibox-title col-md-12">
        <h3 class="box-title">媒体录入</h3>
    </div>
    <div class="ibox-content col-md-12" id="mediaType">

    </div>
    <div class="ibox-content col-md-12">
        <!--<form autocomplete="off" class="form-horizontal" action="/media" enctype="multipart/form-data" method="post">-->
        <form id="mf" autocomplete="off" class="form-horizontal" action="/media" method="post">
            <input type="hidden" id="mType" name="mType">
            <div id="mediaForm">
            </div>
            <div class="footer col-md-12" style="display: table;background-color:#F0F0F0;">
                <label class="col-sm-10 control-label " style="text-align:left;font-size: 11px">说明：1、序号、更新责任人、更新责任人部门、修改日期、板块类型等字段是自动获取的;
                    2、前面标红星的是必填项;3、媒体名称、供应商名称、联系人必须填写，不能为空</label>
                <div class="col-sm-2">
                    <button class="btn btn-danger" type="button" onclick="saveMedia()">
                        <i class="fa fa-save"></i>&nbsp;保存
                    </button>&nbsp;&nbsp;&nbsp;
                    <!--<button class="btn btn-success" type="button" onclick="location.href='/media/medias'">返回</button>-->
                    <button class="btn btn-warning" type="button"
                            onclick="window.opener=null;window.open('','_self');window.close();">
                        <i class="fa fa-close"></i>&nbsp;返回
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>