<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title data-th-text="'媒体下单-'+${AppName}"></title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <script src="https://cdn.bootcss.com/bignumber.js/5.0.0/bignumber.min.js"></script>
    <script src="/js/media/common.js"></script>
    <script src="/js/media/order.js"></script>

    <link href="/css/media/media.css" rel="stylesheet">

</head>

<!--<body class="gray-bg">-->
<body class="">
<!--<div class="wrapper wrapper-content  animated fadeInRight">-->
<div class="row" style="padding: 10px 15px">
    <div class="ibox">
        <div class="ibox-title">
            <h5>媒体下单（一） &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;<span class="text-danger "
                                                                                  id="mediaTypeText"></span>
                <input type="hidden" id="mediaTypeVal">
            </h5>
        </div>
        <div class="ibox">
            <ul id="mediaTypeUL" class="ibox-title col-lg-12">
                <li class="col-lg-12 ibox-tools" style="position: relative">
                    <label class="col-lg-1" style="text-align:left;width:6%;">板块类型：</label>
                    <div class="col-lg-11">
                    </div>
                    <a class="collapse-link" style="position: absolute;right: 10px;">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
            </ul>
            <div class="ibox-content col-lg-12" style="padding-top: 2px;display: none">
                <ul id="mediaTermUL" class=" col-lg-12">

                </ul>
            </div>

        </div>
        <div class="ibox-content" style="padding: 5px 10px">
            <!--<h4 class="m-t">媒体查询</h4>-->
            <div class="jqGrid_wrapper">
                <table id="table_medias"></table>
                <div id="pager_medias"></div>
            </div>
        </div>

        <form id="termForm" style="display: none">
            <input id="mediaType" name="mType"/>
            <!--state=1表示审核通过-->
            <input id="state" name="state" value="1" type="hidden"/>
        </form>
        <div class="ibox-content" style="padding: 5px 10px">
            <h4>订单列表</h4>
        </div>
        <div class="ibox-content" style="padding: 5px 10px">
            <form id="articleForm" method="post" action="/order/add">
                <table id="od" class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>媒体类型</th>
                        <th>媒体名称</th>
                        <th>媒介</th>
                        <th>图标</th>
                        <th>价格类型</th>
                        <th>成本价</th>
                        <th>折扣率</th>
                        <th>渠道商</th>
                        <th>修改日期</th>
                        <th>数量&nbsp;<input size="5" id="num" onkeypress="return inNum(event)" onkeyup="pushNum(this)"
                                           value="1"/>
                        </th>
                        <th>客户报价&nbsp;
                            <!--<span class="text-red">￥</span>-->
                            <input onkeypress="return inNum(event)" id="lr" size="5" maxlength="5"
                                   onkeyup="pushPrice(this)"
                                   value="0"/>%利润率
                        </th>
                    </tr>
                    </thead>
                    <tbody id="order">

                    </tbody>
                </table>
                <input id="amount" name="amount" type="hidden">
            </form>
        </div>
    </div>


    <div style="position: fixed;bottom:0px;width: 100%;padding: 5px" class="text-center col-md-12 bg-info row">
        <!--<button class="btn btn-success ">-->
            <!--<i class="fa fa-save"></i> 保存-->
        <!--</button>-->
        <button class="btn btn-warning" onclick="save()"><i class="fa fa-arrow-right"></i> 下一步</button>
        <!--<button class="btn btn-danger backButton"><i class="fa fa-close"></i> 返回</button>-->
    </div>
</div>


<!--</div>-->
</body>
<!-- 自定义js -->
<script src="/js/content.js?v=1.0.0"></script>
</html>
