<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title >供应商管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <!--<script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>-->
    <script type="text/javascript" src="/js/media/supplier_manage.js"></script>
    <script src="/js/media/common.js"></script>
    <!--<script type="text/javascript" src="/js/system/queryRole.js"></script>-->
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <form id="supplier">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom: 1px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">供应商名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="supplierName" name="name" class="form-control ">
                                </div>
                                <label class="col-sm-1 control-label right0">联系人:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="contactor" name="contactor" class="form-control">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="search" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button id="addSupplier" class="btn btn-danger" type="button"><i class="fa fa-plus"></i>&nbsp; 增加供应商</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;<label>小技巧：双击下列表格中的数据行可进入“供应商编辑”页面哦！</label>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">

                        <table id="table_suppliers"></table>
                        <div id="pager_suppliers"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>