<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>客户列表</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/crm/commonOperate.js"></script>
    <script src="/js/dsg/dsg_list.js"></script>

    <style>

    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        $(function () {
            //第一个参数
            var grid = new dataGrid("custTable",gridObject,"custPager");

        });

    </script>

</head>

<body class="gray-bg">

<div class="row">
    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
        <div class="ibox-title" style="margin-left:8px;" id="custButtons">
            <h5 style="font-weight: bold">客户列表</h5>
            <!--<button type="button" class="btn btn-primary">默认按钮</button>-->
        </div>
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="jqGrid_wrapper">
                    <table id="custTable"></table>
                    <div id="custPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

</body>

</html>
