<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>客户统计</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <!--页面js-->
    <script src="/js/crm/commonDatagrid.js"></script>
    <style>

    </style>
    <script type="text/javascript">
        $(function(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            var myChart2 = echarts.init(document.getElementById('main2'));
            var myChart3 = echarts.init(document.getElementById('main3'));

            // 指定图表的配置项和数据

            var option = {"title":{"text":"媒介统计结果","subtext":"","x":"left"},
                "color":["#e5323e","#003366","#006699"],
                "backgroundColor":"#fff",
                "legend":{"y":"8px","data":["登记渠道商数量","合作金额总额","未支付金额"]},
                "tooltip":{"show":true,
                    trigger: 'axis'},

                calculable : true,
                "xAxis":[{"type":"category",
                    name:'月份',
                    "data":['5月','6月']}],
                "yAxis":[
                    {"type":"value",
                        name:'(单位/元)'}
                ],
                "series":[{"name":"登记渠道商数量","type":"bar","data":[]},
                    {"name":"合作金额总额","type":"bar","data":[]},
                    {"name":"未支付金额","type":"bar","data":[]},
                ]};

            $.ajax({
                url:'/mediaUsereStatistics/mediaUserResult',
                type:'post',
                success:function(resData){
                    option.series[0].data[0] = resData[0].val;
                    option.series[1].data[0] = resData[1].val;
                    option.series[2].data[0] = resData[2].val;
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    loadTable(option);
                    console.log(resData[0].val);
                    console.log(resData[1].val);
                    console.log(resData[2].val);
                }
            });



            var option2 = {"title":{"text":"发票统计结果","subtext":"","x":"left"},
                "color":["#e5323e","#003366"],
                "backgroundColor":"#fff",
                "legend":{"y":"8px","data":["应到发票数量总额","应到发票金额总额"]},
                "tooltip":{"show":true,
                    trigger: 'axis'},

                calculable : true,
                "xAxis":[{"type":"category",
                    name:'月份',
                    "data":['5月','6月','7月']}],
                "yAxis":[
                    {"type":"value",
                        name:'(单位/元)'}
                ],
                "series":[{"name":"应到发票数量总额","type":"bar","data":[]},
                    {"name":"应到发票金额总额","type":"bar","data":[]},

                ]};
            $.ajax({
                url:'/mediaUsereStatistics/invoiceResult',
                type:'post',
                success:function(resData){
                    option2.series[0].data[0] = resData[0].val;
                    option2.series[1].data[0] = resData[1].val;

                    // 使用刚指定的配置项和数据显示图表。
                    myChart2.setOption(option2);
                    loadTable(option2);
                    console.log(resData[0].val);
                    console.log(resData[1].val);

                }
            });






            $.ajax({
                url:'/mediaUsereStatistics/mediaUserResult',
                type:'post',
                success:function(resData){
                    option3.series[0].data[0].value = resData[0].val;
                    option3.series[0].data[1].value = resData[1].val;
                    option3.series[0].data[2].value = resData[2].val;
                    // 使用刚指定的配置项和数据显示图表。
                    myChart3.setOption(option3);

                }
            });


            custRanking.init();
        });


        function loadTable(opt){
            var series = opt.series;
            var table = '<table style="width:100%;text-align:center;margin:60px 0 0 -20px;' +
                '" class="ui-jqgrid-htable ui-common-table table table-bordered"><tbody><tr class="ui-jqgrid-labels">'
                + '<td>类型</td>'
                + '<td>' + '总额(数)' + '</td>'
                + '</tr>';
            for (var i = 0; i < opt.legend.data.length; i++) {
                var e = series[i].data[0] || "";
                table += '<tr class="ui-jqgrid-labels">'
                    + '<td>' + opt.legend.data[i] + '</td>'
                    + '<td>' + e + '</td>'
                    + '</tr>';
            }
            table += '</tbody></table>';
            $("#statisticsResultTable").html(table);
        };

        var option3 = {"title":{},
            "color":["#e5323e",
                "#003366",
                "#006699",
                "#4cabce"],
            "backgroundColor":"#fff",
            "legend":{"y":"8px","data":["登记渠道商数量","合作金额总额","未支付金额"]},
            "tooltip":{"show":true},
            "xAxis":null,"yAxis":null,
            "series":[{"name":"访问来源",
                "type":"pie","radius":"55%",
                "center":["50%","60%"],
                "data":[{"value":405.76,"name":"登记渠道商数量"},
                    {"value":125.46,"name":"合作金额总额"},
                    {"value":189.26,"name":"未支付金额"},
                   ],
                "itemStyle":{"emphasis":{"shadowBlur":10,"shadowOffsetX":0,"shadowColor":"rgba(0, 0, 0, 0.5)"
                }
            }
        }
        ]};


        //客户排名
        var custRanking = {
            chart: {},
            grid: {},
            option: {
                title: {
                    text: '',
                    subtext: '',
                    x: 'center'
                },
                color: ['#3398DB'],
                backgroundColor: "#fff",
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        data: [],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '',
                        type: 'bar',
                        data: []
                    }
                ]
            },
            tableObject: {
                url: '/statistics/statisticsRanking',
                postData: $("#searchForm").serializeJson(),
                datatype: "json",
                mtype: 'post',
                // data: mydata,
                height: "auto",
                page: 1,//第一页
                autowidth: true,
                rownumbers: true,
                gridview: true,
                viewrecords: true,
                multiselect: false,
                shrinkToFit: true,
                prmNames: {rows: "size"},
                rowNum: 10,
                rowList: [10, 20, 30],
                colNames: ['客户名称', '对接人', '成交金额', '未到款额', '逾期未到款额', '到期应收额'],
                jsonReader: {
                    root: "list", page: "pageNum", total: "pages",
                    records: "total", repeatitems: false, id: false
                },
                colModel: [
                    {
                        name: 'companyName',
                        index: 'companyName',
                        editable: false,
                        width: 100,
                        align: "center",
                        sortable: false,
                        search: true,
                        hidden: false
                    },
                    {
                        name: 'custName',
                        index: 'custName',
                        editable: false,
                        width: 90,
                        align: "center",
                        sortable: false,
                        sorttype: "string"
                    },
                    {
                        name: 'saleAmount',
                        index: 'saleAmount',
                        editable: false,
                        width: 100,
                        align: "center",
                        sortable: false
                    },
                    {
                        name: 'noIncomeAmount',
                        index: 'noIncomeAmount',
                        editable: false,
                        width: 80,
                        align: "center",
                        sortable: false
                    },
                    {
                        name: 'yqIncomeAmount',
                        index: 'yqIncomeAmount',
                        editable: false,
                        width: 80,
                        align: "center",
                        sortable: false
                    },
                    {
                        name: 'dqysIncomeAmount',
                        index: 'dqysIncomeAmount',
                        editable: false,
                        width: 80,
                        align: "center",
                        sortable: false
                    }
                ],
                /**
                 * 翻页时保存当前页面的选中数据
                 * @param pageBtn
                 */
                onPaging: function (pageBtn) {
                    //跨页面选择

                },
                gridComplete: function () {

                },
                pager: "#pager",
                viewrecords: true,
                caption: "客户排名",
                add: false,
                edit: false,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            },
            init: function () {
                //custRanking.chart = custRanking.chart = echarts.init(document.getElementById('statisticsRankingChart'));
                custRanking.grid = new dataGrid("table", custRanking.tableObject, "pager", "searchForm");
                custRanking.grid.loadGrid();
            },
            load: function () {
                custRanking.chart.setOption(custRanking.option);
            },
            //加载右边的表格
            loadTable: function () {
                //加载表格
                custRanking.grid.search();
            },
            reflush: function (dataList) {

                var tit = $("#khpm_select").find("option:selected").text();
                var v = $("#khpm_select").val();
                custRanking.option.title.text = tit;
                custRanking.option.series[0].name = tit;

                custRanking.option.xAxis[0].data = [];

                var len = custRanking.option.series[0].data.length;
                //清空数据
                for (var i = 0; i < len; i++) {
                    custRanking.option.xAxis[0].data = [];
                    custRanking.option.series[0].data[i] = 0;
                }

                dataList = dataList.list || [];

                for (var i = 0; i < dataList.length; i++) {
                    var custName = dataList[i].custName || "";
                    var saleAmount = dataList[i].saleAmount || 0;
                    var dqysIncomeAmount = dataList[i].dqysIncomeAmount || 0;
                    var noIncomeAmount = dataList[i].noIncomeAmount || 0;
                    var yqIncomeAmount = dataList[i].yqIncomeAmount || 0;
                    custRanking.option.xAxis[0].data[i] = custName;
                    if (v == 1) {
                        custRanking.option.series[0].data[i] = saleAmount;
                    } else if (v == 2) {
                        custRanking.option.series[0].data[i] = noIncomeAmount;
                    } else if (v == 3) {
                        custRanking.option.series[0].data[i] = yqIncomeAmount;
                    } else if (v == 4) {
                        custRanking.option.series[0].data[i] = dqysIncomeAmount;
                    }
                }
                custRanking.load();
                custRanking.loadTable();
            },
            /**
             * 初始化或者下拉框的change事件触发
             */
            search:function() {
                var searchFormData = $("#searchForm").serializeJson();
                $.ajax({
                    url: "/statistics/statisticsRanking",
                    type: "post",
                    data: searchFormData,
                    success: function (resData) {
                        // custRanking.reflush([{custName:"张三",saleAmount:100},{custName:"李四",saleAmount:200}]);
                        custRanking.reflush(resData);
                    }
                });
            }
        }


    </script>

</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div>
    <div id="main" style="width: 600px;height:400px;" class="col-sm-6"></div>
    <div id="statisticsResultTable" style="height: 300px;background-color: #fff;" class="col-sm-3"></div>
    <div id="main3" style="float: left;height: 300px;background-color: #fff;" class="col-sm-3" ></div>
</div>
<div>
<div id="main2" style="width: 600px;height:400px;"></div>
    <div id="statisticsRankingTable" style="float: right;margin-right: 100px;height: 300px;background-color:#ffffff" class="col-sm-6">
        <div class="jqGrid_wrapper">
            <table id="table"></table>
            <div id="pager"></div>
        </div>
        </div>
</div>


</body>
</html>