<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>编辑权限组</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <style>
        .img-circle {
            width: 80px;
            height: 80px;
        }
    </style>

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal"  enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label col-sm-offset-2">请上传头像</label>
                                    <div class="col-sm-5">
                                        <input type="file" id="doc" name="image"  class="form-control"
                                        onchange="showImage();">


                                    </div>
                                    <div class="col-sm-10">
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div id="localImag" class="col-sm-11 col-sm-offset-4">
                                        <img id="preview" class="img-circle" width=-1 height=-1 style="diplay:none" />
                                    </div>
                                    <div class="col-sm-10">

                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-11 col-sm-offset-5">
                                        <button class="btn btn-primary" id="submit" type="button">保存内容</button>
                                        <button class="btn btn-white" id="cancel" type="button">返回</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    function showImage() {
        var docObj = document.getElementById("doc");
        var imgObjPreview = document.getElementById("preview");
        if (docObj.files && docObj.files[0]) {
            //火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '300px';
            imgObjPreview.style.height = '300px';
            //imgObjPreview.src = docObj.files[0].getAsDataURL();
            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        } else {
            //IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
            //必须设置初始大小
            localImagId.style.width = "300px";
            localImagId.style.height = "300px";
            //图片异常的捕捉，防止用户修改后缀来伪造图片
            try {
                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters
                    .item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            } catch (e) {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
        return true;
    }

    $(document).ready(function(){
        $("#submit").click(function () {
            var formData = new FormData($("#form")[0]);
            $.ajax({
                type: "post",
                url: "/user/saveImage",
                data: formData,
                dataType: "json",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    if(data.code==200){
                        layer.msg(data.data.message, {time: 1000, icon:6});
                        setTimeout(function(){
                            window.parent.location.href = "/";
                        },1000);
                    }else{
                        layer.msg(data.msg) ;
                    }
                }
            });
        });
        $("#cancel").click(function () {
            window.parent.location.href = "/";
        });
    })


</script>
</html>