<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>编辑个人信息</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script src="/js/crm/common_util.js"></script>

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑个人信息</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal">
                            <input type="hidden" id="id" name="id">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no" name="no"   class="form-control" disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">用户名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="userName" name="userName"   class="form-control" disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class=" col-sm-2 control-label">姓名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name" name="name"   class="form-control" disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">性别:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" name="sex" disabled="disabled">
                                            <option value=""></option>
                                            <option value="0">女</option>
                                            <option value="1">男</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label">电话:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone" name="phone"   class="form-control" >
                                    </div>
                                    <label class="col-sm-2 control-label">邮箱:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="email" name="email"   class="form-control" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QQ:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="qq" name="qq"   class="form-control" >
                                    </div>
                                    <label class="col-sm-2 control-label">微信:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="wechat" name="wechat"   class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">上级领导:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b " id="mgrId" name="mgrId" disabled="disabled">
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label">是否领导:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control m-b" id="isMgr" name="isMgr" disabled="disabled">
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注:</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" name="remark"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-5">
                                    <button class="btn btn-primary" id="submit" type="button">保存内容</button>
                                    <button class="btn btn-white" id="cancel" type="button">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>

    // 验证
    // $.validator.setDefaults({
    //     highlight: function (e) {
    //         $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
    //     }, success: function (e) {
    //         e.closest(".form-group").removeClass("has-error").addClass("has-success")
    //     }, errorElement: "span", errorPlacement: function (e, r) {
    //         e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
    //     }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    // }),
    $(document).ready(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#form").validate({
            rules: {
                userName: {required: !0, checkUserName: true,
                    remote : {
                        url : "/user/checkUserName", // 后台处理程序
                        type : "post", // 数据发送方式
                        dataType : "json", // 接受数据格式
                        data : { // 要传递的数据
                            "id" : function() {
                                return $("#id").val();
                            },
                            "userName" : function() {
                                return $("#userName").val();
                            }
                        },
                        message: "用户名重复！",
                        dataFilter : function(data) {
                            //返回值是string，需要转换成json
                            var obj = JSON.parse(data)
                            if(obj.data.flag){
                                return true ;
                            }else{
                                return false ;
                            }

                        }
                    }
                },
                name: {required: !0, minlength: 2, maxlength: 50},
                email:{email: true},
                qq: {checkQQ: true},
                phone: {checkPhone: phone},
                // sex: {required: true},

            },
            messages: {
                userName: {required: e + "请输入用户名", minlength: e + "用户名长度必须大于{0}个字符", maxlength: e + "用户名长度必须小于{0}个字符",remote: e+"用户名重复"},
                name: {required: e + "请输入姓名", minlength: e + "姓名长度必须大于{0}个字符", maxlength: e + "姓名长度必须小于{0}个字符"},
                // sex: {required: e + "请选择性别"}
            }
        });
        //自定义正则表达示验证方法
        $.validator.addMethod("checkUserName",function(value,element,params){
            var checkUserName = /^[a-zA-Z]{1}\w{1,49}$/;
            return this.optional(element)||(checkUserName.test(value));
        },"请输入正确的用户名，首个字符为字母，其他为字母、数字和下划线，长度2-50！");
        $.validator.addMethod("checkPhone",function(value,element,params){
            var checkPhone = /^(([0]\d{2,3}-\d{7,8})|([1]\d{10}))$/;
            return this.optional(element)||(checkPhone.test(value));
        },"请输入正确的手机号码！");
        $.validator.addMethod("checkQQ",function(value,element,params){
            var checkQQ = /^[1-9][0-9]{4,19}$/;
            return this.optional(element)||(checkQQ.test(value));
        },"请输入正确的QQ号码！");

        $.ajax({
            type: "post",
            url: "/user/editUserSelf",
            data:{},
            dataType: "json",
            success: function (data) {
                if(data.code==200){
                    for(var attr in data.data.user){
                        $("[name="+attr+"]").val(data.data.user[attr]);
                    }
                    $("#mgrId").empty() ;
                    var str = "<option value=''>请选择上级领导</option>" ;
                    $("#mgrId").append(str) ;
                    for(var x=0;x<data.data.list.length;x++){
                        // console.log(data.data.list[x].id)
                        // console.log(data.data.user.user.id)
                        if(data.data.user!=null && data.data.list[x].id==data.data.user.mgrId){
                            var str = "<option value='" + data.data.list[x].id+"' selected='selected'>"+data.data.list[x].name+"</option>" ;
                        }else{
                            var str = "<option value='" + data.data.list[x].id+"'>"+data.data.list[x].name+"</option>" ;
                        }
                        $("#mgrId").append(str) ;
                    }
                }else{
                    layer.msg(data.msg) ;
                }
            }
        });
        $("#submit").click(function () {
            if ($("#form").valid()) {
                $.ajax({
                    type: "post",
                    url: "/user/submit",
                    data: $("#form").serializeJson(),
                    dataType: "json",
                    success: function (data) {
                        if(data.code==200){
                            layer.msg(data.data.message, {time: 1000, icon:6});
                        }else{
                            layer.msg(data.msg) ;
                        }
                    }
                });
            }
        });
        $("#cancel").click(function () {
            window.parent.location.href = "/";
        });

    });

</script>
</html>
