<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>编辑权限组</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/system/editGroup.js"></script>
    <script src="/js/crm/common_util.js"></script>

</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑权限组</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">权限组名称</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" id="id" name="id" class="form-control">
                                        <input type="text" id="name" name="name"  class="form-control" >

                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-primary" id="submit" type="button">保存内容</button>
                                        <button class="btn btn-white" id="cancel" type="button">返回</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    // 验证
    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        }, errorElement: "span", errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }),
        $().ready(function () {
            var e = "<i class='fa fa-times-circle'></i> ";
            $("#form").validate({
                rules: {
                    name: {required: !0, minlength: 2, maxlength: 50,
                        remote : {
                            url : "/group/checkName", // 后台处理程序
                            type : "post", // 数据发送方式
                            dataType : "json", // 接受数据格式
                            data : { // 要传递的数据
                                "id" : function() {
                                    return $("#id").val();
                                },
                                "name" : function() {
                                    return $("#name").val();
                                }
                            },
                            dataFilter : function(data) {
                                //返回值是string，需要转换成json
                                var obj = JSON.parse(data)
                                if(obj.data.flag){
                                    return true ;
                                }else{
                                    return false ;
                                }

                            }
                        }
                    },
                    // password: {required: !0, minlength: 3, maxlength: 50},
                },
                messages: {
                    name: {required: e + "请输入权限组名称", minlength: e + "权限组名称长度必须大于{0}个字符", maxlength: e + "权限组名称长度必须小于{0}个字符",remote: e+"该名称已存在，请更换！"},
                    // password: {required: e + "请输入密码", minlength: e + "密码长度必须大于{0}个字符", maxlength: e + "密码长度必须小于{0}个字符"},
                }
            });
        });

</script>
</html>
