<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>编辑权限</title>
    <script src="/js/crm/common_util.js"></script>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/system/editResource.js"></script>
    <script>

    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑权限</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal">
                            <input type="hidden" id="id" name="id"  class="form-control">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所属权限组<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10" id="groupDiv">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">权限名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="name" name="name"   class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">链接:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="url" name="url"   class="form-control" >
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-primary" id="submit" type="button">保存内容</button>
                                        <button class="btn btn-white" id="cancel" type="button">返回</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>
