<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title >角色组管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/system/queryGroup.js"></script>
    <script>

        $(document).ready(function () {



            var e = "<i class='fa fa-times-circle'></i> ";
            $("#form").validate({

                rules: {
                    name: {required: !0, minlength: 2, maxlength: 50,
                        remote : {
                            url : "/group/checkName", // 后台处理程序
                            type : "post", // 数据发送方式
                            dataType : "json", // 接受数据格式
                            data : { // 要传递的数据
                                "id" : function() {
                                    return $("#id").val();
                                },
                                "name" : function() {
                                    return $("#name1").val();
                                }
                            },
                            message: "权限组名重复！",
                            dataFilter : function(data) {
                                //返回值是string，需要转换成json
                                var obj = JSON.parse(data)
                                if(obj.data.flag){
                                    return true ;
                                }else{
                                    return false ;
                                }

                            },

                        }
                    },
                    // password: {required: !0, minlength: 3, maxlength: 50},
                },
                messages: {
                    name: {required: e + "请输入权限组名称", minlength: e + "权限组名称长度必须大于{0}个字符", maxlength: e + "权限组名称长度必须小于{0}个字符",remote: e+"该名称已存在，请更换！"},
                    // password: {required: e + "请输入密码", minlength: e + "密码长度必须大于{0}个字符", maxlength: e + "密码长度必须小于{0}个字符"},
                }
            });
        });
    </script>
    <!--<script>-->
        <!--$(function(){-->
            <!--$('body').bind('keyup', function (event) {-->
                <!--if (event.keyCode == "13") {-->
                    <!--//回车执行查询-->
                    <!--$("#search").click();-->
                <!--}-->
            <!--});-->

        <!--})-->

    <!--</script>-->
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <form id="group">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">权限组名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="nameQc" name="nameQc" class="form-control ">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="search" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <button id=" addRole" class="btn btn-danger " type="button" onclick="add()">新增权限组</button>
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">

                            <table id="table_logs"></table>
                            <div id="pager_logs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--新增编辑页面-->
<div id="editModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title save">新增权限组</h4>
                    <h4 class="modal-title update">编辑权限组</h4>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">权限组名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name1" name="name" class="form-control" required="">
                                        <input type="hidden" id="id" name="id" class="form-control">
                                    </div>

                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-success save"   id="save" onclick="tijiao(this,'/group/add')" type="button" ><i class="fa fa-save"></i>&nbsp;保存内容</button>
                                        <button class="btn btn-success update" id="update" onclick="tijiao(this,'/group/update')" type="button" ><i class="fa fa-save"></i>&nbsp;保存内容</button>
                                        <!--<button class="btn btn-white" id="cancel" type="button">返回</button>-->
                                        <button class="btn btn-danger backButton" type="button" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--查看页面-->
<div id="viewModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>查看权限组</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="viewForm" class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">权限组名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name2" name="name2" class="form-control" disabled="disabled">
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 col-sm-offset-5">
                                            <button class="btn btn-danger backButton" type="button" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

</html>