<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title data-th-text="'资源管理-'+${AppName}"></title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/system/queryResource.js"></script>
    <script>
        $(function () {
            $('body').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    $("#search").click();
                }
            });

        })
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label right0">资源名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="nameQc" class="form-control ">
                                </div>
                                <label class="col-sm-1 control-label right0">资源组名称:</label>
                                <div class="col-sm-2">
                                    <select id="parentId" name="parentId" class="form-control "></select>
                                </div>
                                <label class="col-sm-1 control-label right0">链接:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="urlQc" class="form-control ">
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" id="search" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button id="addRole" class="btn btn-danger" type="button" onclick="add()">
                        <i class="fa fa-plus"></i>&nbsp;新增资源/菜单
                    </button>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">

                        <table id="table_logs"></table>
                        <div id="pager_logs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title add">新增资源信息</h4>
                    <h4 class="modal-title update">修改资源信息</h4>
                    <h4 class="modal-title view">查看资源信息</h4>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="editForm" class="form-horizontal">
                            <input type="hidden" id="id" name="id" class="form-control">
                            <input type="hidden" name="parentId" class="form-control">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否一级目录<span class="text-red">*</span>:</label>
                                    <div class="col-sm-6 control-label" style="text-align: left">
                                        <input type="radio" name="isParent" id="isParentYes" value="0" class="i-checks"/>是
                                        <input type="radio" name="isParent" id="isParentNo" value="1" class="i-checks" checked="checked"/>否
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所属父级菜单<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10" id="parentDiv">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单/资源名称<span
                                            class="text-red">*</span>:</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="name" name="name" class="form-control" required="" th:placeholder="请输入菜单或资源的名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">菜单/资源链接<span
                                            class="text-red">*</span>:</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="url" name="url" class="form-control" required="" th:placeholder="请输入菜单或资源的链接">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否菜单<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2 control-label" style="text-align: left">
                                        <input type="radio" name="isMenu" id="isMenuYes" value="0" class="i-checks" />是
                                        <input type="radio" name="isMenu" id="isMenuNo" value="1" class="i-checks" checked="checked"/>否
                                    </div>
                                    <label class="col-sm-2 control-label">是否有效<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2 control-label" style="text-align: left">
                                        <input type="radio" name="state" id="stateYes" value="0" class="i-checks"
                                               checked="checked"/>有效
                                        <input type="radio" name="state" id="stateNo" value="1" class="i-checks"/>无效
                                    </div>
                                </div>
                                <div class="form-group" id="iconDiv" >
                                    <label class="col-sm-2 control-label">菜单图标:</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="icon" class="form-control" th:placeholder="请输入菜单或资源的图片名称">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-success add" type="button" id="save"
                                                onclick="submitHander(this,'/resource/add')"><i class="fa fa-save"></i>&nbsp;保存
                                        </button>
                                        <button class="btn btn-success update" type="button" id="update"
                                                onclick="submitHander(this,'/resource/update')"><i
                                                class="fa fa-save"></i>&nbsp;保存
                                        </button>
                                        <button class="btn btn-danger backButton" type="button" data-dismiss="modal"
                                                id="clo"><i class="fa fa-close"></i>&nbsp;关闭
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--查看资源-->
<!--<div id="viewModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--<div class="modal-dialog" style="width:1200px;">-->
<!--<div class="modal-content animated bounceInRight">-->
<!--<div class="ibox float-e-margins">-->
<!--<div class="ibox-title">-->
<!--<button type="button" class="close" data-dismiss="modal"><span-->
<!--aria-hidden="true">&times;</span><span class="sr-only">关闭</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="ibox-content">-->
<!--<div>-->
<!--<form id="viewForm" class="form-horizontal">-->
<!--<div class="row">-->
<!--<div class="form-group">-->
<!--<label class="col-sm-2 control-label">所属父级菜单<span class="text-red">*</span>:</label>-->
<!--<div class="col-sm-10" id="groupDiv1">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-sm-2 control-label">菜单名称<span class="text-red">*</span>:</label>-->
<!--<div class="col-sm-10">-->
<!--<input type="text" id="name1" name="name1" class="form-control"-->
<!--disabled="disabled">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="col-sm-2 control-label">菜单链接:</label>-->
<!--<div class="col-sm-10">-->
<!--<input type="text" id="url1" name="url1" class="form-control"-->
<!--disabled="disabled">-->
<!--</div>-->
<!--</div>-->
<!--<div class="hr-line-dashed"></div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-12 col-sm-offset-5">-->
<!--<button class="btn btn-danger backButton" type="button" data-dismiss="modal"-->
<!--id="close"><i class="fa fa-close"></i>&nbsp;关闭-->
<!--</button>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

</body>

</html>