<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title>用户管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/system/queryUser.js"></script>
    <script src="/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Bootstrap-Treeview plugin javascript -->
    <script type="text/javascript" src="/js/plugins/treeview/bootstrap-treeview.js"></script>
    <script>

    </script>
    <style type="text/css">
    </style>
</head>


<body class="gray-bg">

<!--查询条件-->
<form id="queryForm">
    <div class="ibox-title">
        <h5>条件搜索</h5>
    </div>
    <div class="ibox-title col-lg-12" style="display: table">
        <div class=" form-group form-inline col-lg-12" style="margin-bottom: 10px">
            <div class="col-lg-3 form-group form-inline">
                <label class=" control-label right0">工号:</label>
                <input type="text" id="noQc" name="noQc" class="form-control ">
            </div>
            <div class="col-lg-3 form-group form-inline">
                <label class="control-label right0">用户名:</label>
                <input type="text" id="userNameQc" name="userNameQc" class="form-control">
            </div>
            <div class="col-lg-3 form-group form-inline">
                <label class="control-label right0">姓名:</label>
                <input type="text" id="nameQc" name="nameQc" class="form-control">
            </div>

        </div>
        <div class=" form-group form-inline col-lg-12" style="margin-bottom: 10px">
            <div class="col-lg-3 form-group form-inline">
                <label class=" control-label right0">角色:</label>
                <select type="text" id="roleId" name="roleId" class="form-control">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="col-sm-3 form-group form-inline">
                <label class=" control-label right0">&nbsp;电&nbsp;&nbsp;话:</label>
                <input type="text" id="phoneQc" name="phoneQc" class="form-control" >
            </div>
            <div class="col-sm-3 control-label">

                <button type="button" class="btn btn-primary  glyphicon glyphicon-search" id="selDeptQc">选择部门</button>
                <input type="hidden" id="deptIdQc" name="deptIdQc" class="form-control" >
                <input type="text" id="deptNameQc" name="deptNameQc" class="form-control">


            </div>
            <div class="col-lg-3 form-group form-inline">
                <button type="button" id="search" class="btn btn-primary">
                    <i class="fa fa-search"></i>&nbsp;查询
                </button>
            </div>
        </div>
    </div>

</form>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <button id="addBtn" class="btn btn-danger" type="button">
                    <i class="fa fa-plus"></i>&nbsp;新增用户
                </button>
            </div>
            <div class="ibox-content">
                <div class="jqGrid_wrapper">

                    <table id="query_table_logs"></table>
                    <div id="query_pager_logs"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--查看用户角色信息-->
<div id="mediaTypeModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>媒体板块赋权</h5>
                </div>
                <div class="ibox-content">
                    <form id="mediaTypeForm" class="form-horizontal">
                        <input id="userId" name="userId" type="hidden"/>
                        <input id="departId" name="departId" type="hidden"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                媒体类型:<span class="text-red">*</span>
                            </label>
                            <div class="col-md-10" id="mediaType">

                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success btn-sm" type="button" onclick="saveMediaType()">
                                <i class="fa fa-save"></i>&nbsp; 保存
                            </button>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp; 关闭
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">重置密码</h4>
            </div>
            <div class="modal-body">
                <form id="resetForm">
                    <div class="tabs-container">
                        <input type="hidden" id="id" name="id" class="form-control">
                        <div id="addDiv" class="tab-pane form-horizontal">
                            <div class="form-group panel-body">
                                <label class="col-sm-4 control-label">请输入密码<span class="text-red">*</span>：</label>
                                <div class="col-sm-6">
                                    <input type="password" id="password" name="password" class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-success glyphicon glyphicon-ok resetPwd"> 确认重置</button>
                        <button type="button" class="btn btn-sm btn-danger backButton" id="cancel" data-dismiss="modal">
                            <i class="fa fa-close"></i>&nbsp; 关闭
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--新增编辑用户页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title save">新增用户信息</h4>
                <h4 class="modal-title update">更改用户信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="editForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">部门<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="deptId" name="deptId" class="form-control"
                                               readonly="readonly">
                                        <input type="text" id="deptName" name="deptName" class="form-control"
                                               required="" readonly="readonly">
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button"
                                                class="btn btn-primary btn-circle glyphicon glyphicon-search"
                                                id="selDept"></button>
                                        <button type="button"
                                                class="btn btn-warning btn-circle glyphicon glyphicon-remove"
                                                id="cleanDept" required=""></button>
                                    </div>
                                    <label class="col-sm-1 control-label">姓名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name" name="name" class="form-control" required="">
                                    </div>
                                </div>
                                <input type="hidden" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no" name="no" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">用户名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="userName" name="userName" class="form-control"
                                               required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">邮箱:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="email" name="email" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">性别:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="0" name="sex"/>女
                                            <input type="radio" value="1" name="sex"/>男
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">电话:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone" name="phone" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">是否领导<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="1" name="isMgr"/>是
                                            <input type="radio" value="0" name="isMgr"/>否
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QQ:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="qq" name="qq" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">微信:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="wechat" name="wechat" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注:</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" id="remark" name="remark" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary save" id="save"
                                            onclick="submitHander(this,'/user/add')"><i class="fa fa-save"></i>&nbsp;新增
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary update" id="update"
                                            onclick="submitHander(this,'/user/edit')"><i class="fa fa-refresh"></i>&nbsp;修改
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger backButton" id="cancel1"
                                            data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--查看用户页面-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <h2>用户信息</h2>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">部门<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="deptName2" name="deptName2" class="form-control"
                                               disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">姓名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name2" name="name2" class="form-control"
                                               disabled="disabled">
                                    </div>
                                </div>
                                <input type="hidden" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no2" name="no2" class="form-control" disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">用户名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="userName2" name="userName2" class="form-control"
                                               disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">邮箱:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="email2" name="email2" class="form-control"
                                               disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">性别:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="0" name="sex2"/>女
                                            <input type="radio" value="1" name="sex2"/>男
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">电话:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone2" name="phone2" class="form-control"
                                               disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">是否领导<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="1" name="isMgr2"/>是
                                            <input type="radio" value="0" name="isMgr2"/>否
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QQ:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="qq2" name="qq2" class="form-control" disabled="disabled">
                                    </div>
                                    <label class="col-sm-2 control-label">微信:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="wechat2" name="wechat2" class="form-control"
                                               disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注:</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" id="remark2" name="remark2" class="form-control"
                                                  disabled="disabled"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger backButton" id="cancel3"
                                            data-dismiss="modal"><i class="fa fa-close"></i> 关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--搜索条件选择部门-->
<div class="modal inmodal" id="deptModalQc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <h5>部门信息</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>选择部门</h5>
                                    <div class="ibox-tools">
                                        <!--<a class="collapse-link">-->
                                            <!--<i class="fa fa-chevron-up"></i>-->
                                        <!--</a>-->
                                        <!--<a class="close-link">-->
                                            <!--<i class="fa fa-times"></i>-->
                                        <!--</a>-->
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <div id="treeviewQc"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--编辑页面选择部门页面-->
<div class="modal inmodal" id="deptModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <h5>部门信息</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>选择部门</h5>
                                    <div class="ibox-tools">
                                        <!--<a class="collapse-link">-->
                                            <!--<i class="fa fa-chevron-up"></i>-->
                                        <!--</a>-->
                                        <!--<a class="close-link">-->
                                            <!--<i class="fa fa-times"></i>-->
                                        <!--</a>-->
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <div id="treeview"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--用户角色编辑页面-->
<div id="editUserRoleModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>编辑用户角色信息</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="editUserRoleForm" class="form-horizontal">
                            <input type="hidden" name="id" id="id2">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所属角色<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10" id="groupDiv">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-sm btn-success" type="button" id="saveId"
                                                onclick="saveUserRole(this,'/user/submitUserRole')"><i
                                                class="fa fa-save"></i>&nbsp; 保存
                                        </button>
                                        <button class="btn btn-sm btn-danger backButton" type="button" data-dismiss="modal"
                                                id="clo"><i class="fa fa-close"></i>&nbsp; 关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--查看用户角色信息-->
<div id="viewUserRoleModal" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px;">
        <div class="modal-content animated bounceInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                    </button>
                    <h5>查看用户角色信息</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="viewUserRoleForm" class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">所属角色<span class="text-red">*</span>:</label>
                                    <div class="col-sm-10" id="groupDiv2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 col-sm-offset-5">
                                        <button class="btn btn-danger backButton" type="button" data-dismiss="modal"
                                                id="close"><i class="fa fa-close"></i> 关闭
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>