<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <script src="/js/crm/common_util.js"></script>
    <title>用户查看</title>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "post",
                url: "/user/view",
                data:{id:getQueryString("id")},
                dataType: "json",
                success: function (data) {
                    if(data.code==200){
                        for(var attr in data.data.user){
                            $("[name="+attr+"]").val(data.data.user[attr]);
                        }
                        $("#mgrId").empty() ;
                        var str = "<option value=''>请选择上级领导</option>" ;
                        $("#mgrId").append(str) ;
                        for(var x=0;x<data.data.list.length;x++){
                            // console.log(data.data.list[x].id)
                            // console.log(data.data.user.user.id)
                            if(data.data.user!=null && data.data.list[x].id==data.data.user.mgrId){
                                var str = "<option value='" + data.data.list[x].id+"' selected='selected' disabled='disabled'>"+data.data.list[x].name+"</option>" ;
                            }else{
                                var str = "<option value='" + data.data.list[x].id+"' disabled='disabled'>"+data.data.list[x].name+"</option>" ;
                            }
                            $("#mgrId").append(str) ;
                        }
                    }else{
                        layer.msg(data.msg) ;
                    }
                }
            });
            $(".closeButton").click(function () {
                window.close() ;
            });
            $(".backButton").click(function () {
                window.location.href = "/system/queryUser";
            });
        });

    </script>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户查看</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal">
                            <div class="row">
                                <div class="row">
                                    <input type="hidden" id="id" name="id"   class="form-control">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">工号:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="no" name="no"   class="form-control" disabled="disabled">
                                        </div>
                                        <label class="col-sm-2 control-label">用户名<span class="text-red">*</span>:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="userName" name="userName"   class="form-control"  disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class=" col-sm-2 control-label">姓名<span class="text-red">*</span>:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="name" name="name"   class="form-control"  disabled="disabled">
                                        </div>
                                        <label class="col-sm-2 control-label">性别:</label>
                                        <div class="col-sm-3">
                                            <select class="form-control m-b" name="sex" disabled="disabled">
                                                <option value=""></option>
                                                <option value="0">女</option>
                                                <option value="1">男</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label">电话:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="phone" name="phone"   class="form-control"  disabled="disabled">
                                        </div>
                                        <label class="col-sm-2 control-label">邮箱:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="email" name="email"   class="form-control"  disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">QQ:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="qq" name="qq"   class="form-control"  disabled="disabled">
                                        </div>
                                        <label class="col-sm-2 control-label">微信:</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="wechat" name="wechat"   class="form-control"  disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">上级领导:</label>
                                        <div class="col-sm-3">
                                            <select class="form-control m-b " id="mgrId" name="user.id"  disabled="disabled">
                                            </select>
                                        </div>
                                        <label class="col-sm-2 control-label">是否领导:</label>
                                        <div class="col-sm-3">
                                            <select class="form-control m-b" id="isMgr" name="isMgr" disabled="disabled">
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">备注:</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="remark" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-5">
                                    <button class="btn btn-white backButton" type="button">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

</html>
