<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>编辑用户角色信息</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>


</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑用户角色信息</h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <form id="form" class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-12" >
                                        <div  th:each="deptList : ${list}">
                                            <div th:each="dept : ${deptList['dept']}">
                                                <div class="col-sm-4">
                                                    <input type="text" readonly="readonly" id="deptName" name="deptName" th:value="${dept.name}"  class="form-control" >
                                                    <div  th:each="role : ${deptList['roleList']}">
                                                        <div class="col-sm-4" >
                                                            <input type="hidden" id="roleId" name="roleId" th:value="${role['id']}" class="form-control">
                                                            <input type="checkbox" th:value="${role['id']}" disabled="disabled" id="name" name="name" th:checked="${role['chk']}"> <i></i><span th:text="${role['name']}" ></span>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-12 col-sm-offset-5">
                                            <button class="btn btn-white" id="back" type="button">返回</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        $("#back").click(function () {
            window.location.href = "/system/queryUser";
        });
    });
</script>
</html>
