<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.user.mapper.ClassRoomUserMapper">

	<insert id="insert" parameterType="com.ry.cds.user.bo.ClassRoomUser">
		INSERT INTO `classroomuser` (
		ClassRoomID,
		UserID,

		<if test="null != userTypeID">
			UserTypeID,
		</if>
		<if test="null != teacherTypeID">
			TeacherTypeID,
		</if>
		<if test="null != statusFlag">
			StatusFlag,
		</if>
		CreateDateTime,
		UpdateDateTime
		)
		VALUES
		(
		#{classRoomID},
		#{userID},
		<if test="null != userTypeID">
			#{userTypeID},
		</if>
		<if test="null != teacherTypeID">
			#{teacherTypeID},
		</if>
		<if test="null != statusFlag">
			#{statusFlag},
		</if>
		sysdate(),
		sysdate()
		)
	</insert>
	<select id="checkExistByPrimary" parameterType="Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1) FROM classroomuser where ClassRoomID =
		#{classRoomID} and UserID =#{userID} AND StatusFlag=1
	</select>
</mapper>