<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.user.mapper.ClassRoomMapper">
	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.user.bo.ClassRoom">
		select classRoomID,
		classRoomCode,
		classRoomName,
		schoolID,
		classRoomTypeID,
		statusFlag,
		date_format(createDateTime,'%Y-%m-%d')
		createDateTime,
		date_format(updateDateTime,'%Y-%m-%d') updateDateTime
		FROM
		`classroom` WHERE
		classRoomID=#{classRoomID} AND StatusFlag=1
	</select>
	<select id="getPrimaryByClassRoomCode" parameterType="java.lang.String"
		resultType="java.lang.Long">
		SELECT IF(COUNT(classRoomID)>0,classRoomID,0) FROM
		`classroom` WHERE
		classRoomCode=#{classRoomCode} AND StatusFlag=1
	</select>

	<insert id="insert" keyProperty="classRoomID" useGeneratedKeys="true"
		parameterType="com.ry.cds.user.bo.ClassRoom">
		INSERT INTO `classroom` (
		<if test="'' != classRoomCode and null != classRoomCode">
			ClassRoomCode,
		</if>
		ClassRoomName,
		SchoolID,
		<if test="null != classRoomTypeID">
			ClassRoomTypeID,
		</if>
		<if test="null != statusFlag">
			StatusFlag,
		</if>
		CreateDateTime,
		UpdateDateTime
		)
		VALUES
		(
		<if test="'' != classRoomCode and null != classRoomCode">
			#{classRoomCode},
		</if>
		#{classRoomName},
		#{schoolID},
		<if test="null != classRoomTypeID">
			#{classRoomTypeID},
		</if>
		<if test="null != statusFlag">
			#{statusFlag},
		</if>
		now(),
		now()
		)
	</insert>

	<update id="update" parameterType="com.ry.cds.user.bo.ClassRoom">
		UPDATE `classroom` SET
		<if test="'' != classRoomCode and null != classRoomCode">
			ClassRoomCode = #{classRoomCode},
		</if>
		<if test="'' != classRoomName and null != classRoomName">
			ClassRoomName = #{classRoomName},
		</if>
		<if test="null != schoolID and 0 != schoolID">
			SchoolID = #{schoolID},
		</if>
		<if test="'' != classRoomTypeID and 0 != classRoomTypeID">
			ClassRoomTypeID = #{classRoomTypeID},
		</if>
		<if test="null != statusFlag and statusFlag != 0">
			StatusFlag = #{statusFlag},
		</if>
		UpdateDateTime = now()
		WHERE
		ClassRoomID = #{classRoomID};
	</update>
</mapper>