<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.user.mapper.DocumentMapper">
	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.user.bo.Document">
		SELECT
		documentID,
		documentTypeID,
		userID,
		sourceCode,
		sourceUrl,
		pdfUrl,
		printUrl,
		pageCount,
		printedPageCount,
		documentName,
		sourceCreator,
		statusFlag,
		printStatus,
		courseID,
		examNo,
		examName,
		date_format(printDateTime,'%Y-%m-%d %T')
		printDateTime,
		failedMessage,
		date_format(createDateTime,'%Y-%m-%d %T') createDateTime,
		date_format(updateDateTime,'%Y-%m-%d %T')
		updateDateTime from
		`document` WHERE
		DocumentID =#{documentID}
	</select>

	<select id="getByUserID" parameterType="java.lang.Long"
		resultType="com.ry.cds.user.bo.Document">
		SELECT
		documentID,
		documentTypeID,
		userID,
		sourceCode,
		sourceUrl,
		pdfUrl,
		printUrl,
		pageCount,
		printedPageCount,
		documentName,
		sourceCreator,
		statusFlag,
		printStatus,
		courseID,
		examNo,
		examName,
		date_format(printDateTime,'%Y-%m-%d %T')
		printDateTime,
		failedMessage,
		date_format(createDateTime,'%Y-%m-%d %T') createDateTime,
		date_format(updateDateTime,'%Y-%m-%d %T')
		updateDateTime from
		`document` WHERE
		userID =#{userID} and StatusFlag=2 and printStatus in
		(1,2,4) order by
		createDateTime desc
	</select>

	<select id="checkExistByUCodeAndSCode" parameterType="Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1) FROM `document`
		WHERE
		sourceCode=#{sourceCode} and documentTypeID=#{documentTypeID}
	</select>
	<insert id="insert" keyProperty="documentID" useGeneratedKeys="true"
		parameterType="com.ry.cds.user.bo.Document">
		INSERT INTO `document` (
		documentTypeID,
		<if test="null != userID">
			userID,
		</if>
		<if test="'' != sourceCode and null != sourceCode">
			sourceCode,
		</if>
		<if test="'' != sourceUrl and null != sourceUrl">
			sourceUrl,
		</if>
		<if test="'' != pdfUrl and null != pdfUrl">
			pdfUrl,
		</if>
		<if test="'' != printUrl and null != printUrl">
			printUrl,
		</if>
		<if test="null != pageCount">
			pageCount,
		</if>
		<if test="null != printedPageCount">
			printedPageCount,
		</if>
		<if test="'' != documentName and null != documentName">
			documentName,
		</if>
		<if test="'' != sourceCreator and null != sourceCreator">
			sourceCreator,
		</if>
		<if test="null != statusFlag">
			statusFlag,
		</if>
		<if test="null != printStatus">
			printStatus,
		</if>
		<if test="null != courseID">
			courseID,
		</if>
		<if test="'' != examNo and null != examNo">
			examNo,
		</if>
		<if test="'' != examName and null != examName">
			examName,
		</if>
		<if test="'' != printDateTime and null != printDateTime">
			printDateTime,
		</if>
		<if test="'' != failedMessage and null != failedMessage">
			failedMessage,
		</if>
		createDateTime,
		updateDateTime)
		VALUES
		(
		#{documentTypeID},
		<if test="null != userID">
			#{userID},
		</if>
		<if test="'' != sourceCode and null != sourceCode">
			#{sourceCode},
		</if>
		<if test="'' != sourceUrl and null != sourceUrl">
			#{sourceUrl},
		</if>
		<if test="'' != pdfUrl and null != pdfUrl">
			#{pdfUrl},
		</if>
		<if test="'' != printUrl and null != printUrl">
			#{printUrl},
		</if>
		<if test="null != pageCount">
			#{pageCount},
		</if>
		<if test="null != printedPageCount">
			#{printedPageCount},
		</if>
		<if test="'' != documentName and null != documentName">
			#{documentName},
		</if>
		<if test="'' != sourceCreator and null != sourceCreator">
			#{sourceCreator},
		</if>
		<if test="null != statusFlag">
			#{statusFlag},
		</if>
		<if test="null != printStatus">
			#{printStatus},
		</if>
		<if test="null != courseID">
			#{courseID},
		</if>
		<if test="'' != examNo and null != examNo">
			#{examNo},
		</if>
		<if test="'' != examName and null != examName">
			#{examName},
		</if>
		<if test="'' != printDateTime and null != printDateTime">
			#{printDateTime},
		</if>
		<if test="'' != failedMessage and null != failedMessage">
			#{failedMessage},
		</if>
		now(),
		now()
		)
	</insert>

	<insert id="insertPrintRecord" keyProperty="printRecordID"
		useGeneratedKeys="true" parameterType="com.ry.cds.user.bo.DocumentPrintRecord">
		INSERT INTO documentprintrecord
		(
		CreateUserID,
		<if test="'' != comment and null != comment">
			`Comment`,
		</if>
		DocumentID,
		TotalPrice,
		UnitPrice,
		PrintPageCount,
		StatusFlag,
		PrintStatus,
		<if test="'' != failedMessage and null != failedMessage">
			FailedMessage,
		</if>
		CreateDateTime,
		UpdateDateTime)
		VALUES
		(
		#{createUserID},
		<if test="'' != comment and null != comment">
			#{comment},
		</if>
		#{documentID},
		#{totalPrice},
		#{unitPrice},
		#{printPageCount},
		#{statusFlag},
		#{printStatus},
		<if test="'' != failedMessage and null != failedMessage">
			#{failedMessage},
		</if>
		now(),
		now()
		)

	</insert>

	<update id="update" parameterType="com.ry.cds.user.bo.Document">
		UPDATE `document`
		SET
		<if test="'' != sourceCode and null != sourceCode">
			sourceCode = #{sourceCode},
		</if>
		<if test="'' != sourceUrl and null != sourceUrl">
			sourceUrl = #{sourceUrl},
		</if>
		<if test="'' != pdfUrl and null != pdfUrl">
			pdfUrl = #{pdfUrl},
		</if>
		<if test="'' != printUrl and null != printUrl">
			printUrl = #{printUrl},
		</if>
		<if test="null != printedPageCount and printedPageCount != 0">
			printedPageCount = #{printedPageCount},
		</if>
		<if test="null != statusFlag and statusFlag != 0">
			statusFlag = #{statusFlag},
		</if>
		<if test="null != printStatus and printStatus != 0">
			printStatus = #{printStatus},
		</if>
		<if test="'' != printDateTime and null != printDateTime">
			printDateTime = STR_TO_DATE(#{printDateTime},'%Y-%m-%d
			%T'),
		</if>
		<if test="'' != failedMessage and null != failedMessage">
			failedMessage = #{failedMessage},
		</if>
		updateDateTime = now()
		WHERE
		documentID = #{documentID}
	</update>

	<update id="updatePrintRecord" parameterType="com.ry.cds.user.bo.DocumentPrintRecord">
		UPDATE `documentprintrecord`
		SET
		<if test="'' != comment and null != comment">
			comment = #{comment},
		</if>
		<if test="null != printPageCount and printPageCount != 0">
			printPageCount = #{printPageCount},
		</if>
		<if test="null != printStatus and printStatus != 0">
			printStatus = #{printStatus},
		</if>
		<if test="'' != failedMessage and null != failedMessage">
			failedMessage = #{failedMessage},
		</if>
		updateDateTime = now()
		WHERE
		printRecordID = #{printRecordID}
	</update>
</mapper>