<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.user.mapper.SchoolMapper">
	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.user.bo.School">
		select schoolID,
		schoolCode,
		schoolName,
		statusFlag,
		locationID,
		schoolTypeID,
		address,
		pickupAddress,
		date_format(createDateTime,'%Y-%m-%d') createDateTime,
		date_format(updateDateTime,'%Y-%m-%d') updateDateTime
		FROM
		`school`
		WHERE
		schoolID=#{schoolID}
	</select>
	<select id="getPrimaryBySchoolCode" parameterType="java.lang.String"
		resultType="java.lang.Long">
		SELECT IF(COUNT(schoolID)>0,schoolID,0) FROM `school` WHERE
		schoolCode=#{schoolCode} AND StatusFlag=1
	</select>

	<insert id="insert" keyProperty="schoolID" useGeneratedKeys="true"
		parameterType="com.ry.cds.user.bo.School">
		INSERT INTO `school` (
		<if test="'' != schoolCode and null != schoolCode">
			SchoolCode,
		</if>
		SchoolName,
		<if test="null != statusFlag">
			StatusFlag,
		</if>
		LocationID,
		SchoolTypeID,
		<if test="'' != address and null != address">
			Address,
		</if>
		<if test="'' != pickupAddress and null != pickupAddress">
			PickupAddress,
		</if>
		CreateDateTime,
		UpdateDateTime
		)
		VALUES
		(
		<if test="'' != schoolCode and null != schoolCode">
			#{schoolCode},
		</if>
		#{schoolName},
		<if test="null != statusFlag">
			#{statusFlag},
		</if>
		#{locationID},
		#{schoolTypeID},
		<if test="'' != address and null != address">
			#{address},
		</if>
		<if test="'' != pickupAddress and null != pickupAddress">
			#{pickupAddress},
		</if>
		now(),
		now()
		)
	</insert>

	<update id="update" parameterType="com.ry.cds.user.bo.School">
		UPDATE `school` SET
		<if test="'' != schoolCode and null != schoolCode">
			SchoolCode = #{schoolCode},
		</if>
		<if test="'' != schoolName and null != schoolName">
			SchoolName = #{schoolName},
		</if>
		<if test="null != statusFlag and statusFlag != 0">
			StatusFlag = #{statusFlag},
		</if>
		<if test="'' != locationID and null != locationID">
			LocationID = #{locationID},
		</if>
		<if test="null != schoolTypeID and schoolTypeID != 0">
			SchoolTypeID = #{schoolTypeID},
		</if>
		<if test="'' != address and null != address">
			Address = #{address},
		</if>
		<if test="'' != pickupAddress and null != pickupAddress">
			PickupAddress = #{pickupAddress},
		</if>
		UpdateDateTime = now()
		WHERE
		SchoolID = #{schoolID};
	</update>
</mapper>