<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.user.mapper.UserMapper">

	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.user.bo.User">
		SELECT userID,
		userName,
		userTypeID,
		cardNo,
		schoolID,
		sex,
		userCode,
		courseTypeID,
		date_format(birthday,'%Y-%m-%d') birthday,
		date_format(admissionTime,'%Y-%m-%d') admissionTime,
		printFlag,
		mobile,
		userSourceID,
		statusFlag,
		date_format(createDateTime,'%Y-%m-%d')
		createDateTime,
		date_format(updateDateTime,'%Y-%m-%d') updateDateTime
		FROM `user`
		WHERE
		UserID=#{userID}
	</select>
	<select id="getPrimaryByUserCode" parameterType="java.lang.String"
		resultType="java.lang.Long">
		SELECT IF(COUNT(userID)>0,userID,0) FROM `user` WHERE
		UserCode=#{userCode} AND StatusFlag=1 limit 1
	</select>
	<select id="getPrimaryByCardNo" parameterType="java.lang.String"
		resultType="java.lang.Long">
		SELECT IF(COUNT(userID)>0,userID,0) FROM `user` WHERE
		CardNo=#{cardNo} AND StatusFlag=1 limit 1
	</select>
	<insert id="insert" keyProperty="userID" useGeneratedKeys="true"
		parameterType="com.ry.cds.user.bo.User">
		INSERT INTO `user`
		(
		<if test="'' != userName and null != userName">
			userName,
		</if>
		<if test="null != userTypeID">
			userTypeID,
		</if>
		<if test="'' != cardNo and null != cardNo">
			cardNo,
		</if>
		<if test=" null !=schoolID ">
			schoolID,
		</if>
		<if test="null !=sex ">
			sex,
		</if>
		<if test="'' != userCode and null != userCode">
			userCode,
		</if>
		<if test="null != courseTypeID">
			courseTypeID,
		</if>
		<if test="'' != birthday and null != birthday">
			birthday,
		</if>
		<if test="'' != admissionTime and null != admissionTime">
			admissionTime,
		</if>
		<if test="null != printFlag">
			printFlag,
		</if>
		<if test="'' != mobile and null != mobile">
			mobile,
		</if>
		<if test="null != userSourceID">
			userSourceID,
		</if>
		<if test="null != statusFlag">
			statusFlag,
		</if>
		createDateTime,
		updateDateTime
		)
		VALUES
		(
		<if test="'' != userName and null != userName">
			#{userName},
		</if>
		<if test=" null != userTypeID">
			#{userTypeID},
		</if>
		<if test="'' != cardNo and null != cardNo">
			#{cardNo},
		</if>
		<if test=" null != schoolID ">
			#{schoolID},
		</if>
		<if test="null !=sex ">
			#{sex},
		</if>
		<if test="'' != userCode and null != userCode">
			#{userCode},
		</if>
		<if test="null != courseTypeID">
			#{courseTypeID},
		</if>
		<if test="'' != birthday and null != birthday">
			str_to_date(#{birthday},'%Y-%m-%d'),
		</if>
		<if test="'' != admissionTime and null != admissionTime">
			str_to_date(#{admissionTime},'%Y-%m-%d'),
		</if>
		<if test="null != printFlag">
			#{printFlag},
		</if>
		<if test="'' != mobile and null != mobile">
			#{mobile},
		</if>
		<if test="null != userSourceID">
			#{userSourceID},
		</if>
		<if test="null != statusFlag">
			#{statusFlag},
		</if>
		now(),
		now()
		)
	</insert>

	<update id="update" parameterType="com.ry.cds.user.bo.User">
		UPDATE `user` SET
		<if test="'' != userName and null != userName">
			userName = #{userName},
		</if>
		<if test="null != userTypeID and userTypeID != 0">
			userTypeID = #{userTypeID},
		</if>
		<if test="'' != cardNo and null != cardNo">
			cardNo = #{cardNo},
		</if>
		<if test=" null != schoolID and schoolID != 0">
			schoolID = #{schoolID},
		</if>
		<if test=" null != sex and sex != 0">
			sex = #{sex},
		</if>
		<if test="'' != userCode and null != userCode">
			userCode = #{userCode},
		</if>
		<if test="null != courseTypeID and courseTypeID != 0">
			courseTypeID = #{courseTypeID},
		</if>
		<if test="'' != birthday and null != birthday">
			birthday = str_to_date(#{birthday},'%Y-%m-%d'),
		</if>
		<if test="'' != admissionTime and null != admissionTime">
			admissionTime = str_to_date(#{admissionTime},'%Y-%m-%d'),
		</if>
		<if test="null != printFlag and printFlag != 0">
			printFlag = #{printFlag},
		</if>
		<if test="'' != mobile and null != mobile">
			mobile = #{mobile},
		</if>
		<if test="null != userSourceID and userSourceID != 0">
			userSourceID = #{userSourceID},
		</if>
		<if test="null != statusFlag and statusFlag != 0">
			statusFlag = #{statusFlag},
		</if>
		UpdateDateTime = now()
		WHERE
		UserID=#{userID}
	</update>

</mapper>