<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title>审批管理</title>
    <link rel="stylesheet" href="/css/plugins/iCheck/custom.css">
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">

    <script type="text/javascript" src="/js/plugins/layer/laydate/laydate.js"></script>
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/process/queryTask.js"></script>
</head>
<div class="wrapper wrapper-content animated fadeInRight">
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight:bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">项目名称：</label>
                                <div class="col-sm-2">
                                    <input type="text" id="dataName" name="dataName" class="form-control"
                                           placeholder="请输入审批项目名称">
                                </div>
                                <label class="col-sm-1 control-label">提交日期：</label>
                                <div class="col-sm-4">
                                    <input placeholder="开始日期" style="width:40%;vertical-align:middle;cursor:pointer;"
                                           class="form-control layer-date laydate-icon" id="dateStart" name="dateStart"
                                           readonly>
                                    <!--<span style="display:inline-block;padding:0 10px;">至</span>-->
                                    <input placeholder="结束日期" style="width:40%;vertical-align:middle;cursor:pointer;"
                                           class="form-control layer-date laydate-icon" id="dateEnd" name="dateEnd"
                                           readonly>
                                </div>
                                <label class="col-sm-1 control-label">紧急程度：</label>
                                <div class="col-sm-2">
                                    <select name="urgencyLevel" class="form-control height18">
                                        <option value="0" th:selected="selected">全部</option>
                                        <option value="1">紧急</option>
                                        <option value="2">较急</option>
                                        <option value="3">普通</option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="float:right;">
                                    <button type="button" id="dataSearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">提交人员：</label>
                                <div class="col-sm-2">
                                    <input type="text" id="userName" name="userName" class="form-control"
                                           placeholder="请入提交人员名称">
                                </div>
                                <label class="col-sm-1 control-label">提交部门：</label>
                                <div class="col-sm-2">
                                    <input type="text" id="initiatorDeptName" name="initiatorDeptName"
                                           class="form-control"
                                           placeholder="请输入提交部门名称">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <button id="dataAgree" class="btn btn-success" type="button">
                            <i class="fa fa-check"></i>&nbsp;&nbsp;同意
                        </button>
                        <button id="dataReject" class="btn btn-danger" type="button">
                            <i class="fa fa-close"></i>&nbsp;&nbsp;拒绝
                        </button>
                        <input type="text" id="desc" name="desc"
                               style="width:600px;display:inline;padding-top:2px; padding-bottom:5px;"
                               class="form-control"
                               placeholder="请输入审批备注">
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="taskTable"></table>
                            <div id="taskTableNav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>