<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Custom DataGrid Pager - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/color.css"/>
    <script type="text/javascript" src="/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

    <script th:inline="javascript">
        user = [[${session.user}]];
    </script>

    <script src="/common/common.js"></script>
    <script type="text/javascript" src="/dynamicQuery/js/list.js"></script>
</head>
<body>
<table id="dg" title="执行结果"
       data-options="fitColumns:true,rownumbers:true,singleSelect:true">
    <thead>
    <tr>

    </tr>
    </thead>
</table>
<div id="pp" style="background:#efefef;border:1px solid #ccc;"></div>

</body>
</html>
