<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scriptManager.mapper.UserMapper" >
    <select id="queryList" resultType="com.scriptManager.entity.User">
        select * from users
    </select>

    <select id="queryOne" parameterType="map" resultType="com.scriptManager.entity.User">
        select * from users u
        where 1 = 1
        <if test="userName != null and userName != ''">
            and u.user_name =  #{userName}
        </if>
        <if test="password != null and password != ''">
            and u.password =  #{password}
        </if>
    </select>
</mapper>