<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>业务管理统计</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]];
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/plugins/echarts/echarts-all.js"></script>
    <!--页面js-->
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <style>
        .topz {
            height: 100%;
        }

        .topz div:not(.echarts-tooltip) {
            height: 100%;
        }

        .topz div.c {
            background-color: white;
        }

        * {
            padding: 0 !important;
        }

        .date_select {
            background: white;
            text-align: center;
            display: inline-block;
            width: 26px;
            height: 22px;
        }

        .hover {
            color: white;
            background-color: rgb(0, 118, 255);
        }

        div.colorValue {
            margin-right: 10px;
            width: 70px;
        }

        #top {
            height: 20%;
            margin: 0.5%;
            padding: 0 0 0 1.5% !important;
        }

        #top > div:not(.echarts-tooltip) {
            height: 100% !important;
            margin: auto;
        }

        #top > div > div {
            box-shadow: 5px 5px 3px #888888;
            background-color: white;
        }

        #top > div > div > div:first-child {
            border-bottom: 1px solid lightslategray;
            height: 34px;
            /*margin-top: 5px;*/
        }

        #top > div > div > div:first-child > span {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            margin-left: 5px;
        }

        #top > div > div > div:first-child > div {
            border-radius: 2px;
            float: right;
            width: 100px;
            height: 28px;
            left: 394px;
            top: 136px;
            z-index: 233;
            font-size: 14px;
            padding: 0px;
            border-width: 1px;
            border-style: solid;
            text-align: center;
            line-height: 20px;
            font-style: normal;
            opacity: 1;
            margin-right: 5px;
            color: rgb(0, 118, 255);
            font-weight: bold;
            margin-top: 2px;
        }
    </style>

    <script src="/js/biz/statistics/business_manager_statistics.js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            topOption.init();
            middleOption.init();
            orderSort.init();
            saleAmountSort.init();
            noIncomeSort.init();
            noIncomeSort1.init();
            if(user.currentDeptQx){
                deptBusiness.init();
                deptSaleAmountSort.init();
                deptIncomeSort.init();
            }
        });
    </script>

</head>

<body class="gray-bg">
<div class="row" style="height:100%">
    <div id="content" style="height:100%">
        <div id="top" style="">
            <div class="topz col-sm-3">
                <div id="artCountBox" class="col-sm-11 panel panel-info">
                    <div class="panel-heading">
                        <span style="">稿件数量</span>
                        <div class="bg-warning text" style="">
                            <a onclick="common.dateSelect('artCountBox',this);topOption.setValue('artCountBox','4');"
                               class="bg-danger hover">天&nbsp;</a>
                            <a onclick="common.dateSelect('artCountBox',this);topOption.setValue('artCountBox','3');"
                               class="bg-danger">月&nbsp;</a>
                            <a onclick="common.dateSelect('artCountBox',this);topOption.setValue('artCountBox','1');"
                               class="bg-danger">年&nbsp;</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"><!--总数量--></span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div id="saleAmountBox" class="col-sm-11 " style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">应收金额</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a onclick="common.dateSelect('saleAmountBox',this);topOption.setValue('saleAmountBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('saleAmountBox',this);topOption.setValue('saleAmountBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('saleAmountBox',this);topOption.setValue('saleAmountBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"><!--需支付--></span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div id="incomeAmountBox" class="col-sm-11 c" style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">入账金额</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a onclick="common.dateSelect('incomeAmountBox',this);topOption.setValue('incomeAmountBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('incomeAmountBox',this);topOption.setValue('incomeAmountBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('incomeAmountBox',this);topOption.setValue('incomeAmountBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"><!--已支付--></span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div id="cjPeoBox" class="col-sm-11 c" style="box-shadow: 5px 5px 3px #888888;">
                    <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">成交客户量</span>
                        <div class="text"
                             style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                            <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                <a onclick="common.dateSelect('cjPeoBox',this);topOption.setValue('cjPeoBox','4');"
                                   class="date_select hover">天&nbsp;</a>
                                <a onclick="common.dateSelect('cjPeoBox',this);topOption.setValue('cjPeoBox','3');"
                                   class="date_select">月&nbsp;</a>
                                <a onclick="common.dateSelect('cjPeoBox',this);topOption.setValue('cjPeoBox','1');"
                                   class="date_select">年&nbsp;</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin:10px 0 0 20px;">
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:28px; color:rgb(147, 130, 130); font-style:normal; letter-spacing:0px; line-height:41px; text-decoration:none;"
                              class="value"></span><br/>
                        <span style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"><!--请款金额--></span>
                        <div class="colorValue"
                             style="height: 21px; left: 1396px; top: 236px; z-index: 216; border-width: 0px; border-style: solid; font-weight: normal; font-style: normal; opacity: 1;float:right;">
                            <span class="colorValue changeValue"
                                  style="font-family:SourceHanSansSC; font-weight:400; font-size:14px; font-style:normal; letter-spacing:0px; line-height:20px; text-decoration:none;"></span>
                            <span class="icon fa iconValue" style="font-size: 21px;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="middle" style="height:40%;padding:0 2%!important;margin-top:20px;">
            <div class="topz col-sm-12" style="background-color:white;">
                <div id="middleBox" style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                    <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">业务管理</span>
                    <div class="text"
                         style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                        <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                            <a onclick="common.dateSelect('middleBox',this);middleOption.setValue('middleBox','4')"
                               class="date_select hover">天&nbsp;</a>
                            <a onclick="common.dateSelect('middleBox',this);middleOption.setValue('middleBox','3')"
                               class="date_select">月&nbsp;</a>
                            <a onclick="common.dateSelect('middleBox',this);middleOption.setValue('middleBox','1')"
                               class="date_select">年&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div id="meddle_chart">

                </div>
            </div>
        </div>

        <div id="bottom" style="height:50%;margin-top:20px;">
            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <div style="height:95%;width:100%;">
                    <form id="orderSortForm">
                        <div id="orderSortBox" class="col-sm-11 c">
                            <div style="height:99%;margin-top:1%">
                                <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                                    <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">订单排名</span>
                                    <!--<select name="artType" style="margin-left:50px;">-->
                                    <!--<option value="">稿件类别</option>-->
                                    <!--</select>-->
                                    <input type="hidden" name="dateSelect" value=""/>
                                    <div class="text"
                                         style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                        <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                            <a onclick="common.dateSelect('orderSortBox',this);orderSort.reflush('4')"
                                               class="date_select hover">天&nbsp;</a>
                                            <a onclick="common.dateSelect('orderSortBox',this);orderSort.reflush('3')"
                                               class="date_select">月&nbsp;</a>
                                            <a onclick="common.dateSelect('orderSortBox',this);orderSort.reflush('1')"
                                               class="date_select">年&nbsp;</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="jqGrid_wrapper">
                                        <table id="orderSortTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <form id="saleAmountSortForm">
                    <div id="saleAmountSortBox" class="col-sm-11 c">
                        <div style="height:99%;margin-top:1%">
                            <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                                <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">应收金额排名</span>
                                <input type="hidden" name="dateSelect" value=""/>
                                <input type="hidden" name="tjType" value="saleAmountSortBox"/>
                                <div class="text"
                                     style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                    <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                        <a onclick="common.dateSelect('saleAmountSortBox',this);saleAmountSort.reflush('4')"
                                           class="date_select hover">天&nbsp;</a>
                                        <a onclick="common.dateSelect('saleAmountSortBox',this);saleAmountSort.reflush('3')"
                                           class="date_select">月&nbsp;</a>
                                        <a onclick="common.dateSelect('saleAmountSortBox',this);saleAmountSort.reflush('1')"
                                           class="date_select">年&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="jqGrid_wrapper">
                                    <table id="saleAmountSortTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <form id="noIncomeSortForm">
                    <div id="noIncomeSortBox" class="col-sm-11 c">
                        <div style="height:99%;margin-top:1%">
                            <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                                <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">未到款排名</span>
                                <input type="hidden" name="dateSelect" value=""/>
                                <input type="hidden" name="tjType" value="noIncomeSortBox"/>
                                <div class="text"
                                     style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                    <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                        <a onclick="common.dateSelect('noIncomeSortBox',this);noIncomeSort.reflush('4')"
                                           class="date_select hover">天&nbsp;</a>
                                        <a onclick="common.dateSelect('noIncomeSortBox',this);noIncomeSort.reflush('3')"
                                           class="date_select">月&nbsp;</a>
                                        <a onclick="common.dateSelect('noIncomeSortBox',this);noIncomeSort.reflush('1')"
                                           class="date_select">年&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="jqGrid_wrapper">
                                    <table id="noIncomeSortTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="topz col-sm-3">
                <div class="col-sm-1 gray-bg"></div>
                <form id="noIncomeSortForm1">
                    <div id="noIncomeSortBox1" class="col-sm-11 c">
                        <div style="height:99%;margin-top:1%">
                            <div style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                                <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">未到款排名（业务员）</span>
                                <input type="hidden" name="dateSelect" value=""/>
                                <input type="hidden" name="tjType" value="noIncomeSortBox1"/>
                                <div class="text"
                                     style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                                    <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                                        <a onclick="common.dateSelect('noIncomeSortBox1',this);noIncomeSort1.reflush('4')"
                                           class="date_select hover">天&nbsp;</a>
                                        <a onclick="common.dateSelect('noIncomeSortBox1',this);noIncomeSort1.reflush('3')"
                                           class="date_select">月&nbsp;</a>
                                        <a onclick="common.dateSelect('noIncomeSortBox1',this);noIncomeSort1.reflush('1')"
                                           class="date_select">年&nbsp;</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="jqGrid_wrapper">
                                    <table id="noIncomeSortTable1"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div id="deptBusiness" style="display:none;height:40%;padding:0 2%!important;margin-top:20px;">
            <div class="topz col-sm-12" style="background-color:white;">
                <div id="deptBusinessBox" style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                    <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">各部门业务量报告</span>
                    <button class="btn btn-primary" type="button" style="display:none" id="returnS"
                            onclick="deptBusiness.returnS()">返回上一级
                    </button>
                    <div class="text"
                         style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                        <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                            <a onclick="common.dateSelect('deptBusinessBox',this);deptBusiness.setValue(deptBusiness.dept,'4')"
                               class="date_select hover">天&nbsp;</a>
                            <a onclick="common.dateSelect('deptBusinessBox',this);deptBusiness.setValue(deptBusiness.dept,'3')"
                               class="date_select">月&nbsp;</a>
                            <a onclick="common.dateSelect('deptBusinessBox',this);deptBusiness.setValue(deptBusiness.dept,'1')"
                               class="date_select">年&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div id="deptBusiness_chart">

                </div>
            </div>
        </div>

        <div id="deptSaleAmountSort" style="display:none;height:40%;padding:0 2%!important;margin-top:20px;">
            <div class="topz col-sm-12" style="background-color:white;">
                <div id="deptSaleAmountSortBox"
                     style="border-bottom:1px solid lightslategray;height:34px;margin-top:5px;">
                    <span style="font-family:SourceHanSansSC; font-weight:400; font-size:16px; color:rgb(16, 16, 16); font-style:normal; letter-spacing:0px; line-height:24px; text-decoration:none;margin-left:5px;">业务排名</span>
                    <div class="text"
                         style="border-radius: 2px;float:right;width: 100px; height: 28px; left: 394px; top: 136px; z-index: 233; background-color: rgb(0, 118, 255); font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;margin-right:5px;">
                        <div style="color:rgb(0, 118, 255);font-weight: bold;margin-top:2px;">
                            <a onclick="common.dateSelect('deptSaleAmountSortBox',this);deptSaleAmountSort.setValue('deptSaleAmountSortBox','4');deptIncomeSort.setValue('deptIncomeSortBox', '4');"
                               class="date_select hover">天&nbsp;</a>
                            <a onclick="common.dateSelect('deptSaleAmountSortBox',this);deptSaleAmountSort.setValue('deptSaleAmountSortBox','3');deptIncomeSort.setValue('deptIncomeSortBox', '3');"
                               class="date_select">月&nbsp;</a>
                            <a onclick="common.dateSelect('deptSaleAmountSortBox',this);deptSaleAmountSort.setValue('deptSaleAmountSortBox','1');deptIncomeSort.setValue('deptIncomeSortBox', '1');"
                               class="date_select">年&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div id="deptSaleAmountSort_chart" class="col-sm-6">

                </div>
                <div id="deptIncomeSort_chart" class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
