<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper
	namespace="com.ry.xk.studentexamresult.mapper.ExamSetMapper">
	<select id="getExamSet" parameterType="java.lang.Integer"
		resultType="com.ry.xk.studentexamresult.bo.ExamSet">
		select examSetId,examSetValue from `examset` where
		ExamSetId = #{examSetId,jdbcType=INTEGER}
	</select>

	<select id="getExamSetQuestions"
		parameterType="java.lang.Integer"
		resultType="com.ry.xk.studentexamresult.bo.ExamSetQuestion">
		select
		examSetId,questionId,sectionId,questionScore,orderIndex,bookVersionId,knowledgePointId
		from examsetquestion where ExamSetId = #{examSetId,jdbcType=INTEGER}
	</select>

	<insert id="insertExamSet" keyProperty="examSetId"
		useGeneratedKeys="true"
		parameterType="com.ry.xk.studentexamresult.bo.ExamSet">
		insert into `examset`
		(ExamSetValue)
		value
		(#{examSetValue,jdbcType=INTEGER})
	</insert>

	<insert id="insertExamSetQuestions"
		parameterType="java.util.List">
		insert into `examsetquestion` (ExamSetID,
		QuestionID,SectionID,QuestionScore,OrderIndex,BookVersionID,KnowledgePointID)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.examSetId,jdbcType=INTEGER},
			#{item.questionId,jdbcType=INTEGER},
			#{item.sectionId,jdbcType=INTEGER},
			#{item.questionScore,jdbcType=DOUBLE},
			#{item.orderIndex,jdbcType=INTEGER},
			#{item.bookVersionId,jdbcType=INTEGER},
			#{item.knowledgePointId,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
</mapper>