<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper
	namespace="com.ry.xk.studentexamresult.mapper.ExamPaperMapper">

	<!--根据学科获取试卷列表数据，包括购买和未购买的 -->
	<select id="getExamPaper"
		resultType="com.ry.xk.studentexamresult.bo.ExamPaper">
		select
		examPaperId,examPaperName,courseId,useYear,examType,examPaperCoverPath,examTime,expireTime,round(price,2)
		price,isFree,orderIndex,examConstitute,provider,
		statusFlag,createDateTime,updateDateTime,isPack from exampaper
		where
		statusflag = 1 and courseId = #{courseId}
		and ExpireTime > now() and
		isPack = 0
		and partnerId = #{partnerId}
		order by OrderIndex limit
		${startIndex},${pageSize}
	</select>

	<!--根据学科获取试卷列表数据，只包含已购买的 -->
	<select id="getBuyExamPaper"
		resultType="com.ry.xk.studentexamresult.bo.ExamPaper">
		select examPaperId,examPaperName,courseId,useYear,examType,
		examPaperCoverPath,examTime,expireTime,round(price,2)
		price,isFree,orderIndex,
		examConstitute,provider,
		e.statusFlag,e.createDateTime,e.updateDateTime,isPack from exampaper e
		inner join
		userresource u
		on u.ResourceID = e.examPaperId
		where u.UserID
		= #{userId}
		and u.ResourceTypeID = 1
		and e.StatusFlag = 1 and
		u.StatusFlag = 1
		and courseId = #{courseId}
		and partnerId = #{partnerId}
		and ExpireTime > now() and isPack = 0
		order by OrderIndex limit
		${startIndex},${pageSize}
	</select>

	<select id="get" parameterType="java.lang.Integer"
		resultType="com.ry.xk.studentexamresult.bo.ExamPaper">
		select
		examPaperId,examPaperName,courseId,useYear,examType,examPaperCoverPath,examTime,expireTime,round(price,2)
		price,isFree,orderIndex,examConstitute,provider,
		statusFlag,createDateTime,updateDateTime,isPack from exampaper
		where
		statusflag = 1 and examPaperId = #{examPaperId}
	</select>

	<select id="getPackExamPaperIdByCourseIdAndPartnerId"
		resultType="java.lang.Integer">
		select
		IF(COUNT(examPaperID)>0,examPaperID,0) from
		`exampaper`
		where
		statusFlag = 1 and
		ExpireTime > SYSDATE() AND
		CourseID=#{courseId} AND
		IsPack = 1 AND
		PartnerID=#{partnerId} limit 1
	</select>
</mapper>