<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper
	namespace="com.ry.xk.studentexamresult.mapper.StudentExamMapper">
	<select id="getStudentExam" parameterType="java.lang.Long"
		resultType="com.ry.xk.studentexamresult.bo.StudentExam">
		SELECT
		studentExamId,
		examPaperId,
		userId,
		bookVersionId,
		examSetId,
		examStatusId,
		totalScore,
		examSourceTypeId,
		courseId,
		fromTypeId,
		examEndTime,
		questionCount,
		statusFlag,
		createDateTime
		FROM
		studentexam
		WHERE
		statusFlag = 1 and studentExamId =
		#{studentExamId,jdbcType=BIGINT}
	</select>

	<insert id="insertStudentExam" keyProperty="studentExamId"
		useGeneratedKeys="true"
		parameterType="com.ry.xk.studentexamresult.bo.StudentExam">
		insert into studentexam
		(
		studentExamId,
		examPaperId,
		userId,
		bookVersionId,
		examSetId,
		examStatusId,
		totalScore,
		courseId,
		examEndTime,
		questionCount,
		statusFlag,
		createDateTime)
		value
		(#{studentExamId,jdbcType=BIGINT},
		#{examPaperId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{bookVersionId,jdbcType=INTEGER},
		#{examSetId,jdbcType=INTEGER},
		1,
		#{totalScore,jdbcType=DOUBLE},
		#{courseId,jdbcType=INTEGER},
		#{examEndTime,jdbcType=TIMESTAMP},
		#{questionCount,jdbcType=INTEGER},
		1,
		#{createDateTime,jdbcType=TIMESTAMP})
	</insert>
	<update id="updateExamStatusId">
		UPDATE studentexam
		SET
		examStatusId =
		#{examStatusId,jdbcType=TINYINT}
		where studentExamId =
		#{studentExamId,jdbcType=BIGINT}
	</update>
</mapper>