<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.xk.studentexamresult.mapper.UserResourceMapper">

	<!--根据用户ID和资源类型获取用户资源-->
	<select id="getUserResource" parameterType="java.lang.Integer" resultType="com.ry.xk.studentexamresult.bo.UserResource">
		select userId,resourceTypeId,resourceId,buyingDateTime,sourceTypeId,statusFlag,createDateTime,updateDateTime from userresource
		where statusflag = 1 and userId = #{userId} and resourceTypeId = #{resourceTypeId}
	</select>

	<!--插入一条数据-->
	<insert id="addUserResource" parameterType="com.ry.xk.studentexamresult.bo.UserResource">
		replace INTO userresource(userId,resourceTypeId,resourceId,buyingDateTime,sourceTypeID,statusFlag,CreateDatetime,updateDatetime)
		values(#{userId},#{resourceTypeId},#{resourceId},now(),1,1,now(),now())
	</insert>

	<!--根据主键获取用户资源-->
	<select id="getUserResourceByPrimary" parameterType="com.ry.xk.studentexamresult.bo.UserResource" resultType="com.ry.xk.studentexamresult.bo.UserResource">
		select userId,resourceTypeId,resourceId,buyingDateTime,sourceTypeId,statusFlag,createDateTime,updateDateTime from userresource
		where statusflag = 1 and userId = #{userId} and resourceTypeId = #{resourceTypeId} and resourceId = #{resourceId}
	</select>


	<insert id="addUserResourceList"
			parameterType="java.util.List">
			replace INTO xkexamresult.userresource(userId,resourceTypeId,resourceId,buyingDateTime,sourceTypeID,statusFlag,CreateDatetime,updateDatetime)
		values
		<foreach collection="list" item="item" index="index"
				 separator=",">
			(
			#{item.userId,jdbcType=INTEGER},
			#{item.resourceTypeId,jdbcType=INTEGER},
			#{item.resourceId,jdbcType=INTEGER},
			now(),
			1,
			1,
			now(),
			now()
			)
		</foreach>
	</insert>

</mapper>