<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.wx.mapper.WxMessageMapper" >
  <resultMap id="BaseResultMap" type="com.demo.wx.model.WxMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="toUserName" property="tousername" jdbcType="VARCHAR" />
    <result column="fromUserName" property="fromusername" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="msgType" property="msgtype" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="msgId" property="msgid" jdbcType="VARCHAR" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="precision" property="precision" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, toUserName, fromUserName, createTime, msgType, content, msgId, event, latitude, 
    longitude, `precision`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.wx.model.WxMessage" >
    insert into wx_message (id, toUserName, fromUserName, 
      createTime, msgType, content, 
      msgId, event, latitude, 
      longitude, `precision`)
    values (#{id,jdbcType=INTEGER}, #{tousername,jdbcType=VARCHAR}, #{fromusername,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=DATE}, #{msgtype,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{msgid,jdbcType=VARCHAR}, #{event,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{precision,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.wx.model.WxMessage" >
    insert into wx_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tousername != null" >
        toUserName,
      </if>
      <if test="fromusername != null" >
        fromUserName,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="msgtype != null" >
        msgType,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="msgid != null" >
        msgId,
      </if>
      <if test="event != null" >
        event,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="precision != null" >
        `precision`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tousername != null" >
        #{tousername,jdbcType=VARCHAR},
      </if>
      <if test="fromusername != null" >
        #{fromusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="msgtype != null" >
        #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="msgid != null" >
        #{msgid,jdbcType=VARCHAR},
      </if>
      <if test="event != null" >
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="precision != null" >
        #{precision,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.wx.model.WxMessage" >
    update wx_message
    <set >
      <if test="tousername != null" >
        toUserName = #{tousername,jdbcType=VARCHAR},
      </if>
      <if test="fromusername != null" >
        fromUserName = #{fromusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="msgtype != null" >
        msgType = #{msgtype,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="msgid != null" >
        msgId = #{msgid,jdbcType=VARCHAR},
      </if>
      <if test="event != null" >
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="precision != null" >
        `precision` = #{precision,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.wx.model.WxMessage" >
    update wx_message
    set toUserName = #{tousername,jdbcType=VARCHAR},
      fromUserName = #{fromusername,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      msgType = #{msgtype,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      msgId = #{msgid,jdbcType=VARCHAR},
      event = #{event,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      precision = #{precision,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>