<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>通讯录</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>

    <style>

    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        var userList = {
            loadUsers:function(){
                $.ajax({
                    url: "/user/queryUserInfo",
                    type: "post",
                    async: true,
                    data: {page:1,size:1000},
                    success: function(resData){
                        if(resData.list){
                            $("#user_list").empty();
                            for(var i = 0;i<resData.list.length;i++){
                                var image = resData.list[i].image || "";
                                var sexIcon = resData.list[i].sex == 0 ? "fa-venus" : "fa-mars";
                                var sexColor = resData.list[i].sex == 0 ? "rgb(237, 86, 102)" : "rgb(29, 132, 198)";
                                var name = resData.list[i].name || "";
                                var name = resData.list[i].name || "";
                                var phone = resData.list[i].phone || "";
                                var email = resData.list[i].email || "";
                                var wechat = resData.list[i].wechat || "";

                                var userElement = '<div class="col-sm-4">'+
                                    '<div class="contact-box">'+
                                    '<a href="javascript:">'+
                                    '<div class="col-sm-4">'+
                                    '<div class="text-center">'+
                                    '<img alt="image" class="img-circle m-t-xs img-responsive" src="${image}">'+
                                    '<div class="m-t-xs font-bold">${name}</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '<div class="col-sm-8">'+
                                    '<h3><strong>${name}</strong></h3>'+
                                    '<p><i class="fa fa-map-marker"></i>地址</p>'+
                                    '<address>'+
                                    '<strong>Baidu, Inc.</strong><br>'+
                                    '邮箱:${email}<br>'+
                                    '微信:<a href="">${wechat}</a><br>'+
                                    '<abbr title="Phone">电话:</abbr> ${phone}'+
                                    '</address>'+
                                    '</div>'+
                                    '<div class="clearfix"></div>'+
                                    '</a>'+
                                    '</div>'+
                                    '</div>';
                                userElement = userElement.replace("${image}",image).replace("${name}",name).
                                replace("${name}",name).replace("${name}",name).replace("${phone}",phone).replace("${email}",email).
                                replace("${sexIcon}",sexIcon).replace("${sexColor}",sexColor).replace("${wechat}",wechat);

                                $("#user_list").append(userElement);
                            }

                            //动画效果
                            $('.contact-box').each(function () {
                                animationHover(this, 'pulse');
                            });
                        }
                    }
                });
            }
        };

        $(function () {
            userList.loadUsers();
        });
    </script>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" id="user_list">

    </div>
</div>


</body>

</html>
