<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>供应商统计</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <script th:inline="javascript">
        user = [[${session.user}]];
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/mediauser/statistics/supplier_statistics.js"></script>

    <style>
        .right0 {
            margin-right: -23px;
        }

        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .option_button_head {
            height: 25px;
            margin-left: 5px;
            text-align: center;
            padding-top: 4px;
        }

        .layui-form-select dl {
            max-height: 100px;
        }

        .ui-jqgrid-bdiv {
            overflow-x: scroll !important;
        }
        .ui-jqgrid .ui-jqgrid-htable thead th div {
            text-align: center !important;
        }
        th.ui-th-column div, .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
        }
    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        $(function () {
            $('body').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    $("#searchButton").click();
                }
            });
            //加载时间控件
            var issuedDateStart = {
                elem: '#issuedDateStart',
                format: 'YYYY/MM/DD',
                istime: true,
                istoday: false
            };
            laydate(issuedDateStart);
            issuedDateStart.elem = '#issuedDateEnd';
            laydate(issuedDateStart);

            Views.loadMediaType("artType");

            //创建表格对象
            grid = new dataGrid("table", gridObject, "pager", "searchForm");
            //加载表格
            grid.loadGrid();
            //设置统计数据
            Supplier.setArticleResult();
            //设置下面的按钮
            grid.setNavGrid();
        });

    </script>

</head>

<body class="gray-bg">
<!--导出不能用ajax，所以用表单-->
<form action="/article/exportAll" method="post" id="exportForm">
    <input name="datas" type="hidden">
</form>

<!--查询条件-->
<form id="searchForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-16px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content" style="padding:0 0 0 0">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label right0">统计时段:</label>
                            <div class="col-sm-1">
                                <!--时间段-->
                                <select name="timeQuantum" class="form-control height18" onchange="searchForm.showIssuedDate(this.value);searchForm.search()">
                                    <option value="1">本年度</option>
                                    <option value="2">本季度</option>
                                    <option value="3" selected="selected">本月份</option>
                                    <option value="4">当天</option>
                                    <option value="5">时间区间</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">稿件类别:</label>
                            <div class="col-sm-1">
                                <select name="artType" class="form-control height18" onchange="searchForm.search()">
                                    <option value="">全部</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">供应商:</label>
                            <div class="col-sm-2">
                                <input type="text" name="supplierName" id="supplierName" class="form-control height18" />
                            </div>

                            <label class="col-sm-1 control-label right0">联系人:</label>
                            <div class="col-sm-4">
                                <input type="text" name="contactor" id="contactor" class="form-control height18" style="float:left;width:150px;" />

                                <button type="button" id="searchButton" class="btn btn-primary" style="float:left;margin-left:20px;"
                                        onclick="searchForm.search()">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;查询
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="issuedDateFormGroup" style="display: none">
                                <label class="col-sm-1 control-label right0">发布时间：</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <input placeholder="开始日期" style="width:40%;margin-left:0;vertical-align: middle"
                                           class="form-control layer-date" id="issuedDateStart" name="issuedDateStart">
                                    <span style="display:inline-block;padding:0 10px;">至</span>
                                    <input placeholder="结束日期" style="width:40%;vertical-align: middle"
                                           class="form-control layer-date" id="issuedDateEnd" name="issuedDateEnd">
                                </div>
                            </div>
                        </div>

                    </div>
                </DIV>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-title">
                <h4 style="font-weight: bold">统计数据</h4>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal" id="tj">
                    <div class="col-sm-2">
                        <label>稿件个数:</label><span id="artCount" class="text-danger">0</span>
                    </div>
                    <div class="col-sm-2">
                        <label>应付金额:￥</label><span id="payAmount" class="text-danger">0</span>
                    </div>
                    <div class="col-sm-2">
                        <label>已付金额:￥</label><span id="incomeAmount" class="text-danger">0</span>
                    </div>
                    <div class="col-sm-2">
                        <label>请款金额:￥</label><span id="applyAmount" class="text-danger">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--查询条件结束-->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-title" id="buttons">
                
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="jqGrid_wrapper">
                        <table id="table" style="width:100%"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

</body>

</html>
