<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis3.mapper.DepartmentMapper">

    <select id="getDeptById" resultType="mybatis3.mapper.Department">
        select id,dept_name departmentName from tbl_dept where id = #{id}
    </select>

</mapper>