<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>公司信息</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/crm/common_util.js"></script>

    <script src="/js/crm/commonDatagrid.js"></script>

    <style>
        .ibox-title .big_xx{
            font-family: SourceHanSansSC;
            color: rgb(16, 16, 16);
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0px;
            line-height: 29px;
            text-decoration: none
        }
        .form-group .middle_xx{
            font-family: SourceHanSansSC;
            color: rgb(16, 16, 16);
            line-height: 20px;
            font-style: normal;
            font-size: 14px;
            font-weight: 700;
            text-decoration: none
        }
        .form-group .small_xx{
            font-family: SourceHanSansSC;
            color: rgb(16, 16, 16);
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 20px;
            text-decoration: none;
            border:none;
        }
        .option_button{
            width:60px;
            float:left;
            margin-left:10px;
            display:block;
            background:rgb(24, 144, 255);
            color:white;
            border-width: 1px;
            border-radius: 4px;
        }
        .layui-form-selected dl{
            width:0px;
        }
    </style>

    <script th:inline="javascript">
        //保存公司信息
        var company = {};

        $().ready(function () {
            layui.use(['form'], function(){
                layuiForm = layui.form;
                company.id = companyId;
                //回显页面数据
                $.ajax({
                    url:"/cust/custInfo",
                    data:{id: companyId},
                    success:function(data){
                        for(k in data){
                            if($("#"+k).length > 0 && data[k]){
                                $("#"+k).val(data[k]);
                                if(k == "industry"){
                                    //加载行业
                                    Views.loadIndustry("industry",data[k]);
                                }
                                if(k == "area"){
                                    //加载地区
                                    Views.loadDistrict("area",data[k]);
                                }
                            }
                        }
                        if(!data["area"]){
                            Views.loadDistrict("area");
                        }
                        if(!data["industry"]){
                            Views.loadIndustry("industry");
                        }
                    }
                });
            });

            var companyId = getQueryString("companyId");
            var op = getQueryString("op");
            if(op == "edit"){
                $("input").css("border","1px solid #e5e6e7");
                $("input").css("border-radius","1px")
            }

            var e = "<i class='fa fa-times-circle'></i> ";
            $("#cust").validate({
                rules: {
                    companyName: {required: !0, minlength: 1, maxlength: 255},
                    industry: {required: !0, minlength: 1, maxlength: 50},
                    product: {required: !0, minlength: 1, maxlength: 255},
                    companyBuild: {required: !0, minlength: 1, maxlength: 255},
                    projectName: {required: !0, minlength: 1, maxlength: 255},
                    transmissionGoal: {required: !0, minlength: 1, maxlength: 255},
                    custName: {required: !0, minlength: 1, maxlength: 50},
                    age: {digits: true, min: 1, max: 120},
                    age1: {digits: true, min: 1, max: 120},
                    throwCount: {digits: true, min: 0}
                },
                messages: {
                    companyName: {required: e + "请输入公司名称", minlength: e + "公司名称长度必须大于{0}", maxlength: e + "公司长度必须小于{0}"},
                    industry: {required: e + "请输入行业", minlength: e + "行业长度必须大于{0}", maxlength: e + "行业长度必须小于{0}"},
                    product: {required: e + "请输入产品", minlength: e + "产品长度必须大于{0}", maxlength: e + "产品长度必须小于{0}"},
                    companyBuild: {required: e + "请输入公司结构", minlength: e + "公司结构长度必须大于{0}", maxlength: e + "公司结构长度必须小于{0}"},
                    projectName: {required: e + "请输入项目名称", minlength: e + "项目名称长度必须大于{0}", maxlength: e + "项目名称长度必须小于{0}"},
                    transmissionGoal: {required: e + "请输入传播目的", minlength: e + "传播目的长度必须大于{0}", maxlength: e + "传播目的长度必须小于{0}"},
                    custName: {required: e + "请输入对接人名称", minlength: e + "对接人名称的长度必须大于{0}", maxlength: e + "对接人名称长度必须小于{0}"},
                    age: {digits: e + "请输入数字", min: e + "年龄最小是{0}", max: e + "年龄最大是{0}"},
                    age1: {digits: e + "请输入数字", min: e + "年龄最小是{0}", max: e + "年龄最大是{0}"},
                    throwCount: {digits: e + "请输入数字", min: e + "投放量最小是{0}"}
                }
            });
        });

        function submitCust(){
            if($("#cust").valid()){
                var formData = $("#cust").serializeJson();
                formData.id = company.id;
                $.ajax({
                    url: '/cust/updateCompany' ,
                    type: 'post',
                    data: formData,
                    async: false,
                    cache: false,
                    success: function (returndata) {
                        parent.layer.alert(returndata.data.status);
                    },
                    error: function (returndata) {
                        parent.layer.alert(returndata.data.status);
                    }
                });
            }else{
                parent.layer.alert("请按要求输入参数");
            }
        }
    </script>

</head>

<body class="gray-bg">

    <div id="content">
        <form id="cust">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                        <div class="ibox-title">
                            <h5 class="big_xx">企业信息</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label middle_xx">公司名称:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="companyName" name="companyName" value="" readonly="readonly" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">行业:</label>
                                    <div class="col-sm-2 layui-form">
                                        <!--<input type="text" id="industry" name="industry" value="" class="form-control small_xx">-->
                                        <select lay-verify="" lay-search name="industry" id="industry" style="margin-top:30px;z-index:-1" class="form-control height18">

                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">地区:</label>
                                    <div class="col-sm-2 layui-form">
                                        <!--<input type="text" id="area" name="area" value="" class="form-control small_xx">-->
                                        <select lay-verify="" lay-search name="area" style="z-index:10" id="area" class="form-control height18">

                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">公司结构:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="companyBuild" name="companyBuild" value="" class="form-control small_xx">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label middle_xx">项目名称:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="projectName" name="projectName" value="" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">传播目的:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="transmissionGoal" name="transmissionGoal" value="" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">规模:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="size" name="size" value="" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">投放量:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="throwCount" name="throwCount" value="" class="form-control small_xx">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label middle_xx">产品:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="product" name="product" value="" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">传播经验:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="experience" name="experience" value="" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">发布媒体:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="publicMedium" name="publicMedium" value="" class="form-control small_xx">
                                    </div>

                                    <label class="col-sm-1 control-label middle_xx">投放渠道:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="throwDitch" name="throwDitch" value="" class="form-control small_xx">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
