<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>客户列表</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/crm/commonOperate.js"></script>
    <script src="/js/crm/custom_list.js"></script>

    <style>
        .right0 {
            margin-right: -23px;
        }

        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .option_button_head {
            height: 25px;
            margin-left: 5px;
            text-align: center;
            padding-top: 4px;
        }

        .layui-form-select dl {
            max-height: 333px;
        }

        #transfer_bottom .layui-form-select dl{
            max-height: 100px;
        }

        .trans{
            background-image:url(/img/transfer.png);
            /*width:100px;*/
            /*height:100px;*/
            background-repeat: no-repeat;
            float:left;
        }
    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        Cust = {
            init: function(){
                Views.loadDistrict("area");
            }
        };

        Cust.init();

        $(function () {
            $('body').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    $("#searchButton").click();
                }
            });
            //加载时间控件

            var createStart = {
                elem: '#createStart',
                format: 'YYYY/MM/DD ',
               // min:  //设定最小日期为当前日期
                max: laydate.now(), //最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    createEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    createEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var createEnd = {
                elem: '#createEnd',
                format: 'YYYY/MM/DD',
               // min:
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    createStart.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };

            var updateStart = {
                elem: '#updateStart',
                format: 'YYYY/MM/DD ',
               // min:  //设定最小日期为当前日期
                max: laydate.now(), //最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    updateEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    updateEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var updateEnd = {
                elem: '#updateEnd',
                format: 'YYYY/MM/DD ',

                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    updateStart.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(createStart);
            laydate(createEnd);

            laydate(updateStart);
            laydate(updateEnd);

//            var createStart = {
//                elem: '#createStart',
//                format: 'YYYY/MM/DD',
//                istime: true,
//                istoday: false
//            };
//            laydate(createStart);
//            createStart.elem = '#createEnd';
//            laydate(createStart);
//            createStart.elem = '#updateStart';
//            laydate(createStart);
//            createStart.elem = '#updateEnd';
//            laydate(createStart);

            //创建表格对象
            custGrid = new dataGrid("custTable", gridObject, "custPager", "cust");
            //加载表格
            custGrid.loadGrid();
            //设置下面的按钮
            custGrid.setNavGrid();
            //添加上面的操作按钮
            var searchParam = $("cust").serialize();

            custGrid.addOptionButton([
                {"text": "<i class=\"fa fa-pencil-square-o\"></i>&nbsp;客户登记", "href": "/crm/custom_add"},
                {"text": "<i class=\"fa fa-user-plus\"></i>&nbsp;客户导入", "href": "/crm/custom_add"},
                {"text": "<i class=\"fa fa-external-link\"></i>&nbsp;导出全部", "href": "javascript:custGrid.exportAll('/cust/exportAll')"},
                {"text": "<i class=\"fa fa-exchange\"></i>&nbsp;批量交接", "href": "javascript:DockingPeople.batchTransfer()"},
                {"text": "<i class=\"fa fa-group\"></i>&nbsp;批量指派", "href": "javascript:DockingPeople.assign()"}], "custButtons");

            DockingPeople.init();

//            $(".buttonsId").append('<div class="trans">批量交接</div>')

        });



    </script>

</head>

<body class="gray-bg">
<!--批量交接弹出框-->
<div id="batchTransfer" style="width:725px;height:320px;display:none;padding-left:10px;">
    <div id="transfer_top" style="width:708px;height:30%;padding-left:10px;">
        <table style="margin-top:10px;">
            <tr style="height:40px;">
                <td style="width:100px;">
                    <label for="transferCount">对接人数量：</label>
                </td>
                <td>
                    <input style="border:none" name="transferCount" id="transferCount" value="0">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="transferWorker">负责人：</label>
                </td>
                <td>
                    <input style="border:none" name="transferWorker" id="transferWorker" value="">
                </td>
            </tr>
        </table>
    </div>
    <div id="transfer_bottom" style="width:708px;height:65%;margin-top:5px;" ;>
        <table style="margin-top:10px;">
            <tr style="height:40px;" valign="top">
                <td style="width:100px;">
                    <label for="transferDepartment">选择交接部门：</label>
                    <label for="transferTransferWorker" style="margin-top:35px;">选择交接人：</label>
                </td>
                <td style="width:150px;">
                    <select name="transferDepartment" id="transferDepartment"
                     onchange="DockingPeople.setSelectPeople()" class="form-control height18">
                    </select>
                    <div style="margin-top:10px;">
                        <select name="transferTransferWorker" id="transferTransferWorker"
                                style="margin-top:30px;z-index:-1" class="form-control height18">
                        </select>
                    </div>
                </td>
                <td style="width:80px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;<label for="transferComment">交接备注：</label>
                </td>
                <td>
                        <textarea name="transferComment" rows="3" cols="35"
                                  id="transferComment" style="height:100px;" class="form-control">
                        </textarea>
                </td>
            </tr>
        </table>
        <div class="form-group" style="width:100%;text-align:center;margin-top:15px;">
            <div style="margin-left: 50%">
                <div style="margin-left:-90px;">
                    <input type="button" class="form-control height18 option_button" value="交接"
                           onclick="DockingPeople.batchTransferq()">
                    <input type="button" class="form-control height18 option_button" value="关闭"
                           onclick="layer.closeAll();">
                </div>
            </div>
        </div>

    </div>
</div>

<!--批量交接弹出确认框-->
<div id="batchTransferq" style="width:725px;height:250px;display:none;padding-left:10px;">
    <div id="transfer_bottomq" style="width:708px;height:200px;margin-top:5px;" ;>
        <div style="width:48%;height:70%;line-height: 35px;float:left">
            确认要将<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;"
                                                                                          id="transferWorkerq">谢席珍</span>&nbsp;&nbsp;&nbsp;&nbsp;负责的<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;" id="transferCountq"></span>&nbsp;&nbsp;&nbsp;&nbsp;个客户对接人全部交给<br/>
            &nbsp;&nbsp;<span style="color:red" id="transferTransferWorkerq"></span>&nbsp;&nbsp;&nbsp;吗
        </div>

        <div style="width:50%;height:70%;line-height: 35px;float:left">
            <span style="vertical-align: top;">交接备注如下：</span>
            <textarea style="height:130px;width:250px;" readonly="readonly" id="transferCommentq"></textarea>
        </div>

        <div class="form-group" style="width:100%;text-align:center;margin-top:15px;">
            <div style="margin-left: 50%">
                <div style="margin-left:-90px;">
                    <input type="button" class="form-control height18 option_button" value="确认"
                           onclick="DockingPeople.batchBindDocking(DockingPeople.totalList)">
                    <input type="button" class="form-control height18 option_button" value="取消"
                           onclick="layer.closeAll();">
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div id="content">-->
<!--查询条件-->
<form id="cust">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label right0">客户状态:</label>
                            <div class="col-sm-2">
                                <select name="status" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="0">有效</option>
                                    <option value="1">待开发</option>
                                    <option value="2">流失</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">客户类型:</label>
                            <div class="col-sm-2">
                                <select name="custType" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="1">大型客户</option>
                                    <option value="2">中型客户</option>
                                    <option value="3">小型客户</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">客户级别:</label>
                            <div class="col-sm-2">
                                <select name="custLevel" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="1">VIP客户</option>
                                    <option value="2">会员客户</option>
                                    <option value="3">普通客户</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">客户性质:</label>
                            <div class="col-sm-2">
                                <select name="custProperty" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="1">公海</option>
                                    <option value="2">非公海</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label right0">客户名称:</label>
                            <div class="col-sm-2">
                                <input type="text" id="companyName" name="companyName"
                                       class="form-control height18">
                            </div>

                            <label class="col-sm-1 control-label right0">客户联系人:</label>
                            <div class="col-sm-2">
                                <input type="text" id="custName" name="custName" class="form-control height18">
                            </div>

                            <label class="col-sm-1 control-label right0">创建人:</label>
                            <div class="col-sm-2">
                                <input type="text" name="createWorker"
                                       class="form-control height18">
                            </div>

                            <label class="col-sm-1 control-label right0">负责人:</label>
                            <div class="col-sm-2">
                                <input type="text" name="worker"
                                       class="form-control height18">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label right0">创建时间：</label>
                            <div class="col-sm-2" style="min-width:240px;">
                                <input placeholder="开始日期" style="width:50%;margin-left:0;vertical-align: middle"
                                       class="form-control layer-date laydate-icon" id="createStart" name="createStart">
                                <!--<span style="display:inline-block;padding:0 1px;">至</span>-->
                                <input placeholder="结束日期" style="width:45%;vertical-align: middle"
                                       class="form-control layer-date laydate-icon" id="createEnd" name="createEnd">
                            </div>

                            <label class="col-sm-1 control-label right0">更新时间：</label>
                            <div class="col-sm-2" style="min-width: 240px;">
                                <input placeholder="开始日期" style="width:48%;margin-left:0;vertical-align: middle"
                                       class="form-control layer-date laydate-icon" id="updateStart" name="updateStart">
                                <!--<span style="display:inline-block;padding:0 1px;">至</span>-->
                                <input placeholder="结束日期" style="width:48%;vertical-align: middle"
                                       class="form-control layer-date laydate-icon" id="updateEnd" name="updateEnd">
                            </div>

                            <label class="col-sm-1 control-label right0">地区:</label>
                            <div class="col-sm-2 layui-form">
                                <select name="area" lay-verify="" lay-search class="form-control">
                                    <option value="">请选择</option>
                                </select>
                            </div>


                            <div class="col-sm-2">
                                <!--<input type="button" id="searchButton" class="form-control height18 btn btn-primary"-->
                                       <!--value="搜索"-->
                                       <!--onclick="custGrid.setPageSelected('dockingId');custGrid.search();">-->

                                <button type="button" id="searchButton" class="btn btn-primary"
                                        onclick="custGrid.setPageSelected('dockingId');custGrid.search();">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </DIV>
            </div>
        </div>
    </div>
</form>

<!--查询条件结束-->

<div class="col-sm-12">
    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
        <div class="ibox-title" style="margin-left:8px;" id="custButtons">
            <!--<h5 style="font-weight: bold">客户列表</h5>-->
            <!--<button type="button" class="btn btn-primary">默认按钮</button>-->
        </div>
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="jqGrid_wrapper">
                    <table id="custTable"></table>
                    <div id="custPager"></div>
                    <label class="col-sm-10 control-label " style="text-align:left;font-size: 9px; color:#18ACFB">说明：1、单击"客户名称"编辑客户信息;&nbsp;&nbsp;&nbsp;
                        2、单击"对接人信息"查看"对接人信息详情";&nbsp;&nbsp;&nbsp;   3、单击"产品信息"查看"产品详细信息"; &nbsp;&nbsp;&nbsp;  4、单击"用户详情"查看"用户信息详情"
                        &nbsp;&nbsp;&nbsp;5、单击"对接人姓名"跳转"客户统计页面";<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、"认领":把客户认领给自己;&nbsp;&nbsp;&nbsp;
                        7、"解绑":和客户解绑关系;&nbsp;&nbsp;&nbsp;
                        8、"启用" : 启用 ;&nbsp;&nbsp;&nbsp;
                        9、"停用" :  ;&nbsp;&nbsp;&nbsp;
                        10、"指派": 可以把客户指派给别;&nbsp;&nbsp;&nbsp;

                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

</body>

</html>
