<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>对接人信息</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/crm/common_util.js"></script>

    <style>
        .height25{
            height:23px;
        }
        .font-red{
            color:red;
        }
        .right0{
            margin-right:-23px;
        }
        .option_button{
            width:60px;
            float:left;
            margin-left:10px;
            display:block;
            background:rgb(24, 144, 255);
            color:white;
            border-width: 1px;
            border-radius: 4px;
        }
    </style>

    <script>
        var CustOption = {
            companyName: getQueryString("companyName"),
            id: getQueryString("id"),
            op: getQueryString("op"),
            submitCust: function(url){
                var url = url || '/cust/addCust?op=addDocking';
                console.log($("#cust").valid()) ;
                if($("#cust").valid()){
                    var formData = new FormData($("#cust")[0]);
                    $.ajax({
                        url: url,
                        type: 'post',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (returndata) {
                            layer.alert(returndata.data.status);
                            setTimeout("parent.layer.closeAll()",1000);
                        },
                        error: function (returndata) {
                            layer.alert(returndata.data.status);
                        }
                    });
                }
            },
            //设置行业
            setIndustry: function(){

            },
            //判断对接人是否重复
            custNameRepeat: function (){
                var companyName = CustOption.companyName;
                var custName = $("#custName").val();
                $.ajax({
                    url: '/cust/repeat',
                    type: 'post',
                    data: {companyName:companyName,custName:custName},
                    async: true,
                    success: function (returndata) {
                        if(returndata.data.repeatResult){
                            $("#repeatFlag").val("是");
                        }else{
                            $("#repeatFlag").val("否");
                        }
                    },
                    error: function (returndata) {
                        layer.alert(returndata.msg);
                    }
                });
            },
            selectOne:function(){
                $.ajax({
                    url: "/dockingPeople/selectOne",
                    type: "POST",
                    data: {id: CustOption.id},
                    success: function(data){
                        for(var o in data){
                            $("[name="+o+"]").val(data[o]);
                        }
                        if(data.photo && (CustOption.op == "edit" || CustOption.op == "ck")){
                            $("#picGroup").append("<img src="+data.photo+" style=\"width:120px;height:120px;\"/>");
                        }
                    }
                });
            }
        };
        $().ready(function () {
            var e = "<i class='fa fa-times-circle'></i> ";
            $("#cust").validate({
                rules: {
                    companyName: {required: !0, minlength: 1, maxlength: 255},
                    industry: {required: !0, minlength: 1, maxlength: 50},
                    product: {required: !0, minlength: 1, maxlength: 255},
                    companyBuild: {required: !0, minlength: 1, maxlength: 255},
                    projectName: {required: !0, minlength: 1, maxlength: 255},
                    transmissionGoal: {required: !0, minlength: 1, maxlength: 255},
                    custName: {required: !0, minlength: 1, maxlength: 50},
                    age: {digits: true, min: 1, max: 120},
                    age1: {digits: true, min: 1, max: 120},
                    throwCount: {digits: true, min: 0},
                    connectionType: {checkPhone: true}
                },
                messages: {
                    companyName: {required: e + "请输入公司名称", minlength: e + "公司名称长度必须大于{0}", maxlength: e + "公司长度必须小于{0}"},
                    industry: {required: e + "请输入行业", minlength: e + "行业长度必须大于{0}", maxlength: e + "行业长度必须小于{0}"},
                    product: {required: e + "请输入产品", minlength: e + "产品长度必须大于{0}", maxlength: e + "产品长度必须小于{0}"},
                    companyBuild: {required: e + "请输入公司结构", minlength: e + "公司结构长度必须大于{0}", maxlength: e + "公司结构长度必须小于{0}"},
                    projectName: {required: e + "请输入项目名称", minlength: e + "项目名称长度必须大于{0}", maxlength: e + "项目名称长度必须小于{0}"},
                    transmissionGoal: {required: e + "请输入传播目的", minlength: e + "传播目的长度必须大于{0}", maxlength: e + "传播目的长度必须小于{0}"},
                    custName: {required: e + "请输入对接人名称", minlength: e + "对接人名称的长度必须大于{0}", maxlength: e + "对接人名称长度必须小于{0}"},
                    age: {digits: e + "请输入数字", min: e + "年龄最小是{0}", max: e + "年龄最大是{0}"},
                    age1: {digits: e + "请输入数字", min: e + "年龄最小是{0}", max: e + "年龄最大是{0}"},
                    throwCount: {digits: e + "请输入数字", min: e + "投放量最小是{0}"},
                }
            });

            $.validator.addMethod("checkPhone", function (value, element, params) {
                var checkPhone = /^(([0]\d{2,3}-\d{7,8})|([1]\d{10}))$/;
                return this.optional(element) || (checkPhone.test(value));
            }, "请输入正确的手机号码！");


            $("#companyName").val(CustOption.companyName);
            //编辑页面
            if(CustOption.op == "edit"){
                CustOption.selectOne();
                $("#dockingInfo").append("<input type='text' style='display:none' name='id' value="+CustOption.id+">")
                $("#saveButton").attr("onclick","CustOption.submitCust('/dockingPeople/update')");
            }else if(CustOption.op == "ck"){
                CustOption.selectOne();
                $("#saveOrClose").css("display","none");
                $("input").css("border","none");
                $("select").css("border","none");
            }
        });
    </script>

</head>

<body class="gray-bg">

    <div id="content">
        <form id="cust">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                        <div class="ibox-title">
                            <h5 style="font-weight: bold">对接人信息</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal">
                                <div class="form-group" id="dockingInfo">
                                    <input type="text" id="companyName" name="companyName" style="display:none" class="form-control height18">
                                    <label class="col-sm-1 control-label right0">姓名<span class="font-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="custName" onblur="CustOption.custNameRepeat()" name="custName" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">部门:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="department" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">负责项目:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="fproject" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">职位:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="job" class="form-control height18">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label right0">客户级别:</label>
                                    <div class="col-sm-2">
                                        <select name="custLevel" class="form-control height18">
                                            <option value="1">VIP客户</option>
                                            <option value="2">会员客户</option>
                                            <option value="3">普通客户</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label right0">客户状态:</label>
                                    <div class="col-sm-2">
                                        <select name="status" class="form-control height18">
                                            <option value="1">待开发</option>
                                            <option value="0">有效</option>
                                            <option value="2">流失</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label right0">客户类型:</label>
                                    <div class="col-sm-2">
                                        <select name="custType" class="form-control height18">
                                            <option value="1">大型客户</option>
                                            <option value="2">中型客户</option>
                                            <option value="3">小型客户</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label right0">负责人:</label>
                                    <div class="col-sm-2">
                                        <input type="text" data-th-value="${session.user.userName}" class="form-control height18" readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label right0">性格:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="kidney" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">年龄:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="age" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">家庭:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="home" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">专业程度:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="professionLevel" class="form-control height18">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label right0">文化:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="cultural" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">爱好:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="hobby" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">长相:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="looks" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">之前所在的公司:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="oldCompany" class="form-control height18">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label right0">成交详情:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="successDetail" class="form-control height18">
                                    </div>

                                    <label class="col-sm-1 control-label right0">意向度:</label>
                                    <div class="col-sm-2">
                                        <!--<input type="text" name="likeLevel" class="form-control height18">-->
                                        <select name="likeLevel" class="form-control height18">
                                            <option value="高">高</option>
                                            <option value="中">中</option>
                                            <option value="低">低</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label right0">是否重复:</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="repeatFlag" name="repeatFlag1" class="form-control height18" readonly="readonly">
                                    </div>

                                    <label class="col-sm-1 control-label right0">联系方式:</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="connectionType" class="form-control height18" >
                                    </div>
                                </div>

                                <div class="form-group" id="picGroup">
                                    <label class="col-sm-1 control-label right0">上传头像:</label>
                                    <div class="col-sm-2">
                                        <input type="file" name="file" class="form-control height18">
                                    </div>
                                </div>

                                <div id="saveOrClose" class="form-group" style="width:100%;text-align:center">
                                    <div style="margin-left: 50%">
                                        <div style="margin-left:-90px;">
                                            <input type="button" id="saveButton" class="form-control height18 option_button" value="保存" onclick="CustOption.submitCust()">
                                            <input type="button" class="form-control height18 option_button" value="关闭" onclick="parent.layer.closeAll()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
