<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="/user/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/user/css/body.css"/>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="/user/loginAction" method="post">
			<h1>用户登录</h1>
			<div>
				<input type="text" name="userName" placeholder="用户名" required="" id="userName" />
			</div>
			<div>
				<input type="password" name="password" placeholder="密 码" required="" id="password" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			 </div>
			<div>
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
			</div>
		</form>
	</section>
</div>
</body>
</html>