<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.user.mapper.UserAccountMapper">
	<select id="get" parameterType="Map" resultType="com.ry.cds.user.bo.UserAccount">
		SELECT
		userID,
		accountTypeID,
		accountNo,
		amount,
		currencyTypeID,
		frezeeAmount,
		statusFlag,
		createDatetime,
		updateDateTime
		FROM
		useraccount
		WHERE
		userID =
		#{userID} and accountTypeID=#{accountTypeID}
	</select>

	<update id="changeAccount" parameterType="com.ry.cds.amqp.bo.UserAccountChange">
		UPDATE useraccount
		SET
		amount = amount - #{price}
		WHERE
		UserID = #{userID}
		AND
		AccountTypeID =
		#{accountTypeID}
		AND StatusFlag = 1
	</update>

	<insert id="insertAmountChangeDetail" parameterType="com.ry.cds.user.bo.AmountChangeDetail">
		INSERT INTO
		amountchangedetail (
		userID,
		accountTypeID,
		<if test="'' != changeAmount and null != changeAmount">
			changeAmount,
		</if>
		<if test="'' != currencyTypeID and null != currencyTypeID">
			currencyTypeID,
		</if>
		<if test="'' != changeTypeID and null != changeTypeID">
			changeTypeID,
		</if>

		<if test="'' != remark and null != remark">
			remark,
		</if>
		<if test="'' != changeReason and null != changeReason">
			changeReason,
		</if>
		createDatetime,
		updateDateTime
		)
		VALUES
		( #{userID},
		#{accountTypeID},
		<if test="'' != changeAmount and null != changeAmount">
			#{changeAmount},
		</if>
		<if test="'' != currencyTypeID and null != currencyTypeID">
			#{currencyTypeID},
		</if>
		<if test="'' != changeTypeID and null != changeTypeID">
			#{changeTypeID},
		</if>

		<if test="'' != remark and null != remark">
			#{remark},
		</if>
		<if test="'' != changeReason and null != changeReason">
			#{changeReason}
		</if>
		now(),
		now()
		)
	</insert>
</mapper>