<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title >发票管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/fee/queryInvoice.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <script src="/js/process/approveTask.js"></script>
    <script>

        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        $(function () {

            var startTimeQc = {
                elem: '#startTimeQc',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    endTimeQc.min = datas; //开始日选好后，重置结束日的最小日期
                    endTimeQc.start = datas //将结束日的初始值设定为开始日
                }
            };
            var endTimeQc = {
                elem: '#endTimeQc',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTimeQc.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };


            laydate(startTimeQc);
            laydate(endTimeQc);
        });
    </script>
</head>
<div class="wrapper wrapper-content  animated fadeInRight">
    <form id="queryForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">客户公司名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="custCompanyNameQc" name="custCompanyNameQc"    class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">客户联系人名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="custNameQc" name="custNameQc"    class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">申请日期:</label>
                                <div class="col-sm-4">
                                    <!--<input type="text" placeholder="开始时间" name="startTimeQc" class="form-control layer-date laydate-icon"-->
                                           <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>-->
                                    <!--<input type="text" placeholder="结束时间" name="endTimeQc" class="form-control layer-date laydate-icon"-->
                                           <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>-->
                                    <input placeholder="开始日期"style="width:40%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="startTimeQc" name="startTimeQc">
                                    <span style="display:inline-block;padding:0 10px;">至</span>
                                    <input placeholder="结束日期" style="width:40%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon" id="endTimeQc" name="endTimeQc">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="querySearch" class="btn btn-primary">
                                        <i class="fa fa-search "></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <button id="addBtn" class="btn btn-danger" type="button"><i class="fa fa-plus"></i>&nbsp;申请开票</button>
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="query_invoice_table_logs"></table>
                            <div id="query_invoice_pager_logs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--新增编辑页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h1 class="modal-title">开票信息</h1>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs ">
                            <li class="active firstDiv"><a data-toggle="tab" id="firstStep" href="#firstDiv" aria-expanded="true">第一步选择客户</a>
                            </li>
                            <li class="secondDiv"><a data-toggle="tab" id="secondStep" href="#secondDiv" aria-expanded="false">第二步选择稿件</a>
                            </li>
                            <li class="thirdDiv"><a data-toggle="tab" id="thirdStep" href="#thirdDiv" aria-expanded="false">第三步完善发票信息</a>
                            </li>
                        </ul>
                        <div class="tab-content " >
                            <div id="firstDiv" class="tab-pane form-horizontal active"  style="margin-top:18px;">
                                <form id="firstForm">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="ibox ">
                                                <div class="form-horizontal">
                                                    <div class="form-group" >
                                                        <label class="col-sm-2 control-label">客户公司名称:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" id="custCompanyNameQc1" name="custCompanyNameQc1" class="form-control" >
                                                        </div>
                                                        <label class="col-sm-2 control-label">客户联系人名称:</label>
                                                        <div class="col-sm-3">
                                                            <input type="text" id="custNameQc1" name="custNameQc1" class="form-control" >
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button" id="custSearch" class="btn btn-primary">
                                                                <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div class="jqGrid_wrapper">
                                                        <table id="select_cust_table_logs"></table>
                                                        <div id="select_cust_pager_logs"></div>
                                                    </div>
                                                </div>
                                                 <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary selectSupplier" id="selectSupplier">下一步</button>
                                                    <button type="button" class="btn btn-white" id="cancelSupplier" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="secondDiv" class="tab-pane form-horizontal"  style="margin-top:18px;">
                                <form id="secondForm">
                                    <div class="row" >
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">媒介姓名:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="mediaUserNameQc" name="mediaUserNameQc" class="form-control" >
                                                </div>
                                                <label class="col-sm-1 control-label">媒体:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="mediaNameQc" name="mediaNameQc" class="form-control" >
                                                </div>
                                                <label class="col-sm-1 control-label">标题:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="titleQc" name="titleQc" class="form-control" >
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" id="articleSearch" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div>
                                                <h3>未开票稿件列表</h3>
                                            </div>
                                            <div class="jqGrid_wrapper">
                                                <table id="select_article_table_logs"></table>
                                                <div id="select_article_pager_logs"></div>
                                            </div>
                                            <div>
                                                <h3>选中的稿件</h3>
                                            </div>
                                            <table id="od" class="table table-bordered" style="text-align: center">
                                                <thead>
                                                <tr>
                                                    <th th style="text-align:center;vertical-align:middle;">订单编号</th>
                                                    <th th style="text-align:center;vertical-align:middle;">客户公司名称</th>
                                                    <th th style="text-align:center;vertical-align:middle;">业务员</th>
                                                    <th th style="text-align:center;vertical-align:middle;">供应商名称</th>
                                                    <th th style="text-align:center;vertical-align:middle;">媒体名称</th>
                                                    <th th style="text-align:center;vertical-align:middle;">媒介</th>
                                                    <th th style="text-align:center;vertical-align:middle;">标题</th>
                                                    <th th style="text-align:center;vertical-align:middle;">链接</th>
                                                    <th th style="text-align:center;vertical-align:middle;">报价</th>
                                                    <th th style="text-align:center;vertical-align:middle;">进账金额</th>
                                                    <th th style="text-align:center;vertical-align:middle;">应付金额</th>
                                                </tr>
                                                </thead>
                                                <tbody id="order">

                                                </tbody>
                                            </table>
                                            <div class="modal-footer">
                                                <input type="hidden" id="custCompanyIdSec" name="custCompanyIdSec" >
                                                <input type="hidden" id="custCompanyNameSec" name="custCompanyNameSec" >
                                                <input type="hidden" id="custIdSec" name="custIdSec" >
                                                <input type="hidden" id="custNameSec" name="custNameSec" >
                                                <input type="hidden" id="articleIdsSec" name="articleIdsSec" >
                                                <button type="button" class="btn btn-primary selectArticle" id="selectArticle">下一步</button>
                                                <button type="button" class="btn btn-white" id="cancelArticle" data-dismiss="modal">关闭</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="thirdDiv" class="tab-pane form-horizontal"  style="margin-top:18px;">
                                <form id="editForm" class="form-horizontal" action="" method="post">
                                    <div class="row" >
                                        <div class="col-sm-12">
                                            <input type="hidden" id="id" name="id" class="form-control">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">编号<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="code" name="code" class="form-control" readonly="readonly" required="">
                                                </div>
                                                <label class="col-sm-1 control-label">客户公司名称<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="hidden" id="custCompanyId" name="custCompanyId"    class="form-control" >
                                                    <input type="text" id="custCompanyName" name="custCompanyName"    class="form-control"  required="" readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">客户联系人名称<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="hidden" id="custId" name="custId"    class="form-control" >
                                                    <input type="text" id="custName" name="custName"    class="form-control"  required="" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <label class="col-sm-1 control-label">发票抬头<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="title" name="title" class="form-control" required="">
                                                </div>
                                                <label class="col-sm-1 control-label">税号<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="taxCode" name="taxCode"    class="form-control" required="">
                                                </div>
                                                <label class="col-sm-1 control-label">开户行:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="bankName" name="bankName" class="form-control" placeholder="专票必填，普票可不填">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">银行账号:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="bankNo" name="bankNo" class="form-control" placeholder="专票必填，普票可不填">
                                                </div>
                                                <label class="col-sm-1 control-label">公司地址:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="address" name="address" class="form-control"  placeholder="专票必填，普票可不填">
                                                </div>
                                                <label class="col-sm-1 control-label">公司电话:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="phone" name="phone" class="form-control" placeholder="专票必填，普票可不填">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="col-sm-1 control-label">发票类型<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <div class="radio i-checks">
                                                        <input type="radio"  value="0"  name="invoiceType" />未指定
                                                        <input type="radio"  value="1"  name="invoiceType" />普票
                                                        <input type="radio"  value="2"  name="invoiceType" />专票
                                                    </div>
                                                </div>
                                                <label  class="col-sm-1 control-label">税种<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <div id="taxesDiv">
                                                    </div>
                                                </div>
                                                <label class="col-sm-1 control-label">应税金额<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="amount" name="amount" class="form-control" required=""  readonly="readonly">
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">税点<span class="text-red">*</span>:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="taxPoint" name="taxPoint" class="form-control" required="" readonly="readonly">
                                                </div>
                                                <label class="col-sm-1 control-label">税额:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" id="taxAmount" name="taxAmount" class="form-control"  readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">备注:</label>
                                                <div class="col-sm-11">
                                                    <textarea id="invoiceDesc" name="invoiceDesc" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div>
                                                <h3>选中的发票稿件</h3>
                                            </div>
                                            <div class="jqGrid_wrapper">
                                                <table id="selected_article_table_logs"></table>
                                                <div id="selected_article_pager_logs"></div>
                                                <!--<input type="hidden" name="selectedIds" id="selectIds">-->
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" id="selRow" name="selRow">
                                            <!--taskId如果是null，则是第一次提交，taskId有值，则表示是驳回后提交，走的审批流程不一样-->
                                            <input type="hidden" id="taskId" name="taskId">
                                            <input type="hidden" id="state" name="state" value="0">
                                            <button type="button" class="btn btn-primary " id="save" onclick="submitHander(this,'/invoice/edit')" >提交审批</button>
                                            <button type="button" class="btn btn-white" id="cancel" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--查看页面-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">查看请款详情</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id1" name="id1" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="code1" name="code1" class="form-control" readonly="readonly" required="">
                                    </div>
                                    <label class="col-sm-1 control-label">客户公司名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="custCompanyId1" name="custCompanyId1"    class="form-control" >
                                        <input type="text" id="custCompanyName1" name="custCompanyName1"    class="form-control"  required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">客户联系人名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="custId1" name="custId1"    class="form-control" >
                                        <input type="text" id="custName1" name="custName1"    class="form-control"  required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">发票抬头<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="title1" name="title1" class="form-control" readonly="readonly" required="">
                                    </div>
                                    <label class="col-sm-1 control-label">税号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxCode1" name="taxCode1"    class="form-control" readonly="readonly" required="">
                                    </div>
                                    <label class="col-sm-1 control-label">开户行:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankName1" name="bankName1" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">银行账号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankNo1" name="bankNo1" class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">公司地址:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="address1" name="address1" class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">公司电话:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone1" name="phone1" class="form-control"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-1 control-label">发票类型<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio"  value="0"  name="invoiceType1" />未指定
                                            <input type="radio"  value="1"  name="invoiceType1" />普票
                                            <input type="radio"  value="2"  name="invoiceType1" />专票
                                        </div>
                                    </div>
                                    <label class="col-sm-1 control-label">应税金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="amount1" name="amount1" class="form-control" required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">税种<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxType1" name="taxType1" class="form-control" required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-1 control-label">税点<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxPoint1" name="taxPoint1" class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">税额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxAmount1" name="taxAmount1" class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">发票编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no1" name="no1" class="form-control" required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-1 control-label">开票日期<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="invoiceTime1" name="invoiceTime1" class="form-control"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">备注:</label>
                                    <div class="col-sm-11">
                                        <textarea id="invoiceDesc1" name="invoiceDesc1" class="form-control"  readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <h3>关联的发票稿件</h3>
                                </div>
                                <div class="jqGrid_wrapper">
                                    <table id="selected_article_table_logs1"></table>
                                    <div id="selected_article_pager_logs1"></div>
                                    <!--<input type="hidden" name="selectedIds" id="selectIds">-->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div id="auditTrue" align="center" class="">
                                    <input type="hidden" name="taskId1" id="taskId1">
                                    <button type="button" class="btn btn-success " id="pass" onclick="approve(this)" >审批通过</button>
                                    <button type="button" class="btn btn-danger " id="reject1" onclick="reject(this)" >审批驳回</button>
                                </div>
                                <div id="auditFalse" class=""><button type="button" class="btn btn-white" id="cancel1" data-dismiss="modal">关闭</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--确认开票页面-->
<div class="modal inmodal" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">查看发票详情</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="confirmForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id2" name="id2" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="code2" name="code2" class="form-control" readonly="readonly" required="">
                                    </div>
                                    <label class="col-sm-1 control-label">客户公司名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="custCompanyId2" name="custCompanyId2"    class="form-control" >
                                        <input type="text" id="custCompanyName2" name="custCompanyName2"    class="form-control"  required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">客户联系人名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="custId2" name="custId2"    class="form-control" >
                                        <input type="text" id="custName2" name="custName2"    class="form-control"  required="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">发票抬头<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="title2" name="title2" class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">税号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxCode2" name="taxCode2"    class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">开户行:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankName2" name="bankName2" class="form-control"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">银行账号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankNo2" name="bankNo2" class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">公司地址:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="address2" name="address2" class="form-control"   readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">公司电话:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone2" name="phone2" class="form-control"  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-1 control-label">发票类型<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio"  value="0"  name="invoiceType2" />未指定
                                            <input type="radio"  value="1"  name="invoiceType2" />普票
                                            <input type="radio"  value="2"  name="invoiceType2" />专票
                                        </div>
                                    </div>
                                    <label class="col-sm-1 control-label">应税金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="amount2" name="amount2" class="form-control" required=""  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">税种<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxType2" name="taxType2" class="form-control" required=""  readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-1 control-label">税点:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxPoint2" name="taxPoint2" class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">税额:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="taxAmount2" name="taxAmount2" class="form-control" required="" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">发票编号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no2" name="no2" class="form-control" required="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">备注:</label>
                                    <div class="col-sm-11">
                                        <textarea id="invoiceDesc2" name="invoiceDesc2" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <h3>选中的发票稿件</h3>
                                </div>
                                <div class="jqGrid_wrapper">
                                    <table id="selected_article_table_logs2"></table>
                                    <div id="selected_article_pager_logs2"></div>
                                    <!--<input type="hidden" name="selectedIds" id="selectIds">-->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary " id="save2" onclick="submitHander2(this,'/invoice/confirm')" >确认开票</button>
                                <button type="button" class="btn btn-white" id="cancel2" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--选择银行账号-->
<div class="modal inmodal" id="accountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1300px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5></h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="jqGrid_wrapper">
                                        <table id="account_table_logs"></table>
                                        <div id="account_pager_logs"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary selectAccount" id="selectAccount">选择</button>
                                    <button type="button" class="btn btn-white" id="cancelAccount" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--审批流程详情-->
<div class="modal inmodal" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content animated bounceInRight" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">审批流程详情</h4>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div>
                        <div class="row">
                            <div id="history" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>