<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title >进款流水管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/fee/queryReimburseD.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script>

    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <form id="queryReimburseD">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">账号名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="accountNameQc" name="accountNameQc"    class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">账号:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="bankNoQc" name="bankNoQc"    class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">进款人名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="tradeManQc" name="tradeManQc" class="form-control">
                                </div>
                                <label class="col-sm-1 control-label">进款人账户:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="tradeBankQc" name="tradeBankQc" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-1 control-label">进款日期:</label>
                                <div class="col-sm-5">
                                    <input type="text" placeholder="开始时间" name="startTimeQc" class="form-control layer-date laydate-icon"
                                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                                    <input type="text" placeholder="结束时间" name="endTimeQc" class="form-control layer-date laydate-icon"
                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                                </div>
                                <label class="col-sm-1 control-label">进款金额:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="tradeAmountQc" name="tradeAmountQc" class="form-control">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="reimburseDSearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <div>
                            <button id="addBtn" class="btn btn-default" type="button">新增进账流水</button>
                        </div>
                        <table id="reimburseD_table_logs"></table>
                        <div id="reimburseD_pager_logs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增编辑页面-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title save">新增进账流水信息</h4>
                <h4 class="modal-title update">更改进账流水信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="reimburseDForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">账号名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-2">
                                        <input type="hidden" id="accountId" name="accountId"    class="form-control" >
                                        <input type="text" id="accountName" name="accountName"    class="form-control" readonly="readonly" required="">
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-primary btn-circle glyphicon  glyphicon-search selAccount" id="selAccount"></button>
                                        <button type="button" class="btn btn-warning btn-circle glyphicon  glyphicon-remove cleanAccount"></button>
                                    </div>
                                    <label class="col-sm-2 control-label">账号<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankNo" name="bankNo"    class="form-control" readonly="readonly" required="">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">进款人名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeMan" name="tradeMan" class="form-control" required="">

                                    </div>
                                    <label class="col-sm-2 control-label">进款人账户<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeBank" name="tradeBank" class="form-control" required="">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">进款日期:</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="进款日期" name="tradeTime" id="tradeTime" class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" required=""/>
                                    </div>
                                    <label class="col-sm-2 control-label">进款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeAmount" name="tradeAmount" class="form-control" required="">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save" id="save" onclick="submitHander(this,'/reimburseD/add')" >保存</button>
                <button type="button" class="btn btn-primary update" id="update" onclick="submitHander(this,'/reimburseD/edit')" >保存</button>
                <button type="button" class="btn btn-white" id="cancel" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--查看页面-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">查看进账流水信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">账号名称:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="accountName" name="accountName"    class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">账号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="bankNo" name="bankNo"    class="form-control"  readonly="readonly">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">进款人名称<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeMan" name="tradeMan" class="form-control"  readonly="readonly">

                                    </div>
                                    <label class="col-sm-2 control-label">进款人账户<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeBank" name="tradeBank" class="form-control"  readonly="readonly">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">进款日期:</label>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="进款日期" name="tradeTime" id="tradeTime" class="form-control layer-date laydate-icon"
                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" readonly="readonly"/>
                                    </div>
                                    <label class="col-sm-2 control-label">进款金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="tradeAmount" name="tradeAmount" class="form-control"  readonly="readonly" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" id="cancel2" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--选择银行账号-->
<div class="modal inmodal" id="accountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <div class="wrapper wrapper-content  animated fadeInRight">
                    <form id="accountForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                                    <div class="ibox-title">
                                        <h5 style="font-weight: bold">查询条件</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">账户名称:</label>
                                                <div class="col-sm-2 ">
                                                    <input type="text" id="nameQc" name="nameQc"    class="form-control" >
                                                </div>
                                                <label class="col-sm-1 control-label">账号:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNoQc" name="bankNoQc"    class="form-control" >
                                                </div>
                                                <label class="col-sm-1 control-label">公司名称:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="companyNameQc" name="companyNameQc" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-1 control-label">开户行:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNameQc" name="bankNameQc" class="form-control" >
                                                </div>
                                                <label class="col-sm-1 control-label">开户行支行:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="bankNameDetailQc" name="bankNameDetailQc" class="form-control" >
                                                </div>
                                                <label class="col-sm-1 control-label">联系人:</label>
                                                <div class="col-sm-2">
                                                    <input type="text" id="ownerQc" name="ownerQc" class="form-control" >
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" id="accountSearch" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5></h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="jqGrid_wrapper">
                                        <table id="account_table_logs"></table>
                                        <div id="account_pager_logs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary selected" id="submit">选择</button>
                    <button type="button" class="btn btn-white" id="cancelSel" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>