<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{})">
    <title >分款管理</title>
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>
    <script type="text/javascript" src="/js/fee/queryAssign.js"></script>
    <link rel="stylesheet" href="/js/plugins/layer/laydate/skins/default/laydate.css">
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script>
        $(function () {

            var startTimeQc = {
                elem: '#startTimeQc',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    endTimeQc.min = datas; //开始日选好后，重置结束日的最小日期
                    endTimeQc.start = datas //将结束日的初始值设定为开始日
                }
            };
            var endTimeQc = {
                elem: '#endTimeQc',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    startTimeQc.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };


            laydate(startTimeQc);
            laydate(endTimeQc);
        });

    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight">
    <form id="assignForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                    <div class="ibox-title">
                        <h5 style="font-weight: bold">查询条件</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">账号名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="accountNameQc" name="accountNameQc" class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">账号:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="bankNoQc" name="bankNoQc"    class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">进款人名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="tradeManQc" name="tradeManQc" class="form-control">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">进款人账户:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="tradeBankQc" name="tradeBankQc" class="form-control" >
                                </div>
                                <label class="col-sm-1 control-label">进款日期:</label>
                                <div class="col-sm-2" style="min-width:240px;">
                                    <!--<input type="text" placeholder="开始时间" style="width:40%;margin-left:0;vertical-align: middle" name="startTimeQc" class="form-control layer-date "-->
                                           <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>-->
                                    <!--<span style="display:inline-block;padding:0 10px;">至</span>-->
                                    <!--<input type="text" placeholder="结束时间"style="width:40%;margin-left:0;vertical-align: middle"  name="endTimeQc" class="form-control layer-date "-->
                                             <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>-->
                                    <input placeholder="开始日期"style="width:45%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon " id="startTimeQc" name="startTimeQc">
                                    <span style="display:inline-block;padding:0 1px;">至</span>
                                    <input placeholder="结束日期" style="width:45%;vertical-align: middle"
                                           class="form-control layer-date laydate-icon " id="endTimeQc" name="endTimeQc">
                                </div>
                                <label class="col-sm-1 control-label">进款金额:</label>
                                <div class="col-sm-2">
                                    <input type="text" id="tradeAmountQc" name="tradeAmountQc" class="form-control">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="assignSearch" class="btn btn-primary">
                                        <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <h3></h3>
                                </div>
                                <div class="jqGrid_wrapper">
                                    <table id="assign_table_logs"></table>
                                    <div id="assign_pager_logs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--查看页面-->
<div class="modal inmodal" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">查看进账流水信息</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="viewForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id1" name="id1" value="" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">已领金额:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="receiveAmount1" name="receiveAmount1" class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">已分款金额:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="assignAmount1" name="assignAmount1" class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">可用金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="remainAmount1" name="remainAmount1" class="form-control"  readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <h3>分款稿件列表</h3>
                            </div>
                            <div class="jqGrid_wrapper">
                                <table id="selectedArticle_table_logs"></table>
                                <div id="selectedArticle_pager_logs"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" id="cancel2" data-dismiss="modal">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分款model-->
<div class="modal inmodal" id="selectArticleModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">分款</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="selectArticleForm" class="form-horizontal" >
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="id" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-1 control-label">已领金额:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="receiveAmount" name="receiveAmount"    class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">已分款金额:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="assignAmount" name="assignAmount"    class="form-control"  readonly="readonly">
                                    </div>
                                    <label class="col-sm-1 control-label">可用金额<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="remainAmount" name="remainAmount" class="form-control"  readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ibox ">
                                    <div class="form-horizontal">
                                        <div class="form-group" >
                                            <label class="col-sm-1 control-label">客户名称:</label>
                                            <div class="col-sm-3">
                                                <input type="text" id="custCompanyNameQc" name="custCompanyNameQc" class="form-control" >
                                            </div>
                                            <label class="col-sm-1 control-label">标题:</label>
                                            <div class="col-sm-3">
                                                <input type="text" id="titleQc" name="titleQc" class="form-control" >
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" id="selectArticleSearch" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div>
                                            <h3>未分款稿件列表</h3>
                                        </div>
                                        <div class="jqGrid_wrapper">
                                            <table id="selectArticle_table_logs"></table>
                                            <div id="selectArticle_pager_logs"></div>
                                        </div>
                                        <div>
                                            <h3>选中的稿件</h3>
                                        </div>
                                        <table id="od" class="table table-bordered" style="text-align: center">
                                            <thead>
                                            <tr>
                                                <th style="text-align:center;vertical-align:middle;" class="hide">ID</th>
                                                <th style="text-align:center;vertical-align:middle;" width="12%">订单编号</th>
                                                <th style="text-align:center;vertical-align:middle;" width="8%">客户公司名称</th>
                                                <th style="text-align:center;vertical-align:middle;" width="6%">对接人</th>
                                                <th style="text-align:center;vertical-align:middle;" width="6%">业务员</th>
                                                <th style="text-align:center;vertical-align:middle;" width="8%">供应商名称</th>
                                                <th style="text-align:center;vertical-align:middle;" width="8%">媒体名称</th>
                                                <th style="text-align:center;vertical-align:middle;" width="6%">媒介</th>
                                                <th style="text-align:center;vertical-align:middle;" width="10%">标题</th>
                                                <th style="text-align:center;vertical-align:middle;" width="10%">链接</th>
                                                <th style="text-align:center;vertical-align:middle;" width="10%">发布日期</th>
                                                <th style="text-align:center;vertical-align:middle;" width="6%">报价</th>
                                                <th style="text-align:center;vertical-align:middle;" width="6%">已分款金额</th>
                                                <th style="text-align:center;vertical-align:middle;" width="6%">分款金额</th>
                                            </tr>
                                            </thead>
                                            <tbody id="order">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="incomeId" id="incomeId">
                                        <input type="hidden" name="ids" id="ids">
                                        <button type="button" class="btn btn-primary selectAssign" id="selectAssign">分款</button>
                                        <button type="button" class="btn btn-white" id="cancelSupplier" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>