<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>稿件管理</title>
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <script th:inline="javascript">
        user = [[${session.user}]]
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script src="/js/crm/common_util.js"></script>
    <script src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/biz/article_list.js"></script>

    <style>
        .right0 {
            margin-right: -23px;
        }

        .option_button {
            width: 60px;
            float: left;
            margin-left: 10px;
            display: block;
            background: rgb(24, 144, 255);
            color: white;
            border-width: 1px;
            border-radius: 4px;
        }

        .option_button_head {
            height: 25px;
            margin-left: 5px;
            text-align: center;
            padding-top: 4px;
        }

        .layui-form-select dl {
            max-height: 100px;
        }

        .ui-jqgrid-bdiv {
            overflow-x: scroll !important;
        }
        .ui-jqgrid .ui-jqgrid-htable thead th div {
            text-align: center !important;
        }
        th.ui-th-column div, .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
        }
    </style>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script th:inline="javascript">
        $(function () {
            $('body').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    $("#searchButton").click();
                }
            });
            //加载时间控件
           /* var issuedDateStart = {
                elem: '#issuedDateStart',
                format: 'YYYY年MM月DD日',
                istime: true,
                istoday: false
            };
            laydate(issuedDateStart);
            issuedDateStart.elem = '#issuedDateEnd';
            laydate(issuedDateStart);

*/
            var issuedDateStart = {
                elem: '#issuedDateStart',
                format: 'YYYY/MM/DD ',
                // min: laydate.now(), //设定最小日期为当前日期
                max: laydate.now(),//最大日期
                istime: true,
                istoday: false,
                choose: function (datas) {
                    issuedDateEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    issuedDateEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var issuedDateEnd = {
                elem: '#issuedDateEnd',
                format: 'YYYY/MM/DD ',
                //min: laydate.now(),
                max: laydate.now(),
                istime: true,
                istoday: false,
                choose: function (datas) {
                    issuedDateStart.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };


            laydate(issuedDateStart);
            laydate(issuedDateEnd);



            Views.loadMediaType("mType");
            loadAllYW("#salesmanName");
            loadAllMJ("#mediaUserName");
            loadMediaType("#mediaName");
            //创建表格对象
            grid = new dataGrid("table", gridObject, "pager", "searchForm");
            //加载表格
            grid.loadGrid();
            //设置下面的按钮
            grid.setNavGrid();

            grid.addOptionButton([{"text": "&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"fa fa-sign-in\"></i>&nbsp;导&nbsp;&nbsp;入&nbsp;&nbsp;&nbsp;&nbsp;", "href": "/crm/custom_add"},
                {"text": "&nbsp;&nbsp;&nbsp;&nbsp;<i class=\" fa fa-sign-out\"></i>&nbsp;导&nbsp;&nbsp;出&nbsp;&nbsp;&nbsp;&nbsp;", "href": "javascript:Business.exportArt()"},
                {"text": "<i class=\"fa fa-trash-o\"></i>&nbsp;批量删除", "href": "javascript:Business.batchDelete()"},
                /*{"text": "领取分款", "href": "javascript:DockingPeople.batchTransfer()"},
                {"text": "分款管理", "href": "javascript:DockingPeople.assign()"},*/
                {"text": "<i class=\"fa fa-external-link\"></i>&nbsp;导出全部", "href": "/article/exportAll"}
            ], "buttons");

            $("input").change(function(){$(this).css({color:"#00796a"})});
            $("select").change(function(){$(this).css({color:"#00796a"})});
        });

    </script>

</head>

<body class="gray-bg">
<!--导出不能用ajax，所以用表单-->
<form action="/article/exportAll" method="post" id="exportForm">
    <input name="datas" type="hidden">
</form>
<!--查询条件-->
<form id="searchForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                <div class="ibox-title">
                    <h5 style="font-weight: bold">查询条件</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <!--<input type="hidden" name="saleman" id="saleman" th:value="${session.user.id}"/>-->
                            <label class="col-sm-1 control-label right0">类别:</label>
                            <div class="col-sm-2">
                                <select name="mType" class="form-control height18">
                                    <option value="">请选择</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">业务员名称:</label>
                            <div class="col-sm-2">
                               <!-- <input type="text" id="salesmanName" name="salesmanName"
                                       class="form-control height18">-->
                                <select name="saleman" id="salesmanName" class="form-control height18">
                                    <option value="">请选择</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">媒介:</label>
                            <div class="col-sm-2">
                               <!-- <input type="text" id="mediaUserName" name="mediaUserName"
                                       class="form-control height18">-->
                                <select id="mediaUserName" name="mediaUserId" class="form-control height18">
                                    <option value="">请选择</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">媒体:</label>
                            <div class="col-sm-2">
                                <input type="text" name="mediaName"
                                       class="form-control height18">
                               <!-- <select id="mediaName" name="mediaName" class="form-control height18">
                                    <option value="">请选择</option>
                                </select>-->
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label right0">发布时间：</label>
                            <div class="col-sm-2" >
                                <input placeholder="开始日期"style="width:45%;vertical-align: middle"
                                       class="form-control layer-date laydate-icon" id="issuedDateStart" name="issuedDateStart">
                                <span style="display:inline-block;padding:0 1px;">至</span>
                                <input placeholder="结束日期" style="width:45%;vertical-align: middle"
                                       class="form-control layer-date laydate-icon" id="issuedDateEnd" name="issuedDateEnd">
                            </div>

                            <label class="col-sm-1 control-label right0">对接人姓名:</label>
                            <div class="col-sm-2">
                                <input type="text" id="dockingPeopleName" name="dockingPeopleName"
                                       class="form-control height18">
                            </div>

                            <label class="col-sm-1 control-label right0">稿件标题:</label>
                            <div class="col-sm-2">
                                <input type="text" name="title"
                                       class="form-control height18">
                            </div>

                            <label class="col-sm-1 control-label right0">客户公司名称:</label>
                            <div class="col-sm-2">
                                <input type="text" name="companyName"
                                       class="form-control height18">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label right0">品牌:</label>
                            <div class="col-sm-2">
                                <input type="text" id="brand" name="brand"
                                       class="form-control height18">
                            </div>

                            <label class="col-sm-1 control-label right0">发布状态：</label>
                            <div class="col-sm-2">
                                <select name="recordStatus" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="0">未下单</option>
                                    <option value="1">待安排</option>
                                    <option value="2">进行中</option>
                                    <option value="3">已驳回</option>
                                    <option value="4">已发布</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">回款状态：</label>
                            <div class="col-sm-2">
                                <select name="returnStatus" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="1">已回款</option>
                                    <option value="2">未回款</option>
                                    <option value="3">部分回款</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label right0">提成情况：</label>
                            <div class="col-sm-1">
                                <select name="deductStatus" class="form-control height18">
                                    <option value="">请选择</option>
                                    <option value="1">已提成</option>
                                    <option value="0">未提成</option>
                                </select>
                            </div>

                            <div class="col-sm-1">
                                <button type="button" id="searchButton" class="btn btn-primary"
                                        onclick="grid.setPageSelected('artId');grid.search();">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="ibox float-e-margins" style="margin-bottom:-8px;">
                <div class="ibox-title">
                    <h4 style="font-weight: bold">统计数据</h4>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal" id="tj">
                        <div class="col-sm-2">
                            <label>应收金额:￥</label><span id="saleAmount" class="text-danger">0</span>
                        </div>
                        <div class="col-sm-2">
                            <label>入账金额:￥</label><span id="incomeAmount" class="text-danger">0</span>
                        </div>
                        <div class="col-sm-2">
                            <label>支付金额:￥</label><span id="payAmount" class="text-danger">0</span>
                        </div>
                        <div class="col-sm-2">
                            <label>退款金额:￥</label><span id="refundAmount" class="text-danger">0</span>
                        </div>
                        <div class="col-sm-2">
                            <label>税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金:￥</label><span id="taxes"
                                                                                               class="text-danger">0</span>
                        </div>
                        <div>
                            <label>其它支出:￥</label><span id="otherPay" class="text-danger">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--查询条件结束-->
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-title" id="buttons">
                
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="jqGrid_wrapper">
                        <table id="table"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

</body>

</html>
