<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">

    <title>入账详情</title>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script th:inline="javascript">
        user = [[${session.user}]];
    </script>
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script src="/js/crm/common_util.js"></script>
    <!--页面js-->
    <script src="/js/crm/commonDatagrid.js"></script>
    <script src="/js/crm/commonOperate.js"></script>

    <style>
        .option_button{
            width:60px;
            float:left;
            margin-left:10px;
            display:block;
            background:rgb(24, 144, 255);
            color:white;
            border-width: 1px;
            border-radius: 4px;
        }
        .option_button_head{
            height: 25px;
            margin-left: 5px;
            text-align: center;
            padding-top: 4px;
        }
    </style>

    <script src="/js/biz/income_detail.js"></script>

    <script th:inline="javascript">
        var IncomeDetail = {
            artId: getQueryString("artId")
        };

        $().ready(function () {
            //创建用户表格对象
            incomeDetailGrid = new dataGrid("incomeDetailTable",incomeGridObject,"");
            incomeDetailGrid.loadGrid();
        });

    </script>

</head>

<body class="gray-bg">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom:-8px;">
            <div class="ibox-title">
                <h5 style="font-weight: bold">入账详情</h5>
            </div>
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="jqGrid_wrapper">
                        <table id="incomeDetailTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
