<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: common_header(~{::title},~{::link},~{::script},~{::style})">
    <title data-th-text="${AppName}">系统主页</title>
    <script th:inline="javascript">
        var userId = [[${session.user.id}]];
        if (userId == '')
            parent.location.href = 'login';
        var SOCKET_API = "ws://localhost/ws/" + userId;
        var IM_API = "ws://localhost/im/" + userId;
        // var SOCKET_API = "ws://192.168.2.6/ws/" + userId;
        // var IM_API = "ws://192.168.2.6/im/" + userId;
    </script>
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jparticle.jquery.js"></script>
    <script type="text/javascript" src="/js/crm/commonDatagrid.js"></script>

    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- 自定义js -->
    <script src="/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.js"></script>
    <script type="text/javascript" src="/js/msg.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script>
        // $(".sidebar-menu li").click(function () {
        //     var page = $(this).attr('id');
        //     // 设置cookie把现在选择的那个列的id值存起来
        //     // $.cookie('page', page, {path: "/"});
        //     localStorage.setItem('page', page, {path: "/"})
        // });
        //
        // // 点击那个展开收缩的按钮。
        // $(".sidebar-toggle").click(function () {
        //     var status = $('body').attr('class');//它具有两种状态skin-blue sidebar-mini sidebar-open展开。skin-blue sidebar-mini sidebar-open sidebar-collapse收缩。
        //     var status1 = 'skin-blue sidebar-mini sidebar-open ';
        //     var status2 = 'skin-blue sidebar-mini sidebar-open sidebar-collapse';
        //     if (status == status1) {  //如果状态是展开的就让他收缩，并且最后用cookie把此时的状态存起来
        //         status = status2;
        //     } else {
        //         status = status1;
        //     }
        //     //把body中代表他是收缩还是展开的class类存起来
        //     // $.cookie('status', status, {path: "/"});
        //     localStorage.setItem('page', status, {path: "/"})
        // });
        //
        // // 下面的内容是每个页面都得引用的。比如放在公共的需要引用的header或者footer里面
        // $(function () {
        //     // $("#" + $.cookie('page')).addClass('active');//读取cookie获取选择的侧滑列，添加选中active样式
        //     $("#" + localStorage.getItem('page')).addClass('active');//读取cookie获取选择的侧滑列，添加选中active样式
        //
        //     if ($.cookie('status')) {
        //         $('body').attr('class', localStorage.getItem('status'));//读取cookie，获取树状展开或关闭状态。
        //         // $('body').attr('class', $.cookie('status'));
        //     }
        // });
    </script>
    <style>
        .img-circle {
            width: 80px;
            height: 80px;
        }

        .left .author-name {
            font-weight: bold;
            color: #1d9d74;
        }

        .right .author-name {
            font-weight: bold;
            color: red;
            margin: 0 5px;
        }

        /*.chat-message.active a{*/
        /*color: red;*/
        /*}*/
        #im-body {
            width: 100%;
            padding: 0px;

        }

        #im-body > div:first-child {
            font-size: 14px;
        }

        #im-body > div:first-child > div {
            margin: 10px 0 !important;
            cursor: pointer;
        }

        #im-body > div:first-child img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        #userList > div {
            padding: 5px 5px;
        }

        #im_content {
            border-left: 1px solid red;
            height: 100%;
            overflow: scroll;
            font-size: 12px !important;
        }

        .chat-date {
            margin: 0 5px;
        }

        #content-main {
            height: calc(100% - 116px);
            overflow: hidden;
        }

        /*覆盖原来样式*/
        .navbar, .navbar-form-custom .form-control, navbar-form-custom, .navbar-form-custom {
            min-height: 36px;
            height: 36px;
        }

        .navbar-top-links li a {
            padding: 10px 10px;
            min-height: 36px;
        }

        .count-info .label {
            line-height: 10px;
            padding: 1px 3px;
            position: absolute;
            right: 6px;
            top: 6px;
        }

        .minimalize-styl-2 {
            padding: 3px 8px;
            margin: 8px 5px 5px 16px;
            font-size: 14px;
            float: left;
        }

        .content-tabs {
            height: 37px;
            line-height: 36px;
        }

        .content-tabs .roll-nav, .content-tabs button {
            height: 35px;
        }


    </style>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" src="img/profile_small.jpg"
                                   data-th-src="${session.user.image}"/>
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold"
                                                                  data-th-text="${session.user.name}">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block" data-th-if="${session.user.roles.size()>0}"
                                      data-th-text="${session.user.roles[0].name}">超级管理员<b class="caret"></b></span>
                                </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a type="button" class="" data-toggle="modal" data-target="#changePhotoModal">修改头像</a>
                            </li>
                            <li><a type="button" class="" data-toggle="modal" data-target="#myModal">修改密码</a>
                            </li>
                            <li><a href="javascript:void(0)" class="" onclick="edit()">个人资料</a>
                            </li>
                            <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                            </li>
                            <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/logout">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">祥和OA
                    </div>
                </li>


                <!--<li class="active">-->
                <!--<a href="#">-->
                <!--<i class="fa fa-home"></i>-->
                <!--<span class="nav-label">首页</span>-->
                <!--<span class="fa arrow"></span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/workbench/workbench">工作台</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <li data-th-each="menu:${menus}">
                    <a href="#" data-th-href="${(menu.url==''||menu.url==null)?'#':menu.url}"
                       data-th-class="${(menu.url==''||menu.url==null)?'':'J_menuItem'}"
                       onclick="setMenuStyle(this);return false;">
                        <i data-th-class="${(menu.icon==''||menu.icon==null)?'fa fa-user':menu.icon}"></i>
                        <span class="nav-label" data-th-text="${menu.name}">首页</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level" data-th-each="child:${menu.childs}">
                        <li>
                            <a class="J_menuItem" href="/workbench/workbench" data-th-href="${child.url}"
                               data-th-text="${child.name}" onclick="setMenuStyle(this);return false;">工作台</a>
                        </li>
                    </ul>
                </li>

                <!--<li>-->
                <!--<a href="#"><i class="fa fa-user"></i> <span class="nav-label">客户管理 </span><span-->
                <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/crm/custom_list">客户查询</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/crm/custom_add">客户登记</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="J_menuItem" href="/crm/goal/goal_setting">目标设定</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/crm/statistics/cust_statistics">客户统计</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->

                <!--<li>-->
                <!--<a href="/biz/statistics/business_manager_statistics" class="J_menuItem">-->
                <!--<i class="fa fa-calendar-plus-o">-->
                <!--</i> <span class="nav-label">业务管理</span>-->
                <!--<span-->
                <!--class="fa arrow"></span>-->
                <!--</a>-->

                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/biz/business_list">业务查询</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/biz/business_manager">业务管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/biz/statistics/business_statistics">业务统计</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/biz/article_list">稿件管理</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->

                <!--<li>-->
                <!--<a class="J_menuItem">-->
                <!--<i class="fa fa-film"></i>-->
                <!--<span class="nav-label">媒体管理</span>-->
                <!--<span class="fa arrow"></span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="media/addMedia">媒体登记</a>-->
                <!--<a class="J_menuItem" href="media/order">媒体查询及下单</a>-->
                <!--<a class="J_menuItem" href="media/medias">媒体管理</a>-->
                <!--<a class="J_menuItem" href="media/audits">媒体审核</a>-->
                <!--<a class="J_menuItem" href="media/supplier_manage">供应商管理</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->

                <!--<li>-->
                <!--<a href="/mediauser/statistics/media_user_manager_statistics" class="J_menuItem">-->
                <!--<i class="fa fa-calendar-plus-o">-->

                <!--</i> <span class="nav-label">媒介管理</span>-->
                <!--<span-->
                <!--class="fa arrow"></span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/mediauser/mediauser_list">媒介查询</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/mediauser/statistics/media_user_statistics">媒介统计</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->

                <!--<li>-->
                <!--<a>-->
                <!--<i class="fa fa-rmb" style="width: 13px;"></i>-->
                <!--<span class="nav-label">财务管理</span>-->
                <!--<span class="fa arrow"></span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryAccount">账户管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryIncome">进账管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryAssign">分款管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryOutgo">请款管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryInvoice">发票管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryBorrow">借款管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryCommission">提成管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/fee/queryRefund">退款管理</a>-->
                <!--</li>-->

                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a>-->
                <!--<i class="fa fa-retweet"></i>-->
                <!--<span class="nav-label">审批管理</span>-->
                <!--<span class="fa arrow"></span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/process/queryTask">审批管理</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a>-->
                <!--<i class="fa fa-gears"></i>-->
                <!--<span class="nav-label">系统管理</span>-->
                <!--<span class="fa arrow"></span>-->
                <!--</a>-->
                <!--<ul class="nav nav-second-level">-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/system/logger">日志管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/system/queryUser">用户管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/system/queryRole">角色管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/system/queryGroup">权限组管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/system/queryResource">资源管理</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="J_menuItem" href="/system/queryDept">部门管理</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="J_menuItem" href="/system/resource">资源管理</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                    <label class=" text-center text-danger" style="line-height: 36px">欢迎使用<span
                            data-th-text="${AppName}"></span></label>
                    <!--<form role="search" class="navbar-form-custom" method="post" action="search_results.html">-->
                    <!--<div class="form-group">-->
                    <!--<input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search"-->
                    <!--id="top-search">-->
                    <!--</div>-->
                    <!--</form>-->
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li class="m-t-xs">
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right">46小时前</small>
                                        <strong>小四</strong> 这里是消息列表
                                        <br>
                                        <small class="text-muted">3天前 2014.11.8</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">25小时前</small>
                                        <strong>国民岳父</strong> 如何看待"男子不满自己爱犬被称为狗，刺伤路人"？——这人比犬还凶
                                        <br>
                                        <small class="text-muted">昨天</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="mailbox.html">
                                        <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="mailbox.html">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> 您有16条未读消息
                                        <span class="pull-right text-muted small">4分钟前</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="profile.html">
                                    <div>
                                        <i class="fa fa-qq fa-fw"></i> 3条新回复
                                        <span class="pull-right text-muted small">12分钟钱</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="notifications.html">
                                        <strong>查看所有 </strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xs">
                        <a href="index_v1.html" class="J_menuItem" data-index="0">
                            <!--<i class="fa fa-cart-arrow-down"></i>购买-->
                            <i class="fa fa-gear" title="系统设置"></i>
                        </a>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="right-sidebar-toggle" aria-expanded="false">
                            <!--<i class="fa fa-cart-arrow-down"></i>购买-->
                            <i class="fa fa-user" title="用户信息"></i>
                        </a>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="right-sidebar-toggle" aria-expanded="false">
                            <i class="fa fa-tasks" title="切换主题"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content" id="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/workbench/workbench"
                    frameborder="0"
                    data-id="index_v1.html" seamless></iframe>
        </div>
        <div class="footer center">
            <div class="col-lg-4 text-left">
                <label>version: </label><span class="text-danger">1.0.0</span>
            </div>
            <div class="col-lg-4 text-center">
                &copy; 2013-2017
                <a href="http://www.byefan.com/" target="_blank">ByeFan</a>
                <span data-th-text="${AppName}"></span>
            </div>
            <div class="col-lg-4 text-right"><label class="text-success">现在是：</label><span id="DateTime"></span></a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <!--<div id="right-sidebar">-->
    <!--<div class="sidebar-container">-->

    <!--<ul class="nav nav-tabs navs-3">-->

    <!--<li class="active">-->
    <!--<a data-toggle="tab" href="#tab-1">-->
    <!--<i class="fa fa-gear"></i> 主题-->
    <!--&lt;!&ndash;<i class="fa fa-user"></i>&ndash;&gt;-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class=""><a data-toggle="tab" href="#tab-2">-->
    <!--通知-->
    <!--</a>-->
    <!--</li>-->
    <!--<li><a data-toggle="tab" href="#tab-3">-->
    <!--项目进度-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->

    <!--<div class="tab-content">-->
    <!--<div id="tab-1" class="tab-pane active">-->
    <!--<div class="sidebar-title">-->
    <!--<h3><i class="fa fa-comments-o"></i> 主题设置</h3>-->
    <!--<small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>-->
    <!--</div>-->
    <!--<div class="skin-setttings">-->
    <!--<div class="title">主题设置</div>-->
    <!--<div class="setings-item">-->
    <!--<span>收起左侧菜单</span>-->
    <!--<div class="switch">-->
    <!--<div class="onoffswitch">-->
    <!--<input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox"-->
    <!--id="collapsemenu">-->
    <!--<label class="onoffswitch-label" for="collapsemenu">-->
    <!--<span class="onoffswitch-inner"></span>-->
    <!--<span class="onoffswitch-switch"></span>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="setings-item">-->
    <!--<span>固定顶部</span>-->

    <!--<div class="switch">-->
    <!--<div class="onoffswitch">-->
    <!--<input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox"-->
    <!--id="fixednavbar">-->
    <!--<label class="onoffswitch-label" for="fixednavbar">-->
    <!--<span class="onoffswitch-inner"></span>-->
    <!--<span class="onoffswitch-switch"></span>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="setings-item">-->
    <!--<span>-->
    <!--固定宽度-->
    <!--</span>-->

    <!--<div class="switch">-->
    <!--<div class="onoffswitch">-->
    <!--<input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox"-->
    <!--id="boxedlayout">-->
    <!--<label class="onoffswitch-label" for="boxedlayout">-->
    <!--<span class="onoffswitch-inner"></span>-->
    <!--<span class="onoffswitch-switch"></span>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="title">皮肤选择</div>-->
    <!--<div class="setings-item default-skin nb">-->
    <!--<span class="skin-name ">-->
    <!--<a href="#" class="s-skin-0">-->
    <!--默认皮肤-->
    <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="setings-item blue-skin nb">-->
    <!--<span class="skin-name ">-->
    <!--<a href="#" class="s-skin-1">-->
    <!--蓝色主题-->
    <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="setings-item yellow-skin nb">-->
    <!--<span class="skin-name ">-->
    <!--<a href="#" class="s-skin-3">-->
    <!--黄色/紫色主题-->
    <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div id="tab-2" class="tab-pane">-->

    <!--<div class="sidebar-title">-->
    <!--<h3><i class="fa fa-comments-o"></i> 最新通知</h3>-->
    <!--<small><i class="fa fa-tim"></i> 您当前有10条未读信息</small>-->
    <!--</div>-->

    <!--<div>-->

    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a1.jpg">-->

    <!--<div class="m-t-xs">-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="media-body">-->

    <!--据天津日报报道：瑞海公司董事长于学伟，副董事长董社轩等10人在13日上午已被控制。-->
    <!--<br>-->
    <!--<small class="text-muted">今天 4:21</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a2.jpg">-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--HCY48之音乐大魔王会员专属皮肤已上线，快来一键换装拥有他，宣告你对华晨宇的爱吧！-->
    <!--<br>-->
    <!--<small class="text-muted">昨天 2:45</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a3.jpg">-->

    <!--<div class="m-t-xs">-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--写的好！与您分享-->
    <!--<br>-->
    <!--<small class="text-muted">昨天 1:10</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a4.jpg">-->
    <!--</div>-->

    <!--<div class="media-body">-->
    <!--国外极限小子的炼成！这还是亲生的吗！！-->
    <!--<br>-->
    <!--<small class="text-muted">昨天 8:37</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a8.jpg">-->
    <!--</div>-->
    <!--<div class="media-body">-->

    <!--一只流浪狗被收留后，为了减轻主人的负担，坚持自己觅食，甚至......有些东西，可能她比我们更懂。-->
    <!--<br>-->
    <!--<small class="text-muted">今天 4:21</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a7.jpg">-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--这哥们的新视频又来了，创意杠杠滴，帅炸了！-->
    <!--<br>-->
    <!--<small class="text-muted">昨天 2:45</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a3.jpg">-->

    <!--<div class="m-t-xs">-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--<i class="fa fa-star text-warning"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--最近在补追此剧，特别喜欢这段表白。-->
    <!--<br>-->
    <!--<small class="text-muted">昨天 1:10</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-message">-->
    <!--<a href="#">-->
    <!--<div class="pull-left text-center">-->
    <!--<img alt="image" class="img-circle message-avatar" src="img/a4.jpg">-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--我发起了一个投票 【你认为下午大盘会翻红吗？】-->
    <!--<br>-->
    <!--<small class="text-muted">星期一 8:37</small>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--<div id="tab-3" class="tab-pane">-->

    <!--<div class="sidebar-title">-->
    <!--<h3><i class="fa fa-cube"></i> 最新任务</h3>-->
    <!--<small><i class="fa fa-tim"></i> 您当前有14个任务，10个已完成</small>-->
    <!--</div>-->

    <!--<ul class="sidebar-list">-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
    <!--<h4>市场调研</h4> 按要求接收教材；-->

    <!--<div class="small">已完成： 22%</div>-->
    <!--<div class="progress progress-mini">-->
    <!--<div style="width: 22%;" class="progress-bar progress-bar-warning"></div>-->
    <!--</div>-->
    <!--<div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
    <!--<h4>可行性报告研究报上级批准 </h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的 开发进度作出一个合理的比对-->

    <!--<div class="small">已完成： 48%</div>-->
    <!--<div class="progress progress-mini">-->
    <!--<div style="width: 48%;" class="progress-bar"></div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
    <!--<h4>立项阶段</h4> 东风商用车公司 采购综合综合查询分析系统项目进度阶段性报告武汉斯迪克科技有限公司-->

    <!--<div class="small">已完成： 14%</div>-->
    <!--<div class="progress progress-mini">-->
    <!--<div style="width: 14%;" class="progress-bar progress-bar-info"></div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<span class="label label-primary pull-right">NEW</span>-->
    <!--<h4>设计阶段</h4>-->
    <!--&lt;!&ndash;<div class="small pull-right m-t-xs">9小时以后</div>&ndash;&gt;-->
    <!--项目进度报告(Project Progress Report)-->
    <!--<div class="small">已完成： 22%</div>-->
    <!--<div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
    <!--<h4>拆迁阶段</h4> 科研项目研究进展报告 项目编号: 项目名称: 项目负责人:-->

    <!--<div class="small">已完成： 22%</div>-->
    <!--<div class="progress progress-mini">-->
    <!--<div style="width: 22%;" class="progress-bar progress-bar-warning"></div>-->
    <!--</div>-->
    <!--<div class="small text-muted m-t-xs">项目截止： 4:00 - 2015.10.01</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
    <!--<h4>建设阶段 </h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的 开发进度作出一个合理的比对-->

    <!--<div class="small">已完成： 48%</div>-->
    <!--<div class="progress progress-mini">-->
    <!--<div style="width: 48%;" class="progress-bar"></div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
    <!--<h4>获证开盘</h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的 开发进度作出一个合理的比对-->

    <!--<div class="small">已完成： 14%</div>-->
    <!--<div class="progress progress-mini">-->
    <!--<div style="width: 14%;" class="progress-bar progress-bar-info"></div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->

    <!--</ul>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--右侧边栏结束-->
    <!--mini聊天窗口开始-->
    <div class="small-chat-box panel panel-default" style="width: 80%;">
        <div class="panel-heading">
            <small class="chat-date pull-right">
                2018.11.5
            </small>
            <input type="hidden" id="receiveUserId"/>
            <input type="hidden" id="headImg"/>
            与 <span id="receiveName"></span> 聊天中
        </div>
        <div class="panel-body content" id="im-body">
            <div class="col-md-2" id="userList">
            </div>
            <div class="col-md-10 " id="im_content">

            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group input-group-sm">
                <textarea type="text" class="form-control" id="msg" rows="5"></textarea>
                <span class="input-group-btn">
            <button class="btn btn-primary" id="sendMsg" type="button"
                    data-th-onclick="'sendMsg('+${session.user.id}+',\''+${session.user.name}+'\',\''+${session.user.image}+'\',$(\'#receiveUserId\').val(),$(\'#receiveName\').text(),$(\'#msg\'),$(\'#headImg\').val())'">发送
            </button>
            </span>
            </div>
        </div>
    </div>

    <div id="small-chat">
        <span class="badge badge-warning pull-right">5</span>
        <a class="open-small-chat">
            <i class="fa fa-comments"></i>

        </a>
    </div>
    <!--<div class="small-chat-box fadeInRight animated">-->
    <!--<div class="heading" draggable="true">-->
    <!--<small class="chat-date pull-right">-->
    <!--2015.9.1-->
    <!--</small>-->
    <!--与 Beau-zihan 聊天中-->
    <!--</div>-->
    <!--<div class="content" id="im_content">-->
    <!--</div>-->
    <!--<div class="form-chat">-->
    <!--<div class="input-group input-group-sm">-->
    <!--<input type="text" class="form-control" id="msg">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-primary" id="sendMsg" type="button" data-th-onclick="'sendMsg('+${session.user.id}+',\''+${session.user.userName}+'\',2,\'zs\',$(\'#msg\'))'">发送-->
    <!--</button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div id="small-chat">-->
    <!--<span class="badge badge-warning pull-right">5</span>-->
    <!--<a class="open-small-chat">-->
    <!--<i class="fa fa-comments"></i>-->

    <!--</a>-->
    <!--</div>-->
    <!--mini聊天窗口结束-->
</div>

<!--<div class="layui-layer layui-layer-page layui-box layui-layim" id="layui-layer1" type="page" times="1" showtime="0"-->
<!--contype="string"-->
<!--style="z-index: 19891015; width: 260px; height: 520px; top: 103px; left: 1658px; background-image: url('https://res.layui.com/layui/dist/css/modules/layim/skin/3.jpg');">-->
<!--<div class="layui-layer-title" style="cursor: move;">​</div>-->
<!--<div id="layui-layim" class="layui-layer-content" style="height: 410px;">-->
<!--<div class="layui-layim-main">-->
<!--<div class="layui-layim-info">-->
<!--<div class="layui-layim-user">纸飞机</div>-->
<!--<div class="layui-layim-status"><span class="layui-icon layim-status-online" layim-event="status"-->
<!--lay-type="show"></span>-->
<!--<ul class="layui-anim layim-menu-box">-->
<!--<li class="layim-this" layim-event="status" lay-type="online"><i class="layui-icon"></i><cite-->
<!--class="layui-icon layim-status-online"></cite>在线-->
<!--</li>-->
<!--<li layim-event="status" lay-type="hide"><i class="layui-icon"></i><cite-->
<!--class="layui-icon layim-status-hide"></cite>隐身-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<input class="layui-layim-remark" placeholder="编辑签名" value="在深邃的编码世界，做一枚轻盈的纸飞机"></div>-->
<!--<ul class="layui-unselect layui-layim-tab">-->
<!--<li class="layui-icon layim-this" title="联系人" layim-event="tab" lay-type="friend"></li>-->
<!--<li class="layui-icon" title="群组" layim-event="tab" lay-type="group"></li>-->
<!--<li class="layui-icon" title="历史会话" layim-event="tab" lay-type="history"></li>-->
<!--</ul>-->
<!--<ul class="layui-unselect layim-tab-content layui-show layim-list-friend">-->
<!--<li><h5 layim-event="spread" lay-type="undefined"><i class="layui-icon"></i><span>知名人物</span><em>(<cite-->
<!--class="layim-count"> 5</cite>)</em></h5>-->
<!--<ul class="layui-layim-list ">-->
<!--<li layim-event="chat" data-type="friend" data-index="0" class="layim-friend100001 "><img-->
<!--src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><span>贤心</span>-->
<!--<p>这些都是测试数据，实际使用请严格按照该格式返回</p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="0" class="layim-friend100001222 "><img-->
<!--src="//tva4.sinaimg.cn/crop.0.1.1125.1125.180/475bb144jw8f9nwebnuhkj20v90vbwh9.jpg"><span>刘小涛</span>-->
<!--<p>如约而至，不负姊妹欢乐颂</p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="0" class="layim-friend10034001 "><img-->
<!--src="//tva2.sinaimg.cn/crop.1.0.747.747.180/633f068fjw8f9h040n951j20ku0kr74t.jpg"><span>谢小楠</span>-->
<!--<p></p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="0" class="layim-friend168168 "><img-->
<!--src="//tva1.sinaimg.cn/crop.0.0.180.180.180/7fde8b93jw1e8qgp5bmzyj2050050aa8.jpg"><span>马小云</span>-->
<!--<p>让天下没有难写的代码</p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="0" class="layim-friend666666 "><img-->
<!--src="//tva1.sinaimg.cn/crop.0.0.512.512.180/6a4acad5jw8eqi6yaholjj20e80e8t9f.jpg"><span>徐小峥</span>-->
<!--<p>代码在囧途，也要写到底</p><span class="layim-msg-status">new</span></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><h5 layim-event="spread" lay-type="undefined"><i class="layui-icon"></i><span>网红声优</span><em>(<cite-->
<!--class="layim-count"> 5</cite>)</em></h5>-->
<!--<ul class="layui-layim-list ">-->
<!--<li layim-event="chat" data-type="friend" data-index="1" class="layim-friend121286 "><img-->
<!--src="//tva4.sinaimg.cn/crop.0.0.640.640.180/4a02849cjw8fc8vn18vktj20hs0hs75v.jpg"><span>罗小凤</span>-->
<!--<p>在自己实力不济的时候，不要去相信什么媒体和记者。他们不是善良的人，有时候候他们的采访对当事人而言就是陷阱</p><span class="layim-msg-status">new</span>-->
<!--</li>-->
<!--<li layim-event="chat" data-type="friend" data-index="1" class="layim-friend108101 "><img-->
<!--src="//tva1.sinaimg.cn/crop.0.23.1242.1242.180/8693225ajw8fbimjimpjwj20yi0zs77l.jpg"><span>Z_子晴</span>-->
<!--<p>微电商达人</p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="1" class="layim-friend12123454 "><img-->
<!--src="//tva2.sinaimg.cn/crop.0.0.512.512.180/005LMAegjw8f2bp9qg4mrj30e80e8dg5.jpg"><span>大鱼_MsYuyu</span>-->
<!--<p>我瘋了！這也太準了吧 超級笑點低</p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="1" class="layim-friend102101 "><img-->
<!--src="//tva2.sinaimg.cn/crop.0.0.640.640.180/648fbe5ejw8ethmg0u9egj20hs0ht0tn.jpg"><span>醋醋cucu</span>-->
<!--<p></p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="1" class="layim-friend3435343 "><img-->
<!--src="//tva2.sinaimg.cn/crop.0.8.751.751.180/961a9be5jw8fczq7q98i7j20kv0lcwfn.jpg"><span>柏雪近在它香</span>-->
<!--<p></p><span class="layim-msg-status">new</span></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><h5 layim-event="spread" lay-type="undefined"><i class="layui-icon"></i><span>女神艺人</span><em>(<cite-->
<!--class="layim-count"> 2</cite>)</em></h5>-->
<!--<ul class="layui-layim-list ">-->
<!--<li layim-event="chat" data-type="friend" data-index="2" class="layim-friend76543 "><img-->
<!--src="//wx2.sinaimg.cn/mw690/5db11ff4gy1flxmew7edlj203d03wt8n.jpg"><span>王小贤</span>-->
<!--<p>我爱贤心</p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="friend" data-index="2" class="layim-friend4803920 "><img-->
<!--src="//tva3.sinaimg.cn/crop.0.0.750.750.180/5033b6dbjw8etqysyifpkj20ku0kuwfw.jpg"><span>佟小娅</span>-->
<!--<p>我也爱贤心吖吖啊</p><span class="layim-msg-status">new</span></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="layui-unselect layim-tab-content ">-->
<!--<li>-->
<!--<ul class="layui-layim-list layui-show layim-list-group">-->
<!--<li layim-event="chat" data-type="group" data-index="0" class="layim-group101 "><img-->
<!--src="//tva1.sinaimg.cn/crop.0.0.200.200.50/006q8Q6bjw8f20zsdem2mj305k05kdfw.jpg"><span>前端群</span>-->
<!--<p></p><span class="layim-msg-status">new</span></li>-->
<!--<li layim-event="chat" data-type="group" data-index="1" class="layim-group102 "><img-->
<!--src="//tva2.sinaimg.cn/crop.0.0.199.199.180/005Zseqhjw1eplix1brxxj305k05kjrf.jpg"><span>Fly社区官方群</span>-->
<!--<p></p><span class="layim-msg-status">new</span></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="layui-unselect layim-tab-content ">-->
<!--<li>-->
<!--<ul class="layui-layim-list layui-show layim-list-history">-->
<!--<li class="layim-null">暂无历史会话</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="layui-unselect layim-tab-content">-->
<!--<li>-->
<!--<ul class="layui-layim-list layui-show" id="layui-layim-search"></ul>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="layui-unselect layui-layim-tool">-->
<!--<li class="layui-icon layim-tool-search" layim-event="search" title="搜索"></li>-->
<!--<li class="layui-icon layim-tool-msgbox" layim-event="msgbox" title="消息盒子"><span-->
<!--class="layui-anim layui-anim-loop layer-anim-05">5</span></li>-->
<!--<li class="layui-icon layim-tool-find" layim-event="find" title="查找"></li>-->
<!--<li class="layui-icon layim-tool-skin" layim-event="skin" title="更换背景"></li>-->
<!--<li class="layui-icon layim-tool-about" layim-event="about" title="关于"></li>-->
<!--</ul>-->
<!--<div class="layui-layim-search"><input><label class="layui-icon" layim-event="closeSearch">ဇ</label></div>-->
<!--</div>-->
<!--</div>-->
<!--<span class="layui-layer-setwin"><a class="layui-layer-ico layui-layer-close layui-layer-close1"-->
<!--href="javascript:;"></a></span></div>-->

<!--重置密码-->
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="form" class="form-horizontal">
                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">旧密码</label>
                                <div class="col-sm-6">
                                    <input type="password" id="oldpassword" name="oldpassword" required=""
                                           class="form-control" placeholder="旧密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">新密码</label>
                                <div class="col-sm-6">
                                    <input type="password" id="password1" name="password1" required=""
                                           class="form-control" placeholder="新密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">再次输入</label>
                                <div class="col-sm-6">
                                    <input type="password" id="password2" name="password2" required=""
                                           class="form-control" placeholder="再次输入">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit">保存</button>
                <button type="button" class="btn btn-white" id="cancel" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--修改头像-->
<div class="modal inmodal" id="changePhotoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">修改头像</h4>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="changePhotoForm" class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-sm-offset-2">请上传头像</label>
                                <div class="col-sm-5">
                                    <input type="file" id="doc" name="image" class="form-control"
                                           onchange="showImage();">
                                </div>
                                <div class="col-sm-10">
                                    <div class="hr-line-dashed"></div>
                                </div>
                                <div id="localImag" class="col-sm-11 col-sm-offset-4">
                                    <img id="preview" class="img-circle" width=-1 height=-1 style="diplay:none"/>
                                </div>
                                <div class="col-sm-10">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit2">保存</button>
                <button type="button" class="btn btn-white" id="cancel2" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--编辑个人信息-->
<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:1200px">
        <div class="modal-content animated bounceInRight" style="height:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">关闭</span>
                </button>
            </div>
            <div class="ibox-content">
                <div>
                    <form id="editForm" class="form-horizontal" action="" method="post">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">部门<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="deptName" name="deptName" class="form-control"
                                               readonly="readonly" required="required">
                                    </div>
                                    <label class="col-sm-2 control-label">姓名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="name" name="name" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <input type="hidden" name="id" class="form-control">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工号:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="no" name="no" class="form-control" readonly="readonly">
                                    </div>
                                    <label class="col-sm-2 control-label">用户名<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="userName" name="userName" class="form-control"
                                               readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否领导<span class="text-red">*</span>:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="1" name="isMgr"/>是
                                            <input type="radio" value="0" name="isMgr"/>否
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">性别:</label>
                                    <div class="col-sm-3">
                                        <div class="radio i-checks">
                                            <input type="radio" value="0" name="sex"/>女
                                            <input type="radio" value="1" name="sex"/>男
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">电话:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="phone" name="phone" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">邮箱:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="email" name="email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">QQ:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="qq" name="qq" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label">微信:</label>
                                    <div class="col-sm-3">
                                        <input type="text" id="wechat" name="wechat" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">备注:</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" id="remark" name="remark" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary update" id="update"
                                            onclick="submitHander(this,'/user/edit')">保存
                                    </button>
                                    <button type="button" class="btn btn-white" id="cancel1" data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
