<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byefan.xhoa.mapper.biz.ArticleMapperXML">
    <!--根据用户权限的sql,查询出了用户和部门-->
    <sql id="userQxSql">
        <if test="currentDeptQx == 'true'">
            <if test="deptId != null and deptId != ''">
                inner join(
                select u.id uid,d.id did from sys_dept d
                inner join sys_user u
                on u.dept_id = d.id
                where find_in_set(d.id,getChilds(#{deptId}))
                )usersdepts
                ${userTj}
            </if>
        </if>
    </sql>

    <sql id="articleTable">
        FROM t_biz_article art
        left join t_biz_order ord
        on ord.id = art.order_id
        left join t_media med
        on med.id = art.media_id
        left join t_media_type typ
        on typ.id = med.m_type
        left join t_crm_cust cust
        on cust.id = ord.cust_id
        left join t_crm_docking_people peo
        on peo.id = ord.cust_id
        <!--权限相关-->
        <if test="selectType == 'YW'">
            <include refid="userQxSql">
                <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
            </include>
        </if>
        <if test="selectType == 'MJ'">
            <include refid="userQxSql">
                <property name="userTj" value="on usersdepts.uid = art.media_user_id"></property>
            </include>
        </if>
    </sql>

    <sql id="articleParam">
        <where>
            and (art.state &gt;= 1)
            <!--只查询已下单的-->
            and art.issue_states != 0 and art.issue_states is not null
            <if test="mType != null and mType != ''">
                and med.m_type = #{mType}
            </if>
            <if test="salesmanName != null and salesmanName != ''">
                and ord.user_name like '%${salesmanName}%'
            </if>
            <if test="mediaUserName != null and mediaUserName != ''">
                and art.media_user_name like '%${mediaUserName}%'
            </if>
            <if test="mediaName != null and mediaName != ''">
                and med.name like '%${mediaName}%'
            </if>
            <if test="issuedDateStart != null and issuedDateStart != ''">
                and art.issued_date &gt;= #{issuedDateStart}
            </if>
            <if test="issuedDateEnd != null and issuedDateEnd != ''">
                and art.issued_date &lt;= #{issuedDateEnd}
            </if>
            <if test="dockingPeopleName != null and dockingPeopleName != ''">
                and ord.cust_name like '%${dockingPeopleName}%'
            </if>
            <if test="title != null and title != ''">
                and art.title like '%${title}%'
            </if>
            <if test="companyName != null and companyName != ''">
                and ord.company_name like '%${companyName}%'
            </if>
            <if test="brand != null and brand != ''">
                and art.brand like '%${brand}%'
            </if>
            <if test="recordStatus != null and (recordStatus != '' or recordStatus == 0)">
                and art.issue_states = #{recordStatus}
            </if>

            <!--已回款-->
            <if test="returnStatus == 1">
                and art.sale_amount - art.income_amount &lt;= 0
            </if>
            <!--未回款-->
            <if test="returnStatus == 2">
                and (art.income_amount = 0 or art.income_amount is null)
            </if>
            <!--部分回款-->
            <if test="returnStatus == 3">
                and art.sale_amount - art.income_amount &gt; 0
            </if>

            <if test="deductStatus != null and (deductStatus != '' or deductStatus == 0)">
                and art.commission_states = #{deductStatus}
            </if>
            <!--业务员-->
            <if test="saleman != null and saleman != ''">
                and ord.user_id = #{saleman}
            </if>
            <if test="artId != null and artId != ''">
                and art.id = #{artId}
            </if>
            <if test="supplierName != null and supplierName != ''">
                and art.supplier_name like '%${supplierName}%'
            </if>
            <if test="link != null and link != ''">
                and art.link like '%${link}%'
            </if>
            <if test="remarks != null and remarks != ''">
                and art.remarks like '%${remarks}%'
            </if>
            <!--媒介-->
            <if test="mediaUserId != null and mediaUserId != ''">
                and art.media_user_id = #{mediaUserId}
            </if>
        </where>
    </sql>

    <!--业务查询表和条件，稿件统计表和条件-->
    <sql id="articleTableAndParam">
        <include refid="articleTable"/>
        <include refid="articleParam"/>
    </sql>

    <!--业务查询列-->
    <sql id="businessCols">
        SELECT
        ord.id id,
        ord.no orderNo,
        ord.company_name companyName,
        ord.cust_name dockingName,
        ord.title orderTitle,
        ord.amount amount,
        ord.state state,
        ord.user_name saleman,
        art.id artId,
        typ.name mTypeName,
        med.name mediaName,
        art.title title,
        art.brand brand,
        art.link link,
        art.num num,
        art.issued_date issuedDate,
        art.sale_amount saleAmount,
        art.income_amount incomeAmount,
        art.taxes taxes,
        art.remarks remarks,
        art.promise_date promiseDate,
        art.income_date incomeDate,
        art.media_user_name mediaUserName,
        art.commission_states commissionStates,
        art.invoice_states invoiceStates,
        art.issue_states issueStates,
        art.supplier_name supplierName
    </sql>

    <!--业务查询,媒介查询，业务管理-->
    <select id="businessList" resultType="map">
        <include refid="businessCols"/>
        <include refid="articleTableAndParam"/>
        order by ord.id desc
    </select>

    <!--稿件统计-->
    <select id="businessResult" resultType="map">
        SELECT sum(art.sale_amount) saleAmount,
        sum(art.income_amount) incomeAmount,
        sum(art.pay_amount) payAmount,
        sum(art.refund_amount) refundAmount,
        sum(art.taxes) taxes,
        sum(art.other_pay) otherPay
        <include refid="articleTableAndParam"/>
    </select>

    <!--稿件管理-->
    <select id="articleListManager" resultType="map">
        <include refid="businessCols"/>,
        <!--支付金额-->
        art.pay_amount payAmount,
        art.price_column priceColumn,
        ord.user_name saleman,
        med.f1 f1,
        med.f2 f2,
        med.f3 f3,
        med.f4 f4,
        med.f5 f5,
        med.f6 f6,
        med.f7 f7,
        med.f8 f8,
        med.f9 f9,
        med.f10 f10,
        art.supplier_name supplierName,
        art.other_pay otherPay,
        outgo.out_account_name outAccountName,
        outgo.remark payRemark,
        ((art.sale_amount - art.taxes - art.pay_amount - art.other_pay - refund_amount) / art.pay_amount) lrl,
        outgo.pay_time payTime,
        art.commission commission,
        art.refund_amount rePayAmount
        <include refid="articleTable"/>
        left join fee_outgo_article foa
        on foa.article_id = art.id
        left join fee_outgo outgo
        on outgo.id = foa.outgo_id
        <include refid="articleParam"/>
        order by ord.id desc
    </select>

    <select id="editArticle" resultType="map">
        SELECT
        ord.id id,
        ord.no orderNo,
        ord.company_name companyName,
        ord.cust_name dockingName,
        ord.user_name saleman,
        ord.title orderTitle,
        ord.amount amount,
        ord.state state,
        art.id artId,
        typ.name mTypeName,
        med.name mediaName,
        art.title title,
        art.brand brand,
        art.price_type priceType,
        art.link link,
        art.issued_date issuedDate,
        art.sale_amount saleAmount,
        art.promise_date promiseDate,
        art.media_user_name mediaUserName,
        art.commission_states commissionStates,
        art.invoice_states invoiceStates,
        art.remarks remarks,
        art.num num,
        art.taxes taxes,
        art.other_pay otherPay,
        <!--媒介新增字段-->
        art.pay_amount payAmount,
        art.supplier_name supplierName
        FROM t_biz_article art
        left join t_biz_order ord
        on ord.id = art.order_id
        left join t_media med
        on med.id = art.media_id
        left join t_media_type typ
        on typ.id = med.m_type
        left join t_crm_cust cust
        on cust.id = ord.cust_id
        left join t_crm_docking_people peo
        on peo.id = ord.cust_id
        <where>
            and art.id = #{id}
        </where>
    </select>

    <update id="updateArticle" parameterType="map">
        update t_biz_article
        <set>
            <if test="link != null and link != ''">
                link = #{link},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks},
            </if>
            <if test="brand != null and brand != ''">
                brand = #{brand},
            </if>
            <if test="num != null and num != ''">
                num = #{num},
            </if>
            <if test="saleAmount != null and saleAmount != ''">
                sale_amount = #{saleAmount},
            </if>
            <if test="taxes != null and taxes != ''">
                taxes = #{taxes},
            </if>
            <!--媒介新增字段-->
            <if test="payAmount != null and payAmount != ''">
                pay_amount = #{payAmount},
            </if>
            <if test="outgoAmount != null and outgoAmount != ''">
                outgo_amount = #{outgoAmount},
            </if>
            <if test="supplierName != null and supplierName != ''">
                supplier_name = #{supplierName},
            </if>
            <if test="issuedDate != null and issuedDate != ''">
                issued_date = #{issuedDate},
            </if>
            <if test="promiseDate != null and promiseDate != ''">
                promise_date = #{promiseDate},
            </if>

            <if test="mediaUserId != null and mediaUserId != ''">
                media_user_id = #{mediaUserId},
            </if>
            <if test="mediaUserName != null and mediaUserName != ''">
                media_user_name = #{mediaUserName},
            </if>
        </set>
        <where>
            id = #{artId}
        </where>
    </update>

    <update id="deleteArticle">
        update t_biz_article
        set state = -9
        <where>
            and id = #{artId}
        </where>
    </update>

    <!--改变稿件状态-->
    <update id="changeIssueStates" parameterType="com.byefan.xhoa.entity.biz.Article">
        update t_biz_article
        set issue_states = #{issueStates} where id = #{id}
    </update>

    <insert id="saveBatch" parameterType="java.util.List">
        INSERT INTO `t_biz_article` (
        `order_id`,
        `media_id`,
        `media_name`,
        `supplier_id`,
        `supplier_name`,
        `media_user_id`,
        `media_user_name`,
        `brand`,
        `issued_date`,
        `title`,
        `link`,
        `num`,
        `sale_amount`,
        `income_amount`,
        `taxes`,
        `price_column`,
        `price_type`,
        `pay_amount`,
        `outgo_amount`,
        `promise_date`,
        `income_date`,
        `other_pay`,
        `refund_amount`,
        `remarks`,
        `commission`,
        `commission_date`,
        `outgo_states`,
        `commission_states`,
        `invoice_states`,
        `income_states`,
        `issue_states`
        )

        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.orderId},
            #{item.mediaId},
            #{item.mediaName},
            #{item.supplierId},
            #{item.supplierName},
            #{item.mediaUserId},
            #{item.mediaUserName},
            #{item.brand},
            #{item.issuedDate},
            #{item.title},
            #{item.link},
            #{item.num},
            #{item.saleAmount},
            #{item.incomeAmount},
            #{item.taxes},
            #{item.priceColumn},
            #{item.priceType},
            #{item.payAmount},
            #{item.outgoAmount},
            #{item.promiseDate},
            #{item.incomeDate},
            #{item.otherPay},
            #{item.refundAmount},
            #{item.remarks},
            #{item.commission},
            #{item.commissionDate},
            #{item.outgoStates},
            #{item.commissionStates},
            #{item.invoiceStates},
            #{item.incomeStates},
            #{item.issueStates}
            )
        </foreach>
    </insert>
    <update id="updateBatch" parameterType="list">
        update t_biz_article
        <trim prefix="set" suffixOverrides=",">
            state=1,issue_states=1,
            <trim prefix="media_user_id =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.mediaUserId!=null and i.mediaUserId>0">
                        when id=#{i.id} then #{i.mediaUserId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="media_user_name =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.mediaUserName!=null ">
                        when id=#{i.id} then #{i.mediaUserName}
                    </if>
                </foreach>
            </trim>

            <trim prefix="taxes =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.taxes!=null and i.taxes>0">
                        when id=#{i.id} then #{i.taxes}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sale_amount =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.saleAmount!=null and i.saleAmount>0">
                        when id=#{i.id} then #{i.saleAmount}
                    </if>
                </foreach>
            </trim>
            <!--<trim prefix="sale_amount =case" suffix="end,">-->
                <!--<foreach collection="list" item="i" index="index">-->
                    <!--<if test="i.saleAmount!=null">-->
                        <!--when id=#{i.id} then #{i.saleAmount}-->
                    <!--</if>-->
                <!--</foreach>-->
            <!--</trim>-->
            <trim prefix="title =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.title!=null">
                        when id=#{i.id} then #{i.title}
                    </if>
                </foreach>
            </trim>
            <trim prefix="link =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.link!=null">
                        when id=#{i.id} then #{i.link}
                    </if>
                </foreach>
            </trim>
            <trim prefix="promise_date =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.promiseDate!=null">
                        when id=#{i.id} then #{i.promiseDate}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            id=#{i.id}
        </foreach>
    </update>
</mapper>