<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byefan.xhoa.mapper.biz.statistics.BusinessManagerStatisticsMapper">

    <!--权限相关-->
    <sql id="userQxSql">
        <if test="currentDeptQx == 'true'">
            <if test="currentDeptId != null and currentDeptId != ''">
                inner join(
                select u.id uid,d.id did from sys_dept d
                inner join sys_user u
                on u.dept_id = d.id
                where find_in_set(d.id,getChilds(#{currentDeptId}))
                )usersdepts
                ${userTj}
            </if>
        </if>
    </sql>

    <!--当前时间-->
    <sql id="currentDate">
        <!--本年度-->
        <if test="dateSelect == 1">
            and ${tableField} &gt;= concat(year(now()),'-01-01')
            and ${tableField} &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本月份-->
        <if test="dateSelect == 3">
            and year(${tableField}) = year(now())
            and month(${tableField}) = month(now())
        </if>
        <!--当天-->
        <if test="dateSelect == 4">
            and year(${tableField}) = year(now())
            and month(${tableField}) = month(now())
            and day(${tableField}) = day(now())
        </if>
    </sql>

    <!--上期的时间-->
    <sql id="prevDate">
        <!--去年-->
        <if test="dateSelect == 1">
            and ${tableField} &gt;= concat(year(now())-1,'-01-01')
            and ${tableField} &lt;= concat(year(now())-1,'-12-31')
        </if>
        <!--上月份-->
        <if test="dateSelect == 3">
            and DATE_FORMAT((${tableField}), '%Y%m') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 MONTH), '%Y%m')
        </if>
        <!--前一天-->
        <if test="dateSelect == 4">
            and DATE_FORMAT((${tableField}), '%Y%m%d') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY), '%Y%m%d')
        </if>
    </sql>

    <select id="topOptionSetValue" parameterType="map" resultType="map">
        <choose>
            <!--如果是成交客户量则单独统计-->
            <when test="tjType == 'cjPeoBox'">
                select a.value,(a.value-b.value)/b.value changeValue
                    FROM (
                    SELECT count(DISTINCT (peo.id)) `value`
                    FROM t_biz_article art
                    INNER JOIN t_biz_order ord
                    ON ord.id = art.order_id
                    INNER JOIN t_crm_docking_people peo
                    ON peo.worker = ord.user_id
                    <!--权限相关,统计当前部门-->
                    <include refid="userQxSql">
                        <property name="userTj" value="on usersdepts.uid = peo.worker"></property>
                    </include>
                    where art.state &gt;= 0
                    <!--权限相关，统计当前用户-->
                    <if test="currentUserId != null and currentUserId != ''">
                        and peo.worker = #{currentUserId}
                    </if>
                    <include refid="currentDate">
                        <property name="tableField" value="art.issued_date"></property>
                    </include>
                )a,
                (SELECT count(DISTINCT (peo.id)) `value`
                    FROM t_biz_article art
                    INNER JOIN t_biz_order ord
                    ON ord.id = art.order_id
                    INNER JOIN t_crm_docking_people peo
                    ON peo.worker = ord.user_id
                    <!--权限相关,统计当前部门-->
                    <include refid="userQxSql">
                        <property name="userTj" value="on usersdepts.uid = peo.worker"></property>
                    </include>
                    where art.state &gt;= 0
                    <!--权限相关，统计当前用户-->
                    <if test="currentUserId != null and currentUserId != ''">
                        and peo.worker = #{currentUserId}
                    </if>
                    <include refid="prevDate">
                        <property name="tableField" value="art.issued_date"></property>
                    </include>
                )b
            </when>
            <otherwise>
                select
                <choose>
                    <!--如果是统计图，则统计稿件数量和应收金额,以及增长率-->
                    <when test="tjType == 'middleBox'">
                        a.sj sj,
                        a.artCount artCount,a.saleAmount saleAmount,a.incomeAmount incomeAmount
                    </when>
                    <otherwise>
                        a.value,(a.value-b.value)/b.value changeValue
                    </otherwise>
                </choose>
                from (
                select
                <if test="tjType == 'artCountBox'">
                    count(*) `value`
                </if>
                <if test="tjType == 'saleAmountBox'">
                    sum(art.sale_amount) `value`
                </if>
                <if test="tjType == 'incomeAmountBox'">
                    sum(art.income_amount) `value`
                </if>

                <!--如果是中间的统计图表，则需要统计稿件数量和应收金额-->
                <if test="tjType == 'middleBox'">
                    <if test="dateSelect == 1">
                        year(art.issued_date) sj,
                    </if>
                    <!--统计本年12个月-->
                    <if test="dateSelect == 3">
                        month(art.issued_date) sj,
                    </if>
                    <!--统计当月31天-->
                    <if test="dateSelect == 4">
                        day(art.issued_date) sj,
                    </if>
                    count(*) `artCount`,sum(art.sale_amount) saleAmount,sum(art.income_amount) incomeAmount
                </if>
                from t_biz_article art
                left join t_media med
                on art.media_id = med.id
                left join t_biz_order ord
                on art.order_id = ord.id
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
                </include>
                where 1 = 1
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and ord.user_id = #{currentUserId}
                </if>
                and (art.state &gt;= 1)
                <choose>
                    <!--如果是统计图，则统计稿件数量和应付金额,以及增长率-->
                    <when test="tjType == 'middleBox'">
                        <!--统计最近5年-->
                        <if test="dateSelect == 1">
                            and art.issued_date &gt;= concat(year(now())-5,'-01-01')
                            and art.issued_date &lt;= concat(year(now()),'-12-31')
                            group by year(art.issued_date)
                        </if>
                        <!--统计本年12个月-->
                        <if test="dateSelect == 3">
                            and year(art.issued_date) = year(now())
                            group by month(art.issued_date)
                        </if>
                        <!--统计当月31天-->
                        <if test="dateSelect == 4">
                            and year(art.issued_date) = year(now())
                            and month(art.issued_date) = month(now())
                            group by day(art.issued_date)
                        </if>
                    </when>
                    <otherwise>
                        <include refid="currentDate">
                            <property name="tableField" value="art.issued_date"></property>
                        </include>
                    </otherwise>
                </choose>
                ) a
                <choose>
                    <when test="tjType == 'middleBox'">
                        <!--如果是统计图表，则不需要统计去年的数据-->
                    </when>
                    <otherwise>
                        ,
                        (
                        select
                        <if test="tjType == 'artCountBox'">
                            count(*) `value`
                        </if>
                        <if test="tjType == 'saleAmountBox'">
                            sum(art.sale_amount) `value`
                        </if>
                        <if test="tjType == 'incomeAmountBox'">
                            sum(art.income_amount) `value`
                        </if>
                        from t_biz_article art
                        left join t_media med
                        on art.media_id = med.id
                        left join t_biz_order ord
                        on art.order_id = ord.id
                        <!--权限相关,统计当前部门-->
                        <include refid="userQxSql">
                            <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
                        </include>
                        where 1 = 1
                        <!--权限相关，统计当前用户-->
                        <if test="currentUserId != null and currentUserId != ''">
                            and ord.user_id = #{currentUserId}
                        </if>
                        and (art.state &gt;= 1)
                        <choose>
                            <otherwise>
                                <include refid="prevDate">
                                    <property name="tableField" value="art.issued_date"></property>
                                </include>
                            </otherwise>
                        </choose>
                        ) b
                    </otherwise>
                </choose>
                <if test="tjType == 'middleBox'">
                    order by a.sj
                </if>
            </otherwise>
        </choose>
    </select>

    <!--查询订单排名-->
    <select id="orderSort" parameterType="map" resultType="map">
        select ord.cust_name custName,sum(ord.amount) amount,
        (select count(art.id) artCount
         from t_biz_article art,t_biz_order ordn
         where ordn.id = art.order_id
         and ordn.cust_id = ord.cust_id) artCount,
         ord.user_name userName
        from t_biz_order ord
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
        </include>
        where ord.state &gt;= 1
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and ord.user_id = #{currentUserId}
        </if>
        <include refid="currentDate">
          <property name="tableField" value="ord.create_date"></property>
        </include>
        group by ord.cust_id,
        ord.cust_name,
        ord.user_id,
        ord.user_name
        order by amount desc
    </select>

    <!--稿件排名-->
    <select id="articleSort" parameterType="map" resultType="map">
        <choose>
            <when test="tjType == 'noIncomeSortBox1'">
                select a.*,
                (a.noIncomeAmount-b.noIncomeAmount)/b.saleAmount changeValue
                FROM (
                SELECT
                ord.user_id            userId,
                ord.user_name          userName,
                sum(art.sale_amount)   saleAmount,
                sum(art.sale_amount-art.income_amount) noIncomeAmount
                FROM t_biz_article art
                inner join t_biz_order ord
                on ord.id = art.order_id
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
                </include>
                WHERE 1 = 1
                and art.state &gt;= 1
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and ord.user_id = #{currentUserId}
                </if>
                <include refid="currentDate">
                    <property name="tableField" value="art.issued_date"></property>
                </include>
                GROUP BY ord.user_id,
                ord.user_name
                )a left join(
                SELECT
                ord.user_id            userId,
                ord.user_name          userName,
                sum(art.sale_amount)   saleAmount,
                sum(art.sale_amount-art.income_amount) noIncomeAmount
                FROM t_biz_article art
                inner join t_biz_order ord
                on ord.id = art.order_id
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
                </include>
                where 1 = 1
                and art.state &gt;= 1
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and ord.user_id = #{currentUserId}
                </if>
                <include refid="prevDate">
                    <property name="tableField" value="art.issued_date"></property>
                </include>
                GROUP BY ord.user_id,
                ord.user_name
                ) b
                on a.userId = b.userId
                order by a.noIncomeAmount desc
            </when>
            <otherwise>
                select a.*,
                <if test="tjType == 'saleAmountSortBox'">
                    (a.saleAmount-b.saleAmount)/b.saleAmount changeValue
                </if>
                <if test="tjType == 'noIncomeSortBox'">
                    (a.noIncomeAmount-b.noIncomeAmount)/b.noIncomeAmount changeValue
                </if>
                FROM (
                SELECT
                ord.cust_id            custId,
                ord.cust_name          custName,
                sum(art.sale_amount)   saleAmount,
                <if test="tjType == 'saleAmountSortBox'">
                    sum(art.income_amount) incomeAmount
                </if>
                <if test="tjType == 'noIncomeSortBox'">
                    sum(art.sale_amount - art.income_amount) noIncomeAmount
                </if>
                FROM t_biz_article art inner join
                t_biz_order ord
                on ord.id = art.order_id
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
                </include>
                where art.state &gt;= 1
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and ord.user_id = #{currentUserId}
                </if>
                <include refid="currentDate">
                    <property name="tableField" value="art.issued_date"></property>
                </include>
                GROUP BY ord.cust_id,
                ord.cust_name
                )a left join(
                SELECT
                ord.cust_id            custId,
                ord.cust_name          custName,
                sum(art.sale_amount)   saleAmount,
                <if test="tjType == 'saleAmountSortBox'">
                    sum(art.income_amount) incomeAmount
                </if>
                <if test="tjType == 'noIncomeSortBox'">
                    sum(art.sale_amount - art.income_amount) noIncomeAmount
                </if>
                FROM t_biz_article art inner join
                t_biz_order ord
                on ord.id = art.order_id
                <!--权限相关,统计当前部门-->
                <include refid="userQxSql">
                    <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
                </include>
                where art.state &gt;= 1
                <!--权限相关，统计当前用户-->
                <if test="currentUserId != null and currentUserId != ''">
                    and ord.user_id = #{currentUserId}
                </if>
                <include refid="prevDate">
                    <property name="tableField" value="art.issued_date"></property>
                </include>
                GROUP BY ord.cust_id,
                ord.cust_name
                ) b
                on a.custId = b.custId
                <if test="tjType == 'saleAmountSortBox'">
                    order by a.saleAmount desc
                </if>
                <if test="tjType == 'noIncomeSortBox'">
                    order by a.noIncomeAmount desc
                </if>
            </otherwise>
        </choose>
    </select>

    <!--统计各部门的应收和利润-->
    <select id="everyDeptBusiness" resultType="map">
        <foreach collection="list" index="index" item="item" open="" separator=" UNION ALL " close=" order by deptId asc">
            SELECT *
            FROM (
            SELECT
            dept.id   deptId,
            dept.name deptName
            FROM sys_dept dept
            WHERE id = #{item}
            ) a
            LEFT JOIN (
            SELECT sum(art.sale_amount) saleAmount,
            sum(art.sale_amount - art.pay_amount - art.refund_amount - art.other_pay - art.taxes) profit
            FROM t_biz_article art
            INNER JOIN t_biz_order ord
            ON ord.id = art.order_id
            <include refid="currentDate">
                <property name="tableField" value="art.issued_date"></property>
            </include>
            INNER JOIN
            (
            SELECT
            u.id uid,
            d.id did
            FROM sys_dept d
            INNER JOIN sys_user u
            ON u.dept_id = d.id
            WHERE find_in_set(d.id, getChilds(#{item}))
            ) userdepts
            ON ord.user_id = userdepts.uid
            ) b
            ON 1 = 1
        </foreach>
    </select>

    <!--统计业务员的排名-->
    <select id="businessTop" resultType="map" parameterType="map">
        select
        ord.user_id userId,
        ord.user_name userName,
        <if test="tjType == 'deptSaleAmountSortBox'">
            sum(art.sale_amount) saleAmount
        </if>
        <if test="tjType == 'deptIncomeSortBox'">
            sum(art.income_amount) incomeAmount
        </if>
        from t_biz_article art
        inner join t_biz_order ord
        on art.order_id = ord.id
        INNER JOIN
        (
            SELECT
            u.id uid,
            d.id did
            FROM sys_dept d
            INNER JOIN sys_user u
            ON u.dept_id = d.id
            WHERE find_in_set(d.id, getChilds(#{deptId}))
        ) userdepts
        ON ord.user_id = userdepts.uid
        <include refid="currentDate">
            <property name="tableField" value="art.issued_date"></property>
        </include>
        group by ord.user_id,
        ord.user_name
        <if test="tjType == 'deptSaleAmountSortBox'">
            order by saleAmount DESC
        </if>
        <if test="tjType == 'deptIncomeSortBox'">
            order by incomeAmount DESC
        </if>
        limit 5
    </select>
</mapper>