<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byefan.xhoa.mapper.crm.CustDockingPeopleMapper">
    <!--根据用户权限的sql,查询出了用户和部门-->
    <sql id="userQxSql">
        <if test="currentDeptQx == 'true'">
            <if test="deptId != null and deptId != ''">
                left join(
                select u.id uid,d.id did from sys_dept d
                inner join sys_user u
                on u.dept_id = d.id
                where find_in_set(d.id,getChilds(#{deptId}))
                )usersdepts
                ${userTj}
            </if>
        </if>
    </sql>

    <select id="getCustdockingPeopleSearch" parameterType="map" resultType="map">
        <!--查询客户列表-->
        select cust.*,cust.company_name companyName,peo.id dockingId,
        peo.cust_name custName,peo.job job,peo.`status`,
        peo.create_worker createWorker,
        cu.name createWorkerName,
        peo.worker worker,
        wu.name workerName,
        peo.create_time createTime,peo.update_time updateTime,
        peo.cust_level custLevel,
        peo.cust_type custType,
        peo.delete_flag deleteFlag
        from t_crm_cust cust left join t_crm_docking_people peo
        on cust.id = peo.company_id
        left join sys_user cu on peo.create_worker = cu.id
        left join sys_user wu on peo.worker = wu.id
        <!--权限相关-->
        <include refid="userQxSql">
            <property name="userTj" value="on usersdepts.uid = peo.worker"/>
        </include>
        where 1=1
        <!--权限相关-->
        <if test="workerId!=null and workerId!=''">
            AND (peo.worker = #{workerId} or peo.worker is null or peo.worker = '')
        </if>

        <!--本年度-->
        <if test="timeQuantum == 1">
            and peo.create_time &gt;= concat(year(now()),'-01-01')
            and peo.create_time &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(peo.create_time) = year(now())
            and QUARTER(peo.create_time) = QUARTER(now())
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(peo.create_time) = year(now())
            and month(peo.create_time) = month(now())
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            and peo.create_time &gt;= #{issuedDateStart}
            and peo.create_time &lt;= #{issuedDateEnd}
        </if>

        <if test="status!=null and status!=''">
            AND peo.status = #{status}
        </if>
        <if test="custType!=null and custType!=''">
            AND peo.cust_type = #{custType}
        </if>
        <if test="custLevel!=null and custLevel!=''">
            AND peo.cust_level = #{custLevel}
        </if>
        <if test="custProperty!=null and custProperty!=''">
            AND peo.cust_property = #{custProperty}
        </if>
        <if test="companyName!=null and companyName!=''">
            AND cust.company_name like '%${companyName}%'
        </if>
        <if test="custName!=null and custName!=''">
            AND peo.cust_name like '%${custName}%'
        </if>
        <if test="createWorker!=null and createWorker!=''">
            AND cu.name like '%${createWorker}%'
        </if>
        <if test="worker!=null and worker!=''">
            AND wu.name like '%${worker}%'
            AND wu.name is not null and wu.name != ''
        </if>
        <if test="createStart!=null and createStart!=''">
            AND peo.create_time &gt;= #{createStart}
        </if>
        <if test="createEnd!=null and createEnd!=''">
            AND peo.create_time &lt;= #{createEnd}
        </if>
        <if test="updateStart!=null and updateStart!=''">
            AND peo.update_time &gt;= #{updateStart}
        </if>
        <if test="updateEnd!=null and updateEnd!=''">
            AND peo.update_time &lt;= #{updateEnd}
        </if>
        <if test="area!=null and area!=''">
            AND cust.area = #{area}
        </if>
        <!--查询最近几个月未成交的客户-->
        <if test="latelyNot!=null and latelyNot!=''">
            AND
            case
            when exists(select 1 from t_biz_order ordn where ordn.cust_id = peo.id)
            then
            TIMESTAMPDIFF(MONTH,(select max(ordn.create_date) from t_biz_order ordn where ordn.cust_id = peo.id),now()) &gt; #{latelyNot}
            else
            TIMESTAMPDIFF(MONTH,peo.create_time,now()) &gt; #{latelyNot}
            end
        </if>
            order by cust.id desc
    </select>
</mapper>