<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byefan.xhoa.mapper.crm.CustManagerStatisticsMapper">
    <!--权限相关-->
    <sql id="userQxSql">
        <if test="currentDeptQx == 'true'">
            <if test="currentDeptId != null and currentDeptId != ''">
                inner join(
                select u.id uid,d.id did from sys_dept d
                inner join sys_user u
                on u.dept_id = d.id
                where find_in_set(d.id,getChilds(#{currentDeptId}))
                )usersdepts
                ${userTj}
            </if>
        </if>
    </sql>

    <sql id="selectDate">
        <!--本年度-->
        <if test="timeQuantum == 1">
            and ${timeField} &gt;= concat(year(now()),'-01-01')
            and ${timeField} &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(${timeField}) = year(now())
            and QUARTER(${timeField}) = QUARTER(now())
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(${timeField}) = year(now())
            and month(${timeField}) = month(now())
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            and ${timeField} &gt;= #{issuedDateStart}
            and ${timeField} &lt;= #{issuedDateEnd}
        </if>
    </sql>

    <select id="topStatistics" parameterType="map" resultType="map">
        select a.*,b.* from(
            select count(*) djkhs from t_crm_docking_people peo
            <!--权限相关,统计当前部门-->
            <include refid="userQxSql">
                <property name="userTj" value="on usersdepts.uid = peo.worker"></property>
            </include>
            where 1 = 1
            <!--权限相关，统计当前用户-->
            <if test="currentUserId != null and currentUserId != ''">
                and peo.worker = #{currentUserId}
            </if>
            <include refid="selectDate">
                <property name="timeField" value="peo.create_time"></property>
            </include>
        ) a inner join
        (
            select count(DISTINCT(ord.cust_id)) cjkhs,sum(art.sale_amount) xsyj,
            sum(art.sale_amount - art.taxes - art.pay_amount - art.other_pay - art.refund_amount) lryj,
            sum(art.income_amount) hke
            from t_biz_article art
            inner join t_biz_order ord
            on ord.id = art.order_id
            <!--权限相关,统计当前部门-->
            <include refid="userQxSql">
                <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
            </include>
            where 1 = 1
            <!--权限相关，统计当前用户-->
            <if test="currentUserId != null and currentUserId != ''">
                and ord.user_id = #{currentUserId}
            </if>
            <include refid="selectDate">
                <property name="timeField" value="ord.create_date"></property>
            </include>
        ) b
        on 1 = 1
    </select>

    <!--统计各部门的男女人数-->
    <select id="everyDeptUserCount" resultType="map">
        <foreach collection="list" index="index" item="item" open="" separator=" UNION ALL " close=" order by deptId asc">
            SELECT *
            FROM (
            SELECT
            dept.id   deptId,
            dept.name deptName
            FROM sys_dept dept
            WHERE id = #{item}
            ) a
            LEFT JOIN (
            SELECT sum(
            case when u.sex = 0
            then 1
            else 0
            end
            ) nv,
            sum(
            case when u.sex != 0
            then 1
            else 0
            end
            ) nan
            FROM sys_user u
            INNER JOIN
            (
            SELECT
            u.id uid,
            d.id did
            FROM sys_dept d
            INNER JOIN sys_user u
            ON u.dept_id = d.id
            WHERE find_in_set(d.id, getChilds(#{item}))
            ) userdepts
            ON u.id = userdepts.uid
            ) b
            ON 1 = 1
        </foreach>
    </select>

    <select id="custPie" resultType="map" parameterType="map">
        select
          sum(case when peo.cust_type = 1 then 1 else 0 end) dxkh,
          sum(case when peo.cust_type = 2 then 1 else 0 end) zxkh,
          sum(case when peo.cust_type = 3 then 1 else 0 end) xxkh,
          sum(case when peo.cust_level = 1 then 1 else 0 end) vipkh,
          sum(case when peo.cust_level = 2 then 1 else 0 end) hykh,
          sum(case when peo.cust_level = 3 then 1 else 0 end) ptkh,
          sum(case when peo.status = 0 then 1 else 0 end) yx,
          sum(case when peo.status = 1 then 1 else 0 end) dkf,
          sum(case when peo.status = 2 then 1 else 0 end) ls
        from t_crm_docking_people peo
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="on usersdepts.uid = peo.worker"></property>
        </include>
        where 1 = 1
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and peo.worker = #{currentUserId}
        </if>
        <include refid="selectDate">
            <property name="timeField" value="peo.create_time"></property>
        </include>
    </select>

</mapper>