<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byefan.xhoa.mapper.crm.StatisticsMapper">
    <!--权限相关-->
    <sql id="userQxSql">
        <if test="currentDeptQx == 'true'">
            <if test="currentDeptId != null and currentDeptId != ''">
                inner join(
                select u.id uid,d.id did from sys_dept d
                inner join sys_user u
                on u.dept_id = d.id
                where find_in_set(d.id,getChilds(#{currentDeptId}))
                )usersdepts
                ${userTj}
            </if>
        </if>
    </sql>

    <select id="statisticsResult" resultType="map">
        SELECT
        <if test="timeQuantum == 1">
            month(art.issued_date) month,
        </if>
        <if test="timeQuantum == 2">
            month(art.issued_date) month,
        </if>
        <if test="timeQuantum == 3">
            month(art.issued_date) month,
        </if>
        <if test="timeQuantum == 4">
            day(art.issued_date) month,
        </if>
        <if test="timeQuantum == 5">
            concat(concat(#{issuedDateStart},'至'),#{issuedDateEnd}) month,
        </if>
        sum(sale_amount) saleAmount,
        sum(sale_amount - income_amount) noIncomeAmount,
        sum(
        case when TIMESTAMPDIFF(MONTH,now(),issued_date) &gt;= 3
        then (sale_amount - income_amount) else 0 end
        ) yqIncomeAmount,
        sum(
        case when TIMESTAMPDIFF(DAY,now(),promise_date) &gt;= 0
        then (sale_amount - income_amount) else 0 end
        ) dqysIncomeAmount
        FROM t_biz_article art
        left join t_media med
        on med.id = art.media_id
        left join t_biz_order ord
        on ord.id = art.order_id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
        </include>
        where 1 = 1
        and (art.state &gt;= 1)
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and ord.user_id = #{currentUserId}
        </if>
        <!--业务员-->
        <if test="worker != null and worker != ''">
            and ord.user_id = #{worker}
        </if>
        <!--对接人-->
        <if test="docPeo != null and docPeo != ''">
            and ord.cust_id = #{docPeo}
        </if>
        <!--稿件类型-->
        <if test="artType != null and artType != ''">
            and med.m_type = #{artType}
        </if>
        <!--本年度-->
        <if test="timeQuantum == 1">
            and art.issued_date &gt;= concat(year(now()),'-01-01')
            and art.issued_date &lt;= concat(year(now()),'-12-31')
            group by month(art.issued_date)
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(art.issued_date) = year(now())
            and QUARTER(art.issued_date) = QUARTER(now())
            group by month(art.issued_date)
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            group by month(art.issued_date)
        </if>
        <!--当天-->
        <if test="timeQuantum == 4">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            and day(art.issued_date) = day(now())
            group by day(art.issued_date)
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            and art.issued_date &gt;= #{issuedDateStart}
            and art.issued_date &lt;= #{issuedDateEnd}
        </if>
        order by month
    </select>

    <!--统计客户排名-->
    <select id="statisticsRanking" resultType="map">
        SELECT
        ord.company_name companyName,
        ord.cust_name custName,
        sum(sale_amount) saleAmount,
        sum(sale_amount - income_amount) noIncomeAmount,
        sum(
        case when TIMESTAMPDIFF(MONTH,now(),issued_date) &gt;= 3
        then (sale_amount - income_amount) else 0 end
        ) yqIncomeAmount,
        sum(
        case when TIMESTAMPDIFF(DAY,now(),promise_date) &gt;= 0
        then (sale_amount - income_amount) else 0 end
        ) dqysIncomeAmount
        FROM
        t_biz_article art
        LEFT JOIN
        t_biz_order ord ON ord.id = art.order_id
        LEFT JOIN
        t_media med ON med.id = art.media_id
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="on usersdepts.uid = ord.user_id"></property>
        </include>
        where 1 = 1
        and (art.state &gt;= 1)
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and ord.user_id = #{currentUserId}
        </if>
        <!--业务员-->
        <if test="worker != null and worker != ''">
            and ord.user_id = #{worker}
        </if>
        <!--对接人-->
        <if test="docPeo != null and docPeo != ''">
            and ord.cust_id = #{docPeo}
        </if>
        <!--稿件类型-->
        <if test="artType != null and artType != ''">
            and med.m_type = #{artType}
        </if>
        <!--本年度-->
        <if test="timeQuantum == 1">
            and art.issued_date &gt;= concat(year(now()),'-01-01')
            and art.issued_date &lt;= concat(year(now()),'-12-31')
        </if>
        <!--本季度-->
        <if test="timeQuantum == 2">
            and year(art.issued_date) = year(now())
            and QUARTER(art.issued_date) = QUARTER(now())
        </if>
        <!--本月份-->
        <if test="timeQuantum == 3">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
        </if>
        <!--当天-->
        <if test="timeQuantum == 4">
            and year(art.issued_date) = year(now())
            and month(art.issued_date) = month(now())
            and day(art.issued_date) = day(now())
        </if>
        <!--时间区间-->
        <if test="timeQuantum == 5">
            and art.issued_date &gt;= #{issuedDateStart}
            and art.issued_date &lt;= #{issuedDateEnd}
        </if>

        GROUP BY ord.cust_id , ord.cust_name , ord.company_name

        <if test="jeType == 1">
            ORDER BY saleAmount DESC
        </if>

        <if test="jeType == 2">
            ORDER BY noIncomeAmount DESC
        </if>

        <if test="jeType == 3">
            ORDER BY yqIncomeAmount DESC
        </if>

        <if test="jeType == 4">
            ORDER BY dqysIncomeAmount DESC
        </if>
    </select>

    <!--根据权限和角色查询用户-->
    <select id="deptUsers" parameterType="map" resultType="map">
        select u.* from sys_user u
        <!--权限相关,统计当前部门-->
        <include refid="userQxSql">
            <property name="userTj" value="on usersdepts.uid = u.id"></property>
        </include>
        where u.state &gt; -2
        <!--权限相关，统计当前用户-->
        <if test="currentUserId != null and currentUserId != ''">
            and u.id = #{currentUserId}
        </if>
        <if test="roleType != null and roleType != ''">
            and exists(select 1 from sys_user_role ur,sys_role r where r.id = ur.role_id and ur.user_id = u.id and r.type = #{roleType})
        </if>
    </select>

</mapper>