<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.print.mapper.ClusterMapper">

	<select id="getBySchoolID" parameterType="java.lang.Long"
		resultType="com.ry.cds.print.bo.Cluster">
		SELECT
		c.clusterID,
		c.clusterName,
		c.clusterTypeID,
		c.remark,
		c.statusFlag,
		date_format(c.createDateTime,'%Y-%m-%d')
		createDateTime,
		date_format(c.updateDateTime,'%Y-%m-%d') updateDateTime
		FROM
		schoolcluster sc
		LEFT JOIN cluster c ON sc.ClusterID = c.ClusterID
		WHERE sc.StatusFlag=1 and c.StatusFlag=1 and
		sc.schoolID = #{schoolID}
	</select>
	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.print.bo.Cluster">
		SELECT
		clusterID,
		clusterName,
		clusterTypeID,
		remark,
		statusFlag,
		date_format(createDateTime,'%Y-%m-%d') createDateTime,
		date_format(updateDateTime,'%Y-%m-%d') updateDateTime
		FROM cluster
		WHERE clusterID = #{clusterID} and StatusFlag=1 limit 1
	</select>
	<select id="getSchoolIDByClusterID" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		SELECT IF(COUNT(SchoolID)>0,SchoolID,0) FROM
		`schoolcluster` WHERE
		ClusterID=#{clusterID} AND StatusFlag=1 limit 1
	</select>
</mapper>