<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.print.mapper.PrinterMapper">

	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.print.bo.Printer">
		SELECT
		printerID,
		printName,
		printCode,
		printSN,
		ip,
		mac,
		wifiSsid,
		wifiPassword,
		printerType,
		firmwareVersion,
		printerModel,
		handler,
		lng,
		lat,
		inkboxSN,
		inkboxStatus,
		printerStatus,
		remark,
		address,
		statusCode,
		date_format(reportDateTime,'%Y-%m-%d %T') reportDateTime,
		paperBoxRemain,
		date_format(createDateTime,'%Y-%m-%d %T')
		createDateTime,
		date_format(updateDateTime,'%Y-%m-%d %T')
		updateDateTime
		from printer
		where printerID=#{printerID}
	</select>
	<select id="getPrimaryByPrintSN" parameterType="java.lang.String"
		resultType="java.lang.Long">
		SELECT IF(COUNT(printerID)>0,printerID,0) FROM `printer`
		WHERE
		printSN=#{printSN} AND printerStatus=1 limit 1
	</select>

	<select id="getByClusterID" parameterType="java.lang.Long"
		resultType="com.ry.cds.print.bo.Printer">
		SELECT
		printerID,
		printName,
		printCode,
		printSN,
		ip,
		mac,
		wifiSsid,
		wifiPassword,
		printerType,
		firmwareVersion,
		printerModel,
		handler,
		lng,
		lat,
		inkboxSN,
		inkboxStatus,
		printerStatus,
		remark,
		address,
		statusCode,
		date_format(reportDateTime,'%Y-%m-%d %T') reportDateTime,
		paperBoxRemain,
		date_format(createDateTime,'%Y-%m-%d %T')
		createDateTime,
		date_format(updateDateTime,'%Y-%m-%d %T')
		updateDateTime
		from
		printercluster pc LEFT JOIN printer p on
		pc.PrinterID=p.PrinterID
		where pc.ClusterID=#{clusterID}
		AND
		pc.StatusFlag=1 and
		p.PrinterStatus=1
	</select>

	<select id="getClusterIDByPrinterID" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		SELECT IF(COUNT(clusterID)>0,clusterID,0) FROM
		`printercluster`
		WHERE
		PrinterID=#{printerID} AND StatusFlag=1
	</select>

	<update id="update" parameterType="com.ry.cds.print.bo.Printer">
		UPDATE printer
		SET
		printerType =
		#{printerType},
		printerStatus = #{printerStatus},
		statusCode =
		#{statusCode},
		ReportDateTime = now(),
		UpdateDateTime = now()
		WHERE
		printerID = #{printerID}
	</update>
</mapper>