<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.ry.cds.print.mapper.PrintTaskMapper">

	<select id="get" parameterType="java.lang.Long" resultType="com.ry.cds.print.bo.PrintTask">
		SELECT
		printTaskID,
		printRecordID,
		cardNo,
		documentID,
		schoolID,
		clusterID,
		printerID,
		taskStatus,
		printedPageCount,
		printedStartPage,
		printedEndPage,
		printPageCount,
		printStartPage,
		printEndPage,
		date_format(createDateTime,'%Y-%m-%d')
		createDateTime,
		date_format(updateDateTime,'%Y-%m-%d') updateDateTime,
		failedMessage,
		retryCount from printtask
		WHERE printTaskID = #{printTaskID}
	</select>
	<select id="getRetryCount" parameterType="java.lang.Long"
		resultType="java.lang.Integer">
		SELECT
		IF(COUNT(retryCount)>0,retryCount,0) from printtask
		WHERE
		printTaskID =
		#{printTaskID}
	</select>
	<insert id="insert" keyProperty="printTaskID" useGeneratedKeys="true"
		parameterType="com.ry.cds.print.bo.PrintTask">
		INSERT INTO printtask (
		<if test="null != printRecordID">
			printRecordID,
		</if>
		<if test="'' != cardNo and null != cardNo">
			cardNo,
		</if>
		<if test="null != documentID">
			documentID,
		</if>
		<if test="null != schoolID">
			schoolID,
		</if>
		<if test="null != clusterID">
			clusterID,
		</if>
		<if test="null != printerID">
			printerID,
		</if>
		<if test="null != taskStatus">
			taskStatus,
		</if>
		<if test="null != printedPageCount">
			printedPageCount,
		</if>
		<if test="null != printedStartPage">
			printedStartPage,
		</if>
		<if test="null != printedEndPage">
			printedEndPage,
		</if>
		<if test="null != printPageCount">
			printPageCount,
		</if>
		<if test="null != printStartPage">
			printStartPage,
		</if>
		<if test="null != printEndPage">
			printEndPage,
		</if>
		createDateTime,
		updateDateTime,
		<if test="'' != failedMessage and null != failedMessage">
			failedMessage,
		</if>
		retryCount)
		VALUES
		(
		<if test="null != printRecordID">
			#{printRecordID},
		</if>
		<if test="'' != cardNo and null != cardNo">
			#{cardNo},
		</if>
		<if test="null != documentID">
			#{documentID},
		</if>
		<if test="null != schoolID">
			#{schoolID},
		</if>
		<if test="null != clusterID">
			#{clusterID},
		</if>
		<if test="null != printerID">
			#{printerID},
		</if>
		<if test="null != taskStatus">
			#{taskStatus},
		</if>
		<if test="null != printedPageCount">
			#{printedPageCount},
		</if>
		<if test="null != printedStartPage">
			#{printedStartPage},
		</if>
		<if test="null != printedEndPage">
			#{printedEndPage},
		</if>
		<if test="null != printPageCount">
			#{printPageCount},
		</if>
		<if test="null != printStartPage">
			#{printStartPage},
		</if>
		<if test="null != printEndPage">
			#{printEndPage},
		</if>
		now(),
		now(),
		<if test="'' != failedMessage and null != failedMessage">
			#{failedMessage},
		</if>
		0
		)
	</insert>

	<update id="update" parameterType="com.ry.cds.print.bo.PrintTask">
		UPDATE printtask SET

		<if test="null != taskStatus and taskStatus != 0">
			taskStatus = #{taskStatus},
		</if>
		<if test="null != printedPageCount and printedPageCount != 0">
			printedPageCount = #{printedPageCount},
		</if>
		<if test="null != printedEndPage and printedEndPage != 0">
			printedEndPage = #{printedEndPage},
		</if>

		<if test="'' != failedMessage and null != failedMessage">
			failedMessage =#{failedMessage},
		</if>
		<if test="null != retryCount and retryCount != 0">
			retryCount = #{retryCount},
		</if>
		UpdateDateTime = now()
		WHERE printTaskID=#{printTaskID}
	</update>

	<select id="getByClusterID" parameterType="java.lang.Long"
		resultType="com.ry.cds.print.bo.PrintTask">
		SELECT
		printTaskID,
		documentID,
		printStartPage,
		printEndPage
		from printtask
		WHERE clusterID = #{clusterID} limit 1
	</select>
	<select id="getBySchoolID" parameterType="java.lang.Long"
		resultType="com.ry.cds.print.bo.PrintTask">
		SELECT
		printTaskID,
		documentID,
		printStartPage,
		printEndPage
		from printtask
		WHERE
		schoolID = #{schoolID} and ClusterID = 0
		limit 1
	</select>

	<update id="updateByClusterID" parameterType="com.ry.cds.print.bo.PrintTask">
		<selectKey keyProperty='printTaskID' resultType='java.lang.Long'
			order='BEFORE'>
			select printTaskID FROM printtask WHERE
			ClusterID = #{clusterID}
			AND
			TaskStatus = 1 LIMIT 1
		</selectKey>
		UPDATE printtask
		SET TaskStatus = 2, PrinterID =
		#{printerID}, UpdateDateTime = now()
		WHERE printTaskID =
		#{printTaskID}

	</update>
	<update id="updateBySchoolID" parameterType="com.ry.cds.print.bo.PrintTask">
		<selectKey keyProperty='printTaskID' resultType='java.lang.Long'
			order='BEFORE'>
			select printTaskID FROM printtask WHERE
			SchoolID = #{schoolID}
			AND
			TaskStatus = 1 LIMIT 1
		</selectKey>
		UPDATE printtask
		SET TaskStatus = 2,PrinterID =
		#{printerID},UpdateDateTime = now()
		WHERE printTaskID =
		#{printTaskID}

	</update>

</mapper>