<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scriptManager.mapper.ScriptsMapper" >
    <insert id="addScripts" parameterType="scriptManager.entity.Scripts">
        insert into scripts(id,title,context,type_id,user_id,business_cs_id,note)
        values(#{id},#{title},#{context},#{typeId},#{userId},#{businessCsId},#{note})
    </insert>

    <select id="queryList" parameterType="map" resultType="map">
        select scr.*,(select u.real_name from users u where u.id = scr.user_id) REALNAME,
        (select name from type t where t.id = scr.type_id) TYPE,
          (select name from business_cs where id = scr.business_cs_id) BUSINESSCS from scripts scr
          <where>
              <if test="title != null and title != ''">
                  and scr.title like '%${title}%'
              </if>
              <if test="typeId != null and typeId != ''">
                  and scr.type_id = #{typeId}
              </if>
              <if test="businessCsId != null and businessCsId != ''">
                  and scr.business_cs_id = #{businessCsId}
              </if>
          </where>
    </select>

    <update id="update" parameterType="scriptManager.entity.Scripts">
        update scripts
        <set>
            <if test="title != null and title != ''">
                title = #{title}
            </if>
            <if test="context != null and context != ''">
                context = #{context}
            </if>
            <if test="note != null and note != ''">
                note = #{note}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>